<% content_for :head do %>
  <%= stylesheet_link_tag "pages/admin/sample_attributes-bundle", :meida => 'all' %>
  <%= javascript_include_tag "jquery-interdependencies" %>
  <%= javascript_include_tag "pages/admin/surveys/bind_question-bundle" %>
  <%= javascript_tag do  %>
    // only show in this page, will not pollute others.
    var question = <%= raw @question.to_json %>;
    var attrs = <%= raw @attrs.to_json %>;
    var addr_precision = <%= raw @addr_precision %>;
  <% end %>
<% end %>

<%= render 'left_nav' %>

<div class="sample_properties">
  <%= form_tag("", method: 'put', name: 'attribute_bind_form', class: 'form-horizontal' ) do %>
    <div class="control-group">
      <label class="control-label">问题标题:</label>
      <div class="controls">
        <%= @question['content']['text'] %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">选择绑定属性:</label>
      <div class="controls">
        <select name="type" class="validate[required]">
          <option value=""></option>
          <% @attrs.each do |attr| %>
            <option data-id="<%= attr['type'] %>" value="<%= attr['_id'] %>"><%= attr['name'] %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="control-group">
        <div class="panel-wrapper"><!-- extra view for bind attr -->
        </div>
    </div>

    <div class="control-group">
      <label class="control-label">问题标题:</label>
      <div class="controls">
        <input class="btn" id="submit_bind" type="button" value="确 定">
        <%= link_to "删除属性绑定", bind_question_admin_path(@question['_id']), method: :delete, confirm: "确定要删除吗", class: "submitForm btn"   %>
      </div>
    </div>    
  <% end %>
</div>
