<%= render 'left_nav' %>
<div class="well">
  <a href="/admin/surveys/<%= params[:id]%>"><%= @survey.title %></a>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th >创建时间</th>
        <th >状态</th>
        <th >访问员姓名</th>
        <th >目标完成量</th>
        <th >提交量</th>
        <th >拒绝量</th>
      </tr>
    </thead>
    <tfoot>
      <tr></tr>
    </tfoot>
    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <td><%= task.created_at.strftime('%F') %></td>
        <td><%= interviewer_format(task.status.to_i) %></td>
        <td><%= task.user.nickname %></td>
        <td><%= %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>