
<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/surveys/presurvey-bundle" %>
  <%= stylesheet_link_tag "pages/admin/presurvey-bundle", :meida => 'all' %>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-list flowy-admin-sidenav">
    <li>
      <a href="/admin/surveys">
      <i class="icon-chevron-right"></i>
      调研列表
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>">
        <i class="icon-chevron-right"></i>
        基本信息
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>">
        <i class="icon-chevron-right"></i>
        问卷查看
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>/presurvey_schemes">
        <i class="icon-chevron-right"></i>
        奖励方案
      </a>
    </li>    
    <li class="active">
      <a href="/admin/surveys/<%= params[:id]%>/presurvey">
        <i class="icon-chevron-right"></i>
        预调研
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>/interviewer_task">
        <i class="icon-chevron-right"></i>
        访问员设置
      </a>
    </li>      
  </ul>
<% end %>

<div class="well">
  <ul class="">
  <% @presurvey_schemes.each_with_index do |presurvey_scheme, index| %>
    <li><a href="?editing=<%= presurvey_scheme["_id"] %>">方案-<%= "#{index} #{presurvey_scheme['name']}" %> </a></li>
  <% end %>
    <li><a href="?">创建预调研方案</a></li>
  </ul>
</div>

<legend>奖励方案设置</legend>

<form action="/admin/presurvey_schemes<%= "/#{params[:editing]}" if params[:editing] %>"
      name="survey"
      enctype="multipart/form-data"
      method="post"
      id="survey_form"
      class="form-horizontal"
>
  <input value="<%= params[:editing] ? 'put' : 'post' %>" type='hidden' name="_method">
  <input value="<%= params[:id] %>" type='hidden' name="presurvey_scheme[survey_id]">
  <input value="<%= params[:editing] %>" type='hidden' name="presurvey_scheme[id]">
  <input value="<%=
    if @editing_rs["prizes"].present?
      "prize"
    elsif @editing_rs["point"].present? && @editing_rs["point"].to_s != '0'
      "point"
    elsif !@editing_rs["rewards"].present?
      "free"
    else
      "cash"
    end
  -%>" type='hidden' id="reward_type" name="presurvey_scheme[type]">


  <div class="control-group">
    <label class="control-label" >预调研方案名称:</label>
    <div class="controls">
      <input type="text" name="presurvey_scheme[name]" class="input-large" placeholder="名称" value="<%= @editing_rs["name"] %>">
    </div>
  </div>   

  <div class="control-group">
    <label class="control-label" >请选择要添加的问卷:</label>
    <div class="controls">
      <div>
        <select id="e1">
          <% @surveys.each do |survey| %>
            <option value="<%= survey._id %>"><%= survey.title %></option>
          <% end %>
        </select>
        <input type="hidden" name="presurvey_scheme[is_free]" id="ipt_free"/>        
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >已选择的问卷:</label>
    <div class="controls">
      <div>
        <ul>
          <li>问卷 <a href="#">移除</a></li>
          <li>问卷 <a href="#">移除</a></li>
          <li>问卷 <a href="#">移除</a></li>
          <li>问卷 <a href="#">移除</a></li>
        </ul>
        <input type="hidden" name="presurvey_scheme[is_free]" id="ipt_free"/>        
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >请设定问题:</label>
    <div class="controls">
      <div>
        <span>
          <p>1. 这里是一个问题 </p>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 1 
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 2
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 3
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox"><i>模糊匹配</i>
          </label>             
        </span>
        <span>
          <p>2. 这里是一个问题 </p>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 1 
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 2
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 3
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox"><i>模糊匹配</i>
          </label>             
        </span>
        <span>
          <p>2. 这里是一个问题 </p>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 1 
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 2
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 3
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox"><i>模糊匹配</i>
          </label>             
        </span>
        <span>
          <p>2. 这里是一个问题 </p>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 1 
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 2
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 3
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox"><i>模糊匹配</i>
          </label>             
        </span>
        <span>
          <p>2. 这里是一个问题 </p>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 1 
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 2
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox">答案 3
          </label>
          <label class="checkbox">
            <input id="1914171187672764" class="modelinker " data-mid="1914171187672764" value="0" data-linker="attr.522884c0eb0e5b0845000004.ary_0" type="checkbox"><i>模糊匹配</i>
          </label>             
        </span>                
        <input type="hidden" name="presurvey_scheme[is_free]" id="ipt_free"/>        
      </div>
    </div>
  </div>  
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary">保存</button>
    </div>
  </div>
</form>

<% content_for :foot do %>

<% end %>
