<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/surveys/promote-bundle" %>
  <%= stylesheet_link_tag "pages/admin/surveys-bundle", :meida => 'all' %>
  <script type="text/javascript">

  </script>
<% end %>
<% content_for :sidebar do %>
  <ul class="nav nav-list flowy-admin-sidenav">
    <li>
      <a href="/admin/surveys">
      <i class="icon-chevron-right"></i>
      调研列表
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>/questions">
        <i class="icon-chevron-right"></i>
        问卷查看
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>/reward_schemes">
        <i class="icon-chevron-right"></i>
        奖励方案
      </a>
    </li>
    <li class="active">
      <a href="/admin/surveys/<%= params[:id]%>/promote">
        <i class="icon-chevron-right"></i>
        推送渠道
      </a>
    </li>
  </ul>
<% end %>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#attr_setting">样本属性约束设置</a></li>
  <li><a href="#promote_setting">推送渠道设置</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="attr_setting" style="height:480px">
    <div id="attr-panel">
      <div id="attr-placeholder"></div>
    </div>
    <div id="add_panel">
      <div class="btn-group">
        <a  id="attr_add_btn" class="btn btn-large btn-blocks btn-success dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-plus-sign"></i> 添加一组约束
          <span class="caret"></span>
        </a>
        <ul id="btn_panel" class="dropdown-menu">
          <!-- dropdown menu links -->
        </ul>
      </div>      
    </div>
  </div>
  <div class="tab-pane" id="promote_setting" style="height:480px">
    
  </div>
</div>