
<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/surveys/show-bundle" %>
<% end %>

<% content_for :sidenav do %>
  <li>
    <a href="/admin/surveys">
    <i class="icon-chevron-right"></i>
    调研列表
    </a>
  </li>
  <li>
    <a href="/admin/surveys/<%= params[:id]%>">
      <i class="icon-chevron-right"></i>
      基本信息
    </a>
  </li>
  <li class="active">
    <a href="/admin/surveys/<%= params[:id]%>">
      <i class="icon-chevron-right"></i>
      问卷查看
    </a>
  </li>
  <li>
    <a href="/admin/surveys/<%= params[:id]%>/reward_schemes">
      <i class="icon-chevron-right"></i>
      奖励方案
    </a>
  </li>
  <li class="active">
    <a href="/admin/surveys/<%= params[:id]%>/promote">
      <i class="icon-chevron-right"></i>
      推送渠道
    </a>
  </li>
<% end %>


<% content_for :foot do %>

<% end %>
