<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/surveys/show-bundle" %>
<% end %>

<%= render 'left_nav' %>

<legend><%= @survey["title"] %></legend>

<% qcount = 0 %>
<% @questions.each do |question_id, question| %>

  <div class="well well-small">
    <p> Q<%= "#{qcount += 1}. <#{question['question_type']}> #{"[逻辑控制]" if question['is_logic_control']} #{question['content']['text'].gsub(/<[^>]*>/, '')}" %> 
      <a href="/admin/surveys/<%= question_id %>/bind_question" data-id="/admin/sample_attributes/bind_question/<%= question_id %>" target="_blank"><i class="icon-edit"></i></a>
    </p>
    <ul>
      <% question["issue"]["items"].try('each') do |item| %>
      <li>
        <%= item["content"]["text"] %> 
        <img src="<%= item["content"]["img"] %>">
        <%= "[逻辑控制-#{item['logic_control_type']}#{'-模糊' if item["is_fuzzy"]}]" if item["is_logic_control"] %> 
      </li>
      <% end -%>
    </ul>
  </div>
<% end -%>
<% content_for :foot do %>

<% end %>
