<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/surveys/interviewer_task-bundle" %>
   <%= javascript_tag do  %>
    window.survey_id = <%= raw params[:id].to_json %>;
  <% end %> 
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-list flowy-admin-sidenav">
    <li>
      <a href="/admin/surveys">
      <i class="icon-chevron-right"></i>
      调研列表
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>">
        <i class="icon-chevron-right"></i>
        问卷查看
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>/reward_schemes">
        <i class="icon-chevron-right"></i>
        奖励方案
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>/promote">
        <i class="icon-chevron-right"></i>
        推送渠道
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>/pre_surveys">
        <i class="icon-chevron-right"></i>
        预调研
      </a>
    </li>     
    <li>
      <a href="javascript:void(0);">
        <i class="icon-chevron-right"></i>
        绑定样本属性
      </a>
    </li> 
    <li >
      <a href="/admin/surveys/<%= params[:id]%>/interviewer_task">
        <i class="icon-chevron-right"></i>
        访问员设置
      </a>
    </li>
    <li class="active">
      <a href="/admin/surveys/<%= params[:id]%>/supervisor">
        <i class="icon-chevron-right"></i>
        监督员设置
      </a>
    </li>       
  </ul>
<% end %>
<div class="well">
  <a href="/admin/surveys/<%= params[:id]%>"><%= @survey.title %></a>
</div>
<div>
  <a href="/admin/surveys/<%= params[:id]%>/new_supervisor" class="btn btn-primary pull-right">新增监督员
  </a>
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th >昵称</th>
        <th >邮箱</th>
      </tr>
    </thead>
    <tfoot>
      <tr></tr>
    </tfoot>
    <tbody>
      <% @supervisors['data'].each do |supervisor| %>
      <tr data="<%= supervisor.id%>">
        <td><%= supervisor.user.nickname %></td>
        <td><%= supervisor.user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <span class="pull-right">
    <%= paginator_mini @supervisors %>
  </span>  
</div>