<table cellpadding="0" cellspacing="0" width="723" class="tableStatic">
  <thead>
    <tr>
      <th width="25%">邮箱</th>
      <th width="25%"><%= params[:scope] == 'unsubscribed' ? '退订时间' : '订阅时间' %></th>
      <th width="25%">接收杂志次数</th>
      <th width="25%">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @subscribers["subscribers"]['data'].each_with_index do |subscriber, i| %>
    <% next unless subscriber%>
    <tr class="gradeX">
      <td><%= subscriber["email"] %></td>
      <td><%= params[:scope] == 'unsubscribed' ? subscriber["unsubscribed_at"] : subscriber["created_at"] %></td>
      <td class="center"><%= subscriber["delivered_count"] %></td>
      <td class="center"><%= subscribe_status(subscriber) %> |<a href= <%=subscriber['_id'] %> class="od-delete-btn">删除</a></td>
    </tr>
    <% end -%>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6"><%= paginator_tag_ajax @subscribers["subscribers"] %></td>
    </tr>
    <tr>
      <td colspan="6">&nbsp;</td>
    </tr>
  </tfoot>
</table>

