<!-- content for head -->
<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/netranking_users-bundle" %>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-list flowy-admin-sidenav">
    <li>
      <a href="/admin/newsletters">
      <i class="icon-chevron-right"></i>
      电子杂志列表
      </a>
    </li>
    <li>
      <a href="/admin/newsletters/new">
        <i class="icon-chevron-right"></i>
        新建电子杂志
      </a>
    </li>
    <li>
      <a href="/admin/subscribers">
        <i class="icon-chevron-right"></i>
        订阅管理
      </a>
    </li>
    <li>
      <a href="/admin/newsletters/sms">
      <i class="icon-chevron-right"></i>
      群发短信
      </a>
    </li>
    <li>
      <a href="/admin/newsletters/upload_attachment">
      <i class="icon-chevron-right"></i>
      清研杂志
      </a>
    </li>
    <li class="active">
      <a href="/admin/netranking_users">
      <i class="icon-chevron-right"></i>
      清研杂志用户列表
      </a>
    </li>
  </ul>
<% end %>

<div>
  <%= form_tag("/admin/netranking_users/import", method: "post", multipart: true) do %>
    <p>
      <%= label_tag :file, "批量导入：上传文本文件，文件中每一行为一个邮箱地址" %>
      <%= file_field_tag "file" %>
      <%= submit_tag "上传" %>
    </p>
  <% end %>
  <%= form_tag('/admin/netranking_users', method: :post) do %>
    <span>逐个添加：</span>
    <%= text_field_tag 'email' %>
    <%= submit_tag '添加' %>
  <% end %>
</div>
<br />

<div>
  <span class="pull-left">
    <%= form_tag('/admin/netranking_users', method: :get) do %>
      <%= text_field_tag 'search', "#{params[:search]}" %>
      <%= submit_tag '搜索' %>
    <% end %>
  </span>
  <span class="pull-right">
    <%= paginator_mini @netranking_users %>
  </span>
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="30%">邮箱</th>
        <th >操作</th>
      </tr>
    </thead>
    <tbody>
      <% @netranking_users['data'].each do |e| %>
      <tr>
        <td><%= e.email %></td>
        <td>
          <div class="btn-group">
            <a class="od-delete btn btn-min btn-danger" href="javascript:void(0)" data-id="<%= e._id %>" title="Delete">删除</a>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
