<% content_for :head do %>
  <%= stylesheet_link_tag "pages/sample/forget_password-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/sample/forget_password-bundle" %>
  <script type="text/javascript">
   window.forget_account = "<%= @acc %>"
   if(window.forget_account.length < 1){
    window.forget_account = "<%= Base64.decode64(params[:key]) if params[:key].present? %>" 
   }
   
  </script>
<% end %>
  <div class="login_con">
    <div class="title">
      <h1>找回密码</h1>
    </div>  
    <div class="content">
      <div class="process-show">
        <div class="tab <%= @step == 'first' ? 'actived' : 'fixed'%>">
          <div class="text">填写帐户名</div>
          <div class="line fir">
            <div class="num"></div>
          </div>
        </div>
        <div class="tab  <%= @step == 'second' ? 'actived' : (@step == 'first' ? 'tab' : 'fixed') %>">
          <div class="text">验证身份</div>
          <div class="line sec">
            <div class="num"></div>
          </div>
        </div>
        <div class="tab <%= @step == 'third' ? 'actived' : (@step == 'fourth' ? 'fixed' : 'tab') %>">
          <div class="text">设置新密码</div>
          <div class="line three">
            <div class="num"></div>
          </div>
        </div>
        <div class="tab <%= @step == 'fourth' ? 'actived' : 'tab' %>">
          <div class="text">完成</div>
          <div class="line four">
            <div class="num"></div>
          </div>
        </div>        
      </div>

      <div class="form">
        <div class="acc">
          <% if @step == 'first' %>
            <div class="first">
              <label>帐户名 :</label>
              <input type="text" name="account" placeholder="请输入邮箱/已验证手机号">
            </div>
          <% elsif @step == 'second' %>
            <div class="second">
              <p>
                <img src="/assets/od-quillme/right.jpg" />
                <span>
                  <% if @acc.match(/\A([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})\Z/i)%>
                    邮件已发送
                  <% else %>
                    手机验证码已发送
                  <% end %>
                </span>
              </p>
              <% if @acc.match(/^(13[0-9]|15[012356789]|18[0236789]|14[57])[0-9]{8}$/i)%>
                <div class="identifying_code  wraper">
                  <label>
                    验证码:
                  </label>
                  <input type="text" name="verify_code" class="verify_code" placeholder="   请输入验证码">              
                  <button class="send_code" disabled="disabled">
                    正在发送......
                  </button>              
                </div>              
              <% end %>
            </div>
          <% elsif @step == 'third' %>
            <div class="fourth">
              <label>设置密码:</label>
              <input type="password" name="password" placeholder="请输入新密码">
            </div>
            <div class="fourth">
              <label>确认密码:</label>
              <input type="password" name="password_confirmation" placeholder="请确认新密码">
            </div>
          <% elsif @step == 'fourth' %>
            <div class="fourth">
              <p>
                <img src="/assets/od-quillme/right.jpg" />
                <span>新密码设置成功</span>
              </p>
              <span class="notice">请牢记您的新密码。<a href="<%= home_path%>">返回首页</a></span>
            </div>
          <% end %>
        </div>
        <% if @step != 'fourth' %>
          <div>
            <button class="<%= @step %> next">下一步</button>
            <% if @step == 'second' && @acc && @acc.match(/\A([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})\Z/i)%>
              <a href="javascript:void(0);" class="re_mail" account = "<%= @acc %>">重新发送</a>
            <% end %>
          </div>
        <% end %>
      </div>


    </div>   
  </div>
