<% content_for :head do %>
  <%= javascript_include_tag "pages/filler/answer-mobile" %>
  <%= javascript_include_tag "pages/filler/ask_for_mobile-mobile" %>
  <%= stylesheet_link_tag    "pages/filler/answer-mobile" %>
  <%= stylesheet_link_tag    "pages/filler/ask_for_mobile-mobile" %>
  <script type='text/javascript'>
    var aid = '<%= "#{params[:id]}" %>';
  </script>
<% end %>

<div id="f_body">
  <div id="sf_main">
    <h2 class="title"><%= @survey[:title]%></h2>
  </div>
  <div class='page'>
    <div class='describe'>
      为了保证问卷数据的真实性，请输入您的手机号码参与问卷 
    </div>
    <div class="login-panel">
      <input id='username_ipt' type="text" class='username' placeholder="请输入您的手号码" autofocus />
      <p><a href="javascript:void(0);" id="start_btn" class="btn">提交</a></p>
    </div>
  </div>
</div>