<%
	if @page_title.blank?
		if @survey_closed
			@page_title = '错误 - 问卷已经关闭'
		else
			@page_title = "#{@is_preview ? '答题预览 - ' : ''}#{@survey.title}"
		end
	end
%>

<% content_for :head do %>
	<%= javascript_include_tag "pages/filler/answer-mobile" %>
	<%= stylesheet_link_tag    "pages/filler/answer-mobile" %>

	<script type="text/javascript">
	jQuery(function($) {
		var survey_model = new quill.models.Survey(<%= raw @survey.to_json %>);
		var survey_filler = new quill.views.SurveyFiller({
			model: survey_model,
			is_preview: <%= @is_preview %>,
			reward: {
				id: <%= raw @reward_scheme_id.to_json %>,
				reward_scheme_type: <%= @reward_scheme_type %>,
				<% if @reward_scheme_type == 1 %>
				reward_money: <%= @reward_money %>,
				<% elsif @reward_scheme_type == 2 %>
				reward_point: <%= @reward_point %>,
				<% elsif @reward_scheme_type == 3 %>
				prizes: <%= raw @prizes.to_json %>,
				lottery_started: <%= raw @lottery_started.to_json %>,
				<% end %>
			},
			answer_id: '<%="#{params[:id]}" %>',
			is_agent:<%= @answer.agent_task.present? %>,
			data: <%=@data ? (raw @data.to_json.gsub("</", "<\\/")) : 'null' %>, // 避免script标签
			signin: <%= user_signed_in %>,
			email: <%= raw current_user.try(:email).to_json %>,
			mobile: <%= raw current_user.try(:mobile).to_json %>,
			spread_point: <%= raw @survey['spread_point'] %>,
			spread_url: window.spread_url,
			binded: <%= raw @binded %>
		});
	});
	</script>
<% end %>



<h2 class="title"><%= @survey['title'] %></h2>
<% if @survey['style_setting']['has_progress_bar'] %>
	<div class="progress" id="progress">
		<em></em>
		<span class="progress-number" id="progress_txt"></span>
	</div>
<% end %>

<div id="f_body"></div>