<table cellpadding="0" cellspacing="0" width="723" class="tableStatic">
  <thead>
    <tr>
      <th width="25%">主题</th>
      <th width="25%">创建时间</th>
      <th width="25%">状态</th>
      <th width="25%">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @ejournals["data"].each_with_index do |ejournal, i| %>
    <tr class="gradeX">
      <td><a href="<%= admin_ejournals_path %>/<%= ejournal["_id"] %>" title="title"><%= ejournal["title"] %></a></td>
      <td><%= ejournal["created_at"] %></td>
      <td class="center"><%= ejournal_status(ejournal) %></td>
      <td class="center">
        <a href='<%= admin_ejournals_path %>/<%= ejournal["_id"] %>' >查看</a>
<!--         <a href='<%= admin_ejournals_path %>/<%= ejournal["_id"] %>/test' >测试</a> |
        <a href='<%= admin_ejournals_path %>/<%= ejournal["_id"] %>' >查看</a> | <a href='#' id='btn_delete'>删除</a></td> -->
    </tr>
    <% end -%>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6"><%= paginator_tag_ajax @ejournals %></td>
    </tr>
    <tr>
      <td colspan="6">&nbsp;</td>
    </tr>
  </tfoot>
</table>

