<!-- content for head -->
<% content_for :head do %>
<%= javascript_include_tag "pages/admin/common/od_admin_tab-bundle" %>
<%= javascript_include_tag "pages/admin/ej_index-bundle" %>
<% end %>

<!-- put html code below -->
<%= notice_auto %>
<div class="title"><h5>电子杂志管理</h5></div>
<div class="widget tabsRight">
  <div class="head"><h5 class="iFrames">电子杂志</h5></div>
  <ul class="tabs">
    <!-- 链接必须指向对应DIV的ID标签 -->
    <li><a href="#all" class="tab-label default-tab" id="tab-all">全部</a></li>
    <li><a href="#editing" class="tab-label" id="tab-editing">编辑中</a></li>
    <li><a href="#delivering" class="tab-label" id="tab-delivering">发送中</a></li>
    <li><a href="#delivered" class="tab-label" id="tab-delivered">已发送</a></li>
    <li><a href="#canceled" class="tab-label" id="tab-canceled">已取消</a></li>
  </ul>

  <div class="tab_container">
    <div class="tab_content nopadding" id="all"><%= ajax_loader_img %></div> <!--#tab1 结束 -->
    <div class="tab-content nopadding" id="editing"><%= ajax_loader_img %></div>
    <div class="tab-content nopadding" id="delivering"><%= ajax_loader_img %></div>
    <div class="tab-content nopadding" id="delivered"><%= ajax_loader_img %></div>
    <div class="tab-content nopadding" id="canceled"><%= ajax_loader_img %></div>
  </div>
  <div class="fix"></div>

</div>
