<div id='sf_main'>
	<div class='welcome no_reward'>
		<div class='inner'>
			<h1>{{title}}</h1>
			<div class='msg waiting'>
				<em></em>
				<span>
					<b>答题完成，等待审核答案。{{#if publish_result}}<a href='/surveys/{{survey_id}}/result'>查看问卷报告</a>{{/if}}</b><br />
					审核大约需要 24 小时，审核通过后，您将获得<em>{{reward_point}}</em>积分奖励，积分可<a href='/gifts' target='_blank'>兑换礼品</a>。
					{{#if spreadable}}
					<br /><a id='start_spread' href='javascript:void(0);'>邀请好友答题</a> 再获<em>{{spread_point}}</em>积分奖励。
					{{/if}}
					{{#if show_subscribe}}
					<br />（<a id='subscribe_btn' href='/surveys#subscribe' target='_blank'>订阅</a>问卷提醒，不错过任何问卷）
					{{/if}}
					{{#if signin}}
					{{else}}
					<br />点击下面按钮登录系统（未注册者需先注册），可对审核状态进行跟踪。
					{{/if}}
				</span>
			</div>
			<div class='form'>
				{{#if signin}}
				<button id='my_surveys_btn'>查看我参加过的调研列表</button>
				{{else}}
				<button id='signin_btn'>登录系统跟踪审核状态</button>
				{{/if}}
			</div>
		</div>
	</div>
</div>