<div id='sf_main'>
	<div class='welcome no_reward'>
		<div class='inner'>
			<h1>{{title}}</h1>
			<div class='msg {{#if waiting}}waiting{{/if}} {{#if success}}green{{/if}} {{#if failed}}red{{/if}}'>
				<em></em>
				<span>
					{{#if failed}}
					<b>答卷未通过审核</b><br />
					{{else}}
					<b>答题完成啦！{{#if ../publish_result}}<a href='/surveys/{{../survey_id}}/result'>查看问卷报告</a>{{/if}}</b><br />
					{{/if}}
					
					{{#if waiting}}
					奖励兑换已经提交，订单号为：<em>{{order_code}}</em><br />
					我们正在处理您的订单{{#if signin}}。{{else}}，点击下面按钮登录系统（未注册者需先注册）可跟踪订单状态。{{/if}}
					{{#if spreadable}}
					<br /><a id='start_spread' href='javascript:void(0);'>邀请好友答题</a> 再获<em>{{spread_point}}</em>积分奖励。
					{{/if}}
					{{#if show_subscribe}}
					<br />（<a id='subscribe_btn' href='/surveys#subscribe' target='_blank'>订阅</a>问卷提醒，不错过任何问卷）
					{{/if}}
					{{/if}}

					{{#if success}}
					我们已经向您发放了<em>{{reward_money}}</em>元奖励，如长时间未收到请<a href='/help/aboutus#contact' target='_blank'>联系客服</a>。
					{{#if spreadable}}
					<br /><a id='start_spread' href='javascript:void(0);'>邀请好友答题</a> 再获<em>{{spread_point}}</em>积分奖励。
					{{/if}}
					{{#if show_subscribe}}
					<br />（<a id='subscribe_btn' href='/surveys#subscribe' target='_blank'>订阅</a>问卷提醒，不错过任何问卷）
					{{/if}}
					{{/if}}

					{{#if failed}}
					很抱歉，您的答卷未通过管理员审核，系统已经取消您的奖励兑换申请，如有疑问请<a href='/'>联系客服</a>。 
					{{/if}}
				</span>
			</div>
			<div class='form'>
				{{#if waiting}}
				{{#if signin}}
				<button id='my_order_btn'>查看订单状态</button>
				{{else}}
				<button id='signin_btn'>登录系统跟踪订单状态</button>
				{{/if}}
				{{/if}}

				{{#if success}}
				<button id='close_btn'>关闭窗口</button>
				{{/if}}

				{{#if failed}}
				<button id='close_btn'>关闭窗口</button>
				{{/if}}
			</div>
			<div class="share">
				<div class="jiathis_style">
					<span class="jiathis_txt">分享到：</span>
					<a class="jiathis_button_tools_1"></a>
					<a class="jiathis_button_tools_2"></a>
					<a class="jiathis_button_tools_3"></a>
					<a class="jiathis_button_tools_4"></a>
					<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
				</div>	
			</div>
			
		</div>
	</div>
</div>