<div id='sf_main'>
	<div class='welcome no_reward'>
		<div class='inner'>
			<h1>{{title}}</h1>
			<div class='msg green'>
				<em></em>
				<span>
					<b>答题完成啦！{{#if publish_result}}<a href='/surveys/{{survey_id}}/result'>查看问卷报告</a>{{/if}}</b>
          {{#if is_iqiyi}}
          <br />答题完成了!快去领取答题奖励吧！ 
          {{else}}
          <br />您的观点对我们很重要，感谢您参加本次调研。
          {{/if}}
					{{#unless agent}}
					{{#if spreadable}}
					<a id='start_spread' href='javascript:void(0);'>邀请好友答题</a> 获取<em>{{spread_point}}</em>积分奖励。
					{{/if}}
					{{#if show_subscribe}}
					<!--<br />（<a id='subscribe_btn' href='/surveys#subscribe' target='_blank'>订阅</a>问卷提醒，不错过任何问卷）-->
					{{/if}}
					{{/unless}}
				</span>
			</div>
			<div class='form'>
				{{#if is_iqiyi}}
					<button id='close_btn' style="font-size: 22px;">领取答题奖励</button>
				{{else}}
					<button id='close_btn'>关闭窗口</button>
				{{/if}}
			</div>
		</div>
	</div>
</div>