<div class="page">
	<div class="finished-page">
		<div id="sf_main">
			感谢您参加本次调研。

			{{#if reward_point}}
			<br />您已经获得 {{point}} 积分奖励，
			{{#if signin}}
			<a href='/rewards'>点击此处</a>查看积分详情。
			{{else}}
			使用答题邮箱<a href='/sign_up'>注册登录</a>后可查看积分详情。
			{{/if}}
			{{/if}}

			{{#if reward_lottery}}
			<br />您已经获得一次<a href="/lotteries/{{lottery_id}}">{{{lottery_title}}}</a>抽奖机会，
			{{#if signin}}
			<a href='/lotteries/own'>点击此处</a> 查看抽奖号。
			{{else}}
			抽奖号码及抽奖方式已经发送至您的邮箱，请注意查收。
			{{/if}}
			{{/if}}
			<a class="edit-finish" href="javascript:void(0);" id="close_btn">关闭窗口</a>	
		</div>
	</div>
</div>
{{#if show_restart}}
<div class="footer">
	<a href="javascript:void(0)" class="resume" id="restart_btn">重新答题</a>
</div>
{{/if}}