<div class="page">
	<div class="describe">
		<div class="answer_finish">
			{{#if failed}}
				<b>答卷未通过审核</b>
			{{else}}
				<b><i></i>订单完成啦！</b>
			{{/if}}
	
			{{#if waiting}}
				<div>
				订单已提交，订单号为：<em>{{order_code}}</em><br />
				</div>
			{{/if}}
	
			{{#if success}}
				<div>
					我们已经向您发放了<em>{{reward_money}}</em>元奖励，如长时间未收到请<a href='/help/aboutus#contact' >联系客服</a>。
				</div>
			{{/if}}
		
			{{#if failed}}
				<div>
					很抱歉，您的答卷未通过管理员审核，系统已经取消您的奖励兑换申请，如有疑问请<a href='/help/aboutus#contac'>	联系客服</a>。
				</div>
			{{/if}}	
		</div>	
	</div>

	
		<div class="share">
			{{#if signin}}		
				<button id="get_order" ref="/users/orders">查看详情</button>
			{{else}}
				<button id="get_order" >登录领取</button>
			{{/if}}
			{{#if spreadable}}
			  <button id="socal_share">分享得{{spread_point}}积分</button>
			{{else}}
				<button id="socal_share">分享问卷</button>
			{{/if}}				
		</div>			
	
</div>