<div id='sf_main'>
	<div class='welcome no_reward'>
		<div class='inner'>
			<h1>{{title}}</h1>
			<div class='msg green'>
				<em></em>
				<span>
					<b>答题完成啦！{{#if publish_result}}<a href='/surveys/{{survey_id}}/result'>查看问卷报告</a>{{/if}}</b><br />
					您获得了一次抽奖机会，点击下方蓝色按钮开始抽奖。
					{{#if spreadable}}
					<a id='start_spread' href='javascript:void(0);'>邀请好友答题</a> 再获<em>{{spread_point}}</em>积分奖励。
					{{/if}}
				</span>
			</div>
			<div class='award_lottery'>
				<ul>
					{{#each prizes}}
					<li>
						<img src="{{photo_url}}" />
						<span>{{title}}（数量{{amount}}）</span>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class='form'>
				<button id='ok_btn'>开始抽奖</button>
			</div>

			<div class="share">
				<div class="jiathis_style">
					<span class="jiathis_txt">分享到：</span>
					<a class="jiathis_button_tools_1"></a>
					<a class="jiathis_button_tools_2"></a>
					<a class="jiathis_button_tools_3"></a>
					<a class="jiathis_button_tools_4"></a>
					<a class="jiathis_button_tools_5"></a>
					<a class="jiathis_button_tools_6"></a>
					<a class="jiathis_button_tools_7"></a>
					<a class="jiathis_button_tools_8"></a>	
					<a class="jiathis_button_tools_9"></a>
					<a class="jiathis_button_tools_10"></a>	
					<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
				</div>	
			</div>

		</div>
	</div>
</div>