<p>
	<input type="{{type}}" name="{{row_id}}" value="" id="{{row_id}}_{{item_id}}" class="{{#if is_exclusive}}is_exclusive{{/if}}" />
	<label for="{{row_id}}_{{item_id}}">{{{item_text}}}</label>
</p>	