<p>您的调查问卷<strong>《<%=@survey.title%>》</strong>的发布申请没有通过审核，原因如下：</p>
<p class='reason'><%=@message%></p>
<br />
<p>点击下面按钮修改问卷：</p>
<p><a class='od-button' href='<%=@url%>'>修改问卷</a></p>
<br />
<p>如果上述按钮无效，您也可点击下面链接进行修改：</p>
<p><a class="activate-link" href="<%=@url%>"><%=@url%></a></p>
<br />
<p>感谢您选择优数调研。</p>