<p>邀请您填写下列问卷：</p>
<div class='surveys'>
	<%- @surveys.each do |s| %>
	<div class='survey'>
		<a href="<%= Rails.application.config.quillme_host %>/s/<%= s._id %>" target="_blank" class='s-link'><%= s.title %></a>
		<!-- TODO: 根据问卷的奖品类型，显示不同的文字 -->
		<!-- （可获得<b class='reward'>10</b>积分） -->
		<!-- （可参加抽奖：<a class='reward' href='javascript:void(0);'>新年抽 ipad</a>） -->
	</div>
	<%- end %>
</div>
<br />
<p>优数调研提供了丰富的礼品供您兑换，还有各种大奖等你来抽，快快参加调研吧！</p>
<div class='presents'>
	<%- @presents.each do |p| %>
	<a class='present'>
		<img src="<%=p[:img_url]  %>" class='present-img' />
		<span href="<%=p[:url]  %>" class='present-title'><%= p[:title] %></span>
	</a>
	<%- end %>
</div>