<% content_for :head do %>
  <%= stylesheet_link_tag "pages/sample/homes-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/sample/homes-bundle", :media => "all" %>
  <script type="text/javascript">
    <% if user_signed_in %>
      window.current_user_id = "<%= current_user.id %>"
    <% end %>   
    jQuery(function(){
      // carnival
      setTimeout(function() {
        $('#carnival').slideDown(1500);
        setTimeout(function() {
          $('#carnival').slideUp(1500);
        }, 15000);
      }, 500);
      });
    jQuery(function(){
      //投票Tab
      var aLi = $('.vote-class li');
      var aDiv = $('.vote-list');
      var aLink = $('.button-list a');
      aLi.click(function() {
        aLi.removeClass('active');
        $(this).addClass('active');
        aDiv.removeClass('dn');
        aDiv.eq($(this).index()).addClass('dn');
      });
      aLink.click(function() {
        $(this).parent().html('已参与');
      });
    });
  </script>
<% end %>
<% if @data[:hot_survey].present? %>
  <div class="hot-research-banner inner-page">
    <strong>
      <a href="javascript:void(0);">
        <%= @data[:hot_survey]['title']%>
      </a>
    </strong>
    <a href="/s/<%= @data[:hot_survey]['quillme_promote_info']['reward_scheme_id']%>" class="involved-btn">我是新用户
      <span></span>
      <a href="javascript:void(0);" class="involved-btn old" data="<%= @data[:hot_survey]['spread_point']%>" s_title= "<%= @data[:hot_survey]['title'] %>" scheme_id="<%= @data[:hot_survey]['quillme_promote_info']['reward_scheme_id']%>">我是老用户
        <span></span>
      </a>
    </a>
  </div>
<% end %>
<div class="inner-page fix">
  <!-- 焦点图切换 -->
  <div id="slideBox" class="slider">
    <% if @data[:banners].length > 0 %>
      <div class="hd">
        <ul>
          <% @data[:banners].each_with_index do |banner,idx|%>
            <li><%= idx + 1 %></li>
          <% end %>
        </ul>  
      </div>
      <div class="bd">
        <ul>
          <% @data[:banners].each do |banner|%>
            <li><%= image_tag(banner.image.url) %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="hd">
        <ul><li>1</li><li>2</li><li>3</li></ul>
      </div>
      <div class="bd">
        <ul>
          <li><a href="javascript:void(0);"><img src="/assets/od-quillme/banner/banner_carnival.jpg" /></a></li>
          <!-- <li><img src="/assets/od-quillme/banner/banner_1.png" /></li> -->
          <li><img src="/assets/od-quillme/banner/banner_2.png" /></li>
          <li><img src="/assets/od-quillme/banner/banner_3.png" /></li>
        </ul>
      </div>    
    <% end %>

  </div>
  <!-- 公告 -->
  <div class="bulletin dashed-box r">
    <div class="dashed-box-inner">
      <div class="dashed-box-inner-top">
        <h3 class="box-title">问卷吧快报</h3>
        <a href="<%= public_notices_path %>" class="more">更多</a>
      </div>
      <% if @data[:public_notices].present? %>
      <ul>
        <% @data[:public_notices].each_with_index do |pn,index| %>
          <li <%= hide_border?(@data[:public_notices].to_ary,index) %>>
            <a href="<%= public_notice_path(pn['_id']) %>">
              <span class="bulletin-title <%= 'top' if pn.top %>">
                <%= "【置顶】" if pn.top %>
                <%= truncate("#{pn['title']}", :length => 25)%>
              </span>
            </a>
            <span class="time">
              <%= Date.strptime("#{pn['created_at']}", "%Y-%m-%d") %></span>
          </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>

<div id="vote" class="inner-page mt20">
  <div class="dashed-box">
    <div class="dashed-box-inner">
      <div class="dashed-box-inner-top">
        <h3 class="box-title">影片小调查</h3>
        <ul class="vote-class">
          <li class="active"><a class="right" href="javascript:;">正在热播</a></li>
          <li><a class="left" href="javascript:;">即将上映</a></li>
        </ul>
      </div>
      <div class="vote-list dn">
        <ul>
          <% @data[:movies][3..5].each_with_index do |movie,idx|%>
            <li <% if idx == 2 %>style="border:none;margin:0;"<% end%> >
              <span class="movie-name"><%=movie.title%></span>
              <span class="movie-img"><img src="<%=movie.poster %>" alt="<%= movie.title%>" /></span>
              <span class="time">上映日期: <%= Time.at(movie.info_show_at).strftime('%F') %></span>
              <span class="actor">主演:<%=movie.info_actors%></span>
              <span class="button-list">
                <% if movie.voted %>
                  <span class="r">已参与</span>
                <% else%>
                  <a href="javascript:;" class="btn want-to-see">想看</a>
                  <a href="javascript:;" class="btn have-read">看过</a>
                  <a href="javascript:;" class="btn dont-want-to-see">不想看</a>                
                <% end %>
              </span>
            </li>          
          <% end %>  
        </ul>
      </div>
      <div class="vote-list">
        <ul>
          <% @data[:movies][0..2].each_with_index do |movie,idx|%>
            <li <% if idx == 2 %>style="border:none;margin:0;"<% end%> >
              <span class="movie-name"><%=movie.title%></span>
              <span class="movie-img"><img src="<%=movie.poster %>" alt="<%= movie.title%>" /></span>
              <span class="time">上映日期: <%= Time.at(movie.info_show_at).strftime('%F') %></span>
              <span class="actor">主演:<%=movie.info_actors%></span>
              <span class="button-list">
                <% if movie.voted %>
                  <span class="r">已参与</span>
                <% else%>
                  <a href="javascript:;" class="btn want-to-see">想看</a>
                  <a href="javascript:;" class="btn have-read">看过</a>
                  <a href="javascript:;" class="btn dont-want-to-see">不想看</a>                
                <% end %>              
              </span>
            </li>          
          <% end %> 
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="inner-page">
  <% if @data[:express_surveys].present? %>
  <div class="paid-survey">
    <div class="content-title">
      <h2>热点调研</h2>
      <div class="page" click="0">
        <a href="javascript:void(0);" class="prev"><i class="page-top"></i></a>
        <a href="javascript:void(0);" class="next"><i class="page-bottom"></i></a>
      </div>
    </div>
    <div class="survey-list express">
      <ul>
        <%= render :partial => 'sample/surveys/express_surveys',:locals => {:surveys => @data[:express_surveys]} %> 
      </ul>
    </div>
  </div>
  <div class="create-survey dashed-box">
    <div class="count">
      <span>
        <strong>累计问卷</strong>
        <% @data[:survey_counts].each do |data|%>
          <i><%= data %></i>
        <% end %>
        <b>份</b>
      </span>
    </div>
    <div class="count">
      <span>
        <strong>累计答题</strong>
        <% @data[:answer_counts].each do |data|%>
          <i><%= data %></i>
        <% end %>
        <b>次</b>
      </span>
    </div>
    <div class="btn-line">
      <% if current_user.present? %>
        <a class="create-survey-btn" href="<%= Rails.application.config.diaoyan + '/questionaires/new?akr=' + current_user.get_auth_remote_key %>">免费创建一份问卷</a>
      <% else %>
        <a class="create-survey-btn" href="<%= Rails.application.config.diaoyan %>/questionaires/new">免费创建一份问卷</a>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<div style="clear:both;"></div>
<!-- 调研推荐&排行榜&新鲜事 -->
<div class="inner-page survey_list quill">

  <div class="research-list dashed-box l">
    <div class="dashed-box-inner">
      <div class="dashed-box-inner-top">
        <h3 class="box-title">商业调研</h3>
        <a href="<%= surveys_path(:status => 2) %>" class="more">更多</a>
      </div>
      <ul>
        <%= render :partial => 'sample/surveys/survey_list',:locals => {:surveys => @data[:rsl]} %>
      </ul>
    </div>
  </div>

  <div class="rank dashed-box l">
    <div class="dashed-box-inner">
      <div class="dashed-box-inner-top">
        <h3 class="box-title">排行榜</h3>
      </div>
      <% if @data[:top_rank_users].present? %>
        <ul class="rank-list">
          <% @data[:top_rank_users].each_with_index do |user,index| %>
            <li <%= hide_border?(@data[:top_rank_users].to_ary,index) %>>
              <span class="rank-list-left l">
                <span class="number l"><%= index + 1 %></span>
                <span class="userhead l" href="javascript:void(0);">
                  <img src="<%= small_avatar(user['_id'])%>" alt="<%= user.nickname%>" />
                </span>
                <span class="username">
                    <%= truncate(user.nickname, :length => 15) %>
                </span>
                <span class="integral">积分：
                  <b><%= user.point %></b>
                </span>
              </span>
              <span class="rank-list-right r">
                <span class="answer">答题：<b><%= user.answer_count %></b></span>
                <span class="spread">推广：<b><%= user.spread_count %></b></span>
              </span> 
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div> 

  <% if @data[:fresh_news].present? %>
  <div class="forums dashed-box l">
    <div class="dashed-box-inner">
      <div class="dashed-box-inner-top">
        <h3 class="box-title">新鲜事</h3>
      </div>
        <ul class="forums-list">
          <% @data[:fresh_news].each_with_index do |news,index|%>
            <li <%= hide_border?(@data[:fresh_news],index) %>>
              <div>
                <span class="time"><%= ch_time(news.created_at) %></span>
                <%= user_behavor(news) %>
              </div>
            </li>
          <% end %>
        </ul>
    </div>
  </div> 
  <% end %>
</div> 

<!-- 热门兑换 -->
<div class="gift-list-main dashed-box inner-page">
  <div class="dashed-box-inner gift_slide">
    <div class="dashed-box-inner-top">
      <h3 class="box-title">热门兑换</h3>
      <a href="javascript:void(0);" class="more next" page='2'>换一组</a>
    </div>
    <% if @data[:hotest_gifts].present? %>
    <div class='more_list'>
      <ul class="gift-list">
         <%=  render :partial => "gifts_list",  :locals => {:gifts => @data[:hotest_gifts]  } %>      
      </ul>
    </div>
    <% end %>
  </div>
</div>

<% if Rails.env.production? %>
<div style='display:none;'><script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb54732309180d2feab954364fdebf7f2' type='text/javascript'%3E%3C/script%3E")) </script>
</div>
<% end %>

