<div class="part-right r">
    <div class="avatar">
        <a href="/users/setting/avatar">
            <img src="<%= get_avatar(@current_user_info["sample_id"]) %>" />
            <div class="change_avatar">
                <span>修改头像</span>
            </div>
        </a>
        <div class="user-email"><%= truncate(@current_user_info["nickname"], length: 16)%></div>
    </div>    
    <div class="data">
        <div class="tab" title="当前用户完成答题数量">
            <p>答题</p>
            <p class="last-child answer_count"><%= @current_user_info["answer_number"] %></p>
            
        </div>
        <div class="tab" title="接受您推广的用户完成答题数量">
            <p>推广</p>
            <p class="last-child spread_count"><%= @current_user_info["spread_number"] %></p>
            
        </div>
        <div class="tab last-child" title="当前用户的积分">
            <p>积分</p>
            <p class="last-child point_count"><%= @current_user_info["point"] %></p>
            
        </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px;">
        <div class="l">完善资料</div>
        <div class="progress-percent r" style="color: #b3b3b3;"><%= @current_user_info["completed_info"].to_i %>%</div>
        <div style="clear:both;"></div>
        <div class="progress">
            <div class="bar" style="width: <%= @current_user_info["completed_info"].to_i %>%;"></div>
        </div>
    </div>

    <div class="bindings icons">
        <i class="icon-binding icon-mobile <%= 'active' if @current_user_info['bind_info']['mobile'] %>"></i>
        <i class="icon-binding icon-email <%= 'active' if @current_user_info['bind_info']['email'] %>"></i>
        <i class="icon-binding icon-sina<%= 'active' if @current_user_info['bind_info']['sina'] %>"></i>
        <i class="last-child icon-binding icon-renren <%= 'active' if @current_user_info['bind_info']['renren'] %>"></i>
    </div>

    <!-- <div class="bindings icons">
        <i class="icon-binding icon-qzone <%= 'active' if @current_user_info['bind_info']['qzone'] %>"></i>
        <i class="icon-binding icon-weixin <%= 'active' if @current_user_info['bind_info']['weixin'] %>"></i>
        <i class="icon-binding icon-tx_weibo <%= 'active' if @current_user_info['bind_info']['tx_weibo'] %>"></i>
        <i class="last-child icon-binding icon-alipay <%= 'active' if @current_user_info['bind_info']['alipay'] %>"></i>
    </div> -->

    <div class="user-tabs">
        <div class="dashed-line"></div>
        <div class="tab surveys <%= 'active' if @current_nav == "surveys" %>">
            <a href="/users/join_surveys">
                <i class="icon-ucenter icon-surveys <%= 'active' if @current_nav == "surveys" %>"></i>
                <span>我的调研</span>
            </a>
        </div>
        <div class="dashed-line"></div>
        <div class="tab points <%= 'active' if action_name == "points" %>">
            <a href="/users/points">
                <i class="icon-ucenter icon-points <%= 'active' if action_name == "points" %>"></i>
                <span>积分记录</span>
            </a>
        </div>
        <div class="dashed-line"></div>
        <div class="tab orders <%= 'active' if @current_nav == "orders" %>">
            <a href="/users/orders">
                <i class="icon-ucenter icon-orders <%= 'active' if @current_nav == "orders" %>"></i>
                <span>我的订单</span>
            </a>
        </div>
        <div class="dashed-line"></div>
        <div class="tab setting <%= 'active' if @current_nav == "setting" %>">
            <a href="/users/setting">
                <i class="icon-ucenter icon-setting <%= 'active' if @current_nav == "setting" %>"></i>
                <span>帐户设置</span>
            </a>
        </div>
        <div class="dashed-line"></div>
        <div class="tab notifications <%= 'active' if action_name == "notifications" %>">
            <a href="/users/notifications">
                <i class="icon-ucenter icon-notifications <%= 'active' if action_name == "notifications" %>"></i>
                <span>系统通知</span>
            </a>
        </div>
    </div>
    
</div>