<% content_for :head do %>
  <%= stylesheet_link_tag "pages/sample/users-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/sample/users-bundle","pages/sample/users_password-bundle", :media => "all" %>
<% end %>

<%= render "sample_nav", :@path => 'setting', :@text => "用户设置" %>

<div class="inner-page main-content">
    <!-- main -->
    <div class="part-left">
        <div class="setting tabs">
            <div class="l">
                <a href="/users/setting" class="tab <%= 'active' if action_name == 'basic_info' %>" id="tab-edit-info">个人资料</a>
                <a href="/users/setting/avatar" class="tab <%= 'active' if action_name == 'avatar' %>" id="tab--edit-avatar">修改头像</a>
                <a href="/users/setting/bindings" class="tab <%= 'active' if action_name == 'bindings' %>" id="tab-edit-bindings">帐户绑定</a>
                <a href="/users/setting/address" class="tab <%= 'active' if action_name == 'address' %>" id="tab-edit-address">收货地址</a>
                <a href="/users/setting/password" class="tab <%= 'active' if action_name == 'password' %>" id="tab-edit-password">修改密码</a>
            </div>
            <div style="clear:both;"></div>
            <div class="nav2-dashed-line"></div>
        </div>

        <div style="clear:both;"></div>

        <div id="password">
            <div>
                <div class="th">
                    <div class="title">原密码：</div>
                    <input type="password" class="td2" id="opwd">
                    <span class="alert-hide alert-opwd alert-error">原密码不能为空</span>
                </div>
                <div class="th">
                    <div class="title">新密码：</div>
                    <input type="password" class="td2" id="npwd">
                    <span class="alert-hide alert-npwd alert-error">新密码不能为空</span>
                </div>
                <div class="th">
                    <div class="title">确认密码：</div>
                    <input type="password" class="td2" id="cpwd">
                    <span class="alert-hide alert-cpwd alert-error">确认密码不能为空</span>
                    <span style="position: relative; left: -124px;" class="alert-hide alert-cpwd2 alert-error">确认密码与新密码不相符</span>
                </div>
            </div>

            <div class="actions">
                <input class="btn btn-submit" type="button" value="确认提交"/>
            </div>
        </div>
    </div>

    <!-- user tabs -->
    <%= render "right_partial" %>
    
</div>