<% @answers["data"].to_a.each do |answer| %>
  <div class="tab">
    <img class="avatar" src="<%= small_avatar(answer.user.try(:id).to_s) %>"/>
    <div class="cont">
      <p class="username" title="<%= answer.user.try(:nickname) || "游客" %>">
        <%= truncate((answer.user.try(:nickname) || "游客").to_s.strip, length: 9) %>
        <% 
          status_color = ''
          case answer.status.to_i
          when Answer::EDIT
            status_color="c-yellow"
          when Answer::FINISH
            status_color='c-green'
          else
            status_color='c-red'
          end 
        %>
        <span class="<%= status_color %>">(<%= sanitize answered?(answer.status,answer.reject_type) %>)</span>
      </p>
      <p class="time">参与时间：<%= int_time_to_date(answer.created_at.to_i) %></p>
    </div>
  </div>
<% end %>

<%= render 'ajax_pagination', :@common_value => @answers %>