<!-- content for head -->
<% content_for :head do %>	
	<script type="text/javascript">
		window.total_page = <%= raw (!@point_logs.blank? ? @point_logs["total_page"] : 0) %>;
		window.total_point = <%= raw @total_point.to_json %>;
		window.point_logs = <%= raw @point_logs.to_json %>;
		console.log(window.point_logs);
	</script>
	<%= javascript_include_tag "pages/quillme/rewards-bundle" %>
	<%= stylesheet_link_tag "pages/quillme/rewards-bundle", :media => "all" %>	
<% end %>

<!-- content for main -->
<% content_for :left do %>
<div class="content-left-box greenBorder">
	<h3 class="content-left-title whiteTxt f14 b greenBg">我的积分 <span class="r mr20 f12">目前积分总额：<b class="fg redTxt" style='font-size: 24px;'><%=@total_point %></b> 积分</span></h3>
<table>
	<tr>
		<th class="w100 b g3 pl20">积分变化</th>
		<th class="w300 b g3 pl20">原因</th>
		<th class="tr b pr20">时间</th>
	</tr>
	<% if @point_logs != nil %>
	<% @point_logs["data"].each do |point_log| %>
		<tr>
			<td class="w100 <%= point_log["point"] > 0 ? "redTxt" : "greenTxt" %> fg  pl20"><%= point_log["point"] %></td>
			<td class="w300 f14 g3 pl20">
				<% case point_log["cause"] %>
				<% when 0 %>
					管理员操作
				<% when 1 %>
					邀请用户
				<% when 2 %>
					填写问卷
				<% when 3 %>
					推广问卷
				<% when 4 %>
					增加订单<% if !point_log["order_id"].blank? %><a href='<%= "/orders/" + point_log["order_id"] %>' ><%= "：" + point_log["order_id"] %></a><% end %>
				<% when 5 %>
					取消订单<% if !point_log["order_id"].blank? %><a href='<%= "/orders/" + point_log["order_id"] %>' ><%= "：" + point_log["order_id"] %></a><% end %>
				<% when 6 %>
					兑换抽奖号
				<% end %>
			</td>
			<td class="g9 tr pr20"><%= Time.iso8601(point_log["updated_at"]).localtime.strftime("(%Y.%m.%d %H:%M)") %></td>
		</tr>
	<% end %>
	<% end %>
</table>
	<div class="pagination">
		<a href="?page=<%= (@point_logs ? @point_logs["current_page"] : 1) - 1 %>" class="prev-gray"></a>
		<span class="current g9 f14"></span>
		<a href="?page=<%= (@point_logs ? @point_logs["current_page"] : 1) + 1 %>"  class="next-gray"></a>
	</div>
</div>
<% end %>

<!-- content for right -->
<% content_for :right do %>
<div class="sidebar-box img-greenBg">
	<h3 class="sidebar-title f14 b g3">如何获得积分</h3>
	<ul>
		<li>通过参加问卷调查</li>
		<li>通过推荐好友填写问卷</li>
		<li>通过介绍好友加入<%= corp_name %>社区</li>
	</ul>
	<h3 class="sidebar-title f14 b g3 mt10">积分的作用</h3>
	<ul>
		<li>兑换实物礼品</li>
		<li>兑换现金红包</li>
		<li>兑换虚拟礼品</li>
		<li>兑换抽奖号</li>
	</ul>
</div>
<% end %>
