<% content_for :head do %>
  <%= stylesheet_link_tag "pages/carnival/campaigns-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/carnival/campaigns-bundle" %>
  <script type="text/javascript">
    $(function(){
      window.data = <%= raw (@obj).to_json %>;
      console.log('----------------------------------')
      console.log(widnow.data);
      console.log('----------------------------------')

      // window.current_carnival_user = <%= raw (@obj).to_json %>;

      // var pre_status = parseInt(window.current_carnival_user.pre_survey_status,10);
      
      // window.current_step = <%= raw (@step).to_json %>;

      // // for test
      // pre_status = 32;
      // window.current_step = 3;

      // if (pre_status) {     
      //   if(pre_status == 2){// for reject
      //     $.od.odPopup({content: '您不在此次调研范围内!'});
      //   }else if(pre_status == 32){ // for finish
      //     // get ticket
      //     if(window.current_step){
      //       setSection(window.current_step);
      //     }else{
      //       $.od.odPopup({content: '恭喜您获得活动门票!'});  
      //     }
      //   } 
      // }

      // //set full page
      // function setFullPage() {
      //     $('.fullPage').fullpage({
      //         verticalCentered: true,
      //         slidesColor: ['#a2ca81', '#a2ca81', '#a2ca81', '#a2ca81'],
      //         loopTop: false,
      //         loopBottom: false,
      //         autoScrolling: true
      //     })
      // }
    
      // //up step
      // function foraward(){
      //   var bottom = parseInt($('.happy').css('bottom'),10);
      //   var new_bottom = bottom + 60 + 'px'; 
      //   $('.happy').animate({'bottom':new_bottom},3000,function(){
      //     setTimeout(function(){
      //       fallback();
      //     },1000)
      //   })
      // }

      // //down step
      // function fallback(){
      //   $('.happy').animate({'bottom':'35px'},3000,function(){
      //     $.fn.fullpage.moveSectionUp()// go to next section
      //   })
      // }

      // //set section
      // function setSection(step){
      //   var step = parseInt(step,10);
      //   if(step == 1){
      //     $('.section.wheel').addClass('active').siblings().removeClass('active');
      //   }else if(step == 2){
      //     $('.section.stair').addClass('active').siblings().removeClass('active');
      //   }else if(step == 3){
      //     $('.section.balloon').addClass('active').siblings().removeClass('active');
      //   }else{
      //     $('.section.reward').addClass('active').siblings().removeClass('active');
      //   }
      // }

      // setFullPage();
      

    })
  </script>
<% end %>




<div class='fullPage'>
  <div class='section balloon'>section_3</div>
  <div class='section stair' >
    <div id='machine-wrap'>
      <div class='happy'></div>
      <div class='st5'></div>
      <div class='st4'></div>
      <div class='st3'></div>
      <div class='st2'></div>
      <div class='st1'></div>
      <div class='sbottom'></div>
    </div>
  </div>
  <div class='section wheel'>
   <!-- 摩天轮 Start -->
		<div id="ferris-wheel">
			<span class="ferris-wheel-box">
			<a href="javascript:void(0);" class="one active"></a>
			<a href="javascript:void(0);" class="two"></a>
			<a href="javascript:void(0);" class="three"></a>
			<a href="javascript:void(0);" class="four"></a>
			
			<!--  
			<span class="ferris"></span>
			<span class="holder"></span> 
			-->

			</span>
    </div>
    <!-- 摩天轮 End -->    
  </div>
  <div class='section gate active'>section_1</div>

