{{#if table}}
<tr class='sub-q'>
	<th class='sub-q-title th-{{show_style}}'>
		<span class='sub-q-title-content'>{{title}}</span>
		<span class='q-info'>{{info}}</span>
		<span class='q-error'></span>
	</th>
	<td class='sub-q-con'></td>
</tr>
{{else}}
<div class='sub-q'>
	<div class='sub-q-title'>
		<span class='sub-q-title-content'>{{title}}</span>
		<span class='q-info'>{{info}}</span>
		<span class='q-error'></span>
	</div>
	<div class='sub-q-con'></div>
</div>
{{/if}}
