<%if @interviewer_tasks.success %>
<!-- content for head -->
<% content_for :head do %>
	<%= javascript_include_tag "pages/admin/interviewer_tasks-bundle" %>
	<%= stylesheet_link_tag "pages/admin/interviewer_tasks-bundle", :media => "all" %>
<% end %>

<!-- put html code below -->
<div class="interviewer_tasks"> 
<div id="list-tab">
	<div class="title">
		<h5>访问员及任务管理<h5>
		<h5 style="color: white; float: right; display: block;" ><a style="color: white; float: right; display: block;"  href="/admin/publishes">返回问卷列表</a><h5>
		<h5 style="color: white; float: right; display: block;" ><a style="color: white; float: right; display: block;"  href="/admin/publishes/<%= params[:publish_id] %>">返回问卷设置页面</a><h5>
	</div>

	<% if flash[:notice] %>
		<div class="nNote nInformation hideit">
			<p><strong>信息: </strong><%= flash[:notice] %></p>
		</div>

		<hr>
	<% end%>
	
	<div class="table">
		<div class="head">
			<h5 class="iFrames">列表</h5>
			<a class="new" href="/admin/publishes/<%=params[:publish_id]%>/interviewer_tasks/new">创建任务</a>
		</div>
		
		<table cellspacing="0" cellpadding="0" border="0" id="example" class="display">
			<thead>
				<tr>
					<th class="" rowspan="1" colspan="1" style="width: 10px;">
						<input class="check-all" type="checkbox" />
					</th>
					<th>公告标题</th>
					<th>发布人</th>
					<th class="time">创建时间</th>
					<th rowspan="1" colspan="1" style="width: 60px;"></th>
				</tr>
			</thead>

			<tbody>
				<% @interviewer_tasks.value.to_a.each do |interviewer_task|%>
					<tr id="<%= interviewer_task['_id']%>">
						<td><input type="checkbox" /></td>
						<td>                           
							<a href="/admin/interviewer_tasks/<%= interviewer_task["_id"] %>" title="点击查看/回复"><%= interviewer_task["title"] %></a></td>
						<td><%= interviewer_task["user_email"] %></td>
						<td><%= interviewer_task["created_at"][0,16].gsub(/[T]/, ' ') %></td>
						<td>
							<!-- Icons -->
							 <a href="#" class="delete" title="删除"><img src="../../assets/od-icon/cross.png" alt="删除" /></a> 
						</td>
					</tr>
				<%- end %>
			</tbody>
	
		</table>
		
	</div>
</div>
</div>
<%else%>
<div class="nNote nFailure hideit">
	<p><strong>错误: </strong>哇! 数据加载错误!</p>
	<p><strong>代号: </strong><%= @interviewer_tasks.value %></p>
</div>
<%end%>	
