<% content_for :head do %>
	<%= javascript_include_tag "pages/admin/interviewer_tasks-bundle" %>
	<%= stylesheet_link_tag "pages/admin/interviewer_tasks-bundle", :media => "all" %>
<% end %>

<div class="interviewer_task"> 
<div id="new-tab">
	<div class="title">
		<h5>访问员及任务管理<h5>
		<h5 style="color: white; float: right; display: block;" ><a style="color: white; float: right; display: block;"  href="/admin/publishes/<%= params[:publish_id]%>/interviewer_tasks">返回任务列表</a><h5>
		<h5 style="color: white; float: right; display: block;" ><a style="color: white; float: right; display: block;"  href="/admin/publishes/<%= params[:publish_id] %>">返回问卷设置页面</a><h5>
	</div>

	<% if flash[:notice] %>
		<div class="nNote nInformation hideit">
			<p><strong>信息: </strong><%= flash[:notice] %></p>
		</div>

		<hr>
	<% end%>
	
	<form action="/admin/publishes/<%=params[:publish_id]%>/interviewer_tasks" name="interviewer_tasks" enctype="multipart/form-data" method="post">
		<input name="_method" id="_method" type="hidden" value="post" />        
		<fieldset>
			<p>
				<label>选择访问员</label>
				<select class="system_user" name="system_user">
				</select>
			</p>
			<hr/>
			
			<ul  class="rules">
				<li class="selected">
					<label>规则 1</label>
					<p>
						<label>回收份数</label>
						<input type="text" style="width: 100px;"/>
					</p>
					<ul class="conditions">
						<li>
							<p class="wrap-text">
								<span class="f-orange">条件 1: </span><b>aaaaaaaaaaaaa</b>
							</p>
							<ul class="choices">
								<li>
									<input type="checkbox"/>
									<span>A</span>
								</li>
								<li>
									<input type="checkbox"/>
									<span>B</span>
								</li>
								<li>
									<input type="checkbox"/>
									<span>C</span>
								</li>
							</ul>
						</li>
						<li>
							<p>
								<label>条件 2</label>
								
							</p>
						</li>
					</ul>
				</li>
				<li class="">
					<label>规则 1</label>
					<p>
						<label>回收份数</label>
						<input type="text" style="width: 100px;"/>
					</p>
					<ul  class="conditions">
						<li>
							<p>
								<label>条件 1</label>
							</p>

						</li>
						<li>
							<p>
								<label>条件 2</label>
								
							</p>
						</li>
					</ul>
				</li>
			</ul>
			<hr/>
			<p>
				<input type="button" class="blueBtn new-rule" style="float:right;" value="新建配额规则"/>

				<input type="button"  style="margin-left:10px;float:left;" class="blueBtn new-condition" value="新建条件"/>
				<select name="questions" style="margin-left:10px;float:left;">
					<option value="id">name....</option>
					<option value="id2">name2...</option>
				</select>
			</p>
		</fieldset>
						
	</form> 
</div>
</div>

