<div class='rank-style-con'>
	<div class='style-icon' >
		<div class='style-slt half' style='margin-right:8px;'>
			<h1>图案</h1>
			<div>
				<div>
					<em class='style-preview rank-icon-style-{{icon}}'></em>
				</div><span></span>
				<p class='style-slt-items'>{{#iterateTo 12}}<a href='javascript:void(0);' class='rank-icon-style-{{this}}' ></a>{{/iterateTo}}</p>
			</div>
		</div><!--
		--><div class='style-slt half'>
			<h1>个数</h1>
			<div>
				<div>
					<em class='style-preview'>{{icon_num}}</em>
				</div><span></span>
				<p class='style-slt-items'>{{#iterateTo 12}}<a href='javascript:void(0);' >{{#add this 1}}{{this}}{{/add}}</a>{{/iterateTo}}</p>
			</div>
		</div>
	</div>
	<div class='style-bar' >
		<div class='style-slt'>
			<h1>滑竿样式</h1>
			<div>
				<div class='wide'>
					<em class='style-preview rank-bar-style-{{bar}}'></em>
				</div><span></span>
				<p class='style-slt-items wide'>{{#iterateTo 2}}<a href='javascript:void(0);' class='rank-bar-style-{{this}}' ></a>{{/iterateTo}}</p>
			</div>
		</div>
	</div>
</div>