<%if @advertisements.success %>
<!-- content for head -->
<% content_for :head do %>
	<script type="text/javascript">
		jQuery(function($) {
			window.ads = <%= raw (@advertisements.value['data'] || []).to_json %>;
			window.ads_count = <%= raw ( @advertisements.value['total_page'].to_i).to_json %>;
			console.log(window.ads);
		});
	</script>
	<%= javascript_include_tag "pages/admin/advertisements-bundle" %>
	<%= stylesheet_link_tag "pages/admin/advertisements-bundle", :media => "all" %>
<% end %>

<!-- put html code below -->

<div class="advertisements"> 
<div id="list-tab">
	<div class="title">
		<h5>广告管理<h5>
	</div>

	<% if flash[:notice] %>
		<div class="nNote nInformation hideit">
			<p><strong>信息: </strong><%= flash[:notice] %></p>
		</div>

		<hr>
	<% end%>

	<div class="table">
		<div class="head">
			<h5 class="iFrames">
				列表
			</h5>
			<select name="search" class="selectActive">
				<option value="all">全部</option>
				<option value="yes">已激活</option>
				<option value="no" >未激活</option>  
			</select>
			<a class="new" href="/admin/advertisements/new">创建广告</a>
		</div>
		
		<table cellspacing="0" cellpadding="0" border="0" id="example" class="display">
			<thead>
				<tr>
					<th class="" rowspan="1" colspan="1" style="width: 10px;">
						<input class="check-all" type="checkbox" />
					</th>
					<th>广告标题</th>
					<th>链接地址</th>
					<th class="time">创建时间</th>
					<th>激活状态</th>
					<th rowspan="1" colspan="1" style="width: 60px;"></th>
				</tr>
			</thead>

			<tbody>
				<% @advertisements.value["data"].to_a.each do |advertisement|%>
					<tr id="<%= advertisement['_id']%>">
						<td><input type="checkbox" /></td>
						<td>                           
							<a href="/admin/advertisements/<%= advertisement["_id"] %>" title="点击查看/回复"><%= advertisement["title"] %></a></td>
						<td><%= advertisement["linked"] %></td>
						<td><%= advertisement["created_at"][0,16].gsub(/[T]/, ' ') %></td>
						<td><%if advertisement["activate"]==true %>是<%else%>否<%end%></td>
						<td>
							<!-- Icons -->
							 <a href="#" class="delete" title="删除"><img src="../../assets/od-icon/cross.png" alt="删除" /></a> 
						</td>
					</tr>
				<%- end %>
			</tbody>

			<tfoot>
				<tr>
					<td colspan="6">
						<div class="delete-selected-panel">
							<input type="button" class="blueBtn delete-selected" value="批量删除"/>
						</div>

						<%= paginator_tag @advertisements.value %>
					</td>
				</tr>
			</tfoot>		
		</table>
		
	</div>
</div>
</div>
<%else%>
<div class="nNote nFailure hideit">
	<p><strong>错误: </strong>哇! 数据加载错误!</p>
	<p><strong>代号: </strong><%= @advertisements.value %></p>
</div>
<%end%>	
