<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title or "#{corp_name_short} | 专注网络调研 让调研更科学" %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="<%= corp_name %>网络调研/网络调查平台是专业从事网络数据产品和市场调研的第三方服务商，为您提供优质、科学、严谨的数字化调研和研究咨询服务。" />
  <meta name="Keywords" content="<%= corp_name_short %>,<%= corp_name %>,网络调查,网络调研,数字化调研,优数调研,市场调研,研究咨询,连续性调研,问卷调查" />
  <%= stylesheet_link_tag    "layouts/app-layout" %>
  <%= javascript_include_tag "pages/vrcode/codes-bundle" %>
  <%= javascript_include_tag "layouts/app-layout" %>
  <%= stylesheet_link_tag "pages/vrcode/codes-bundle", :media => "all" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/od-quillme/favicon.ico">
</head>
<body>
<div class="cover">
  <%=image_tag "vrcode/bg.jpg", :alt => "bg" %>
</div>
<div class="opa"></div>
<div class="content">
  <h1>游戏说明</h1>
  <div class="txt">
    <p>1. 点击“开始输入”按钮开始游戏</p>
    <p>2. 每输入正确一次即可获得<b>1</b>积分，输入错误不计分</p>
  </div>
  <a href="javascript:void(0);" class="start">开始输入</a>
</div>
</body>
</html>