<ul class="other-login-link">
	<!-- <li title='用 新浪微博 账号登录'>
		<a href="<%= social_auth_link('sina') %>">
			<em class="other-icon sina_weibo"></em>
		</a>
	</li>
	<li title='用 腾讯微博 账号登录'>
		<a href="<%= social_auth_link('qq') %>">
			<em class="other-icon t_weibo"></em>
		</a>
	</li> -->
	<li title='用 人人网 账号登录'>
		<a href="<%= social_auth_link('renren') %>">
			<em class="other-icon renren"></em>
		</a>
	</li>
	<!-- <li title='用 QQ 账号登录'>
		<a href="<%= social_auth_link('qq') %>">
			<em class="other-icon qq"></em>
		</a>
	</li>
	<li title='用 开心网 账号登录'>
		<a href="<%= social_auth_link('kaixin001') %>">
			<em class="other-icon kaixin"></em>
		</a>
	</li>
	<li title='用 豆瓣 账号登录'>
		<a href="<%= social_auth_link('douban') %>">
			<em class="other-icon douban"></em>
		</a>
	</li> -->
	<li title='用 百度 账号登录'>
		<a href="<%= social_auth_link('baidu') %>">
			<em class="other-icon baidu"></em>
		</a>
	</li>
	<li title='用 搜狐 账号登录'>
		<a href="<%= social_auth_link('sohu') %>">
			<em class="other-icon sohu"></em>
		</a>
	</li>	
	<li title='用 Gmail 账号登录'>
		<a href="<%= social_auth_link('google') %>">
			<em class="other-icon gmail"></em>
		</a>
	</li>
	<!-- <li title='用 360 账号登录'>
		<a href="<%= social_auth_link('qihu360') %>">
			<em class="other-icon qihu360"></em>
		</a>
	</li> -->
	</ul>