= form_tag({:controller => "users", :action => "after_reset_password"}, :method => "post") do

	%p{:style => "display:none;"}
		= text_field_tag 'user[email]', @email

	%p
		%label 新密码
		= password_field_tag 'user[password]'

	%p
		= submit_tag "重置密码"

= render :partial => "layouts/navigation"
