= form_tag({:controller => "registrations"}, :method => "post") do

	%p
		%label *
		%label 我的邮箱
		= text_field_tag 'user[email]', flash[:google_email]

	%p
		%label *
		%label 创建密码
		= password_field_tag 'user[password]'

	%p
		%label *
		%label 确认密码
		= password_field_tag 'user[password_confirmation]'

	%p
		%label *
		%label 用户名
		= text_field_tag 'user[username]'

	%p
		%label 姓名
		= text_field_tag 'user_information[realname]'

	%p
		%label 地址
		= text_field_tag 'user_information[address]'

	%p
		%label 邮编
		= text_field_tag 'user_information[zipcode]'

	%p
		%label 手机号
		= text_field_tag 'user_information[telephone]'

	%p
		%label 性别
		= text_field_tag 'user_information[gender]'

	%p{:display => "style:none"}
		= text_field_tag 'third_party_info', flash[:third_party_info]

	%p
		= submit_tag "开通"

= render :partial => "layouts/navigation"
