%p
  %span 您好！
  %span= @current_user.username
  %br
  %span= @current_user.email
%p 这是您的个人主页

= button_to "第三方信息", :controller => "home", :action => "get_tp_info"
= button_to "更多信息", :controller => "home", :action => "get_more_info"

%hr
%p= "原token信息"
#tp_info
  - if @tp_user
    %p
      %label access_token:
      = @tp_user.access_token
    %p 
      %label refresh_token:
      - if @tp_user.refresh_token
        = @tp_user.refresh_token
    %p
      %label user_id
      = @tp_user.id
      
%hr
  %p= @info.to_s
%p
  =link_to "退出登录", logout_path
