<!-- content for head -->
<% content_for :head do %>
	<script type="text/javascript">
		window.total_page = <%= raw (!@orders.blank? ? @orders["total_page"] : 0) %>;
		window.orders = <%= raw @orders.to_json %>;//
		console.log(window.orders);//
	</script>
	<%= javascript_include_tag "pages/quillme/orders-bundle" %>
	<%= stylesheet_link_tag "pages/quillme/gifts-bundle", :media => "all" %>
<% end %>

<!-- content for main -->
<% content_for :left do %>
<div class="content-left-box pinkBorder">
	<h3 class="content-left-title whiteTxt f14 b pinkBg">我的礼品订单</h3>
	<span class="marked gift"></span>
		<ul class="img-list">
			<% if !@orders.blank? %>
			<% @orders["data"].each do |order| %>
			<li>
				<% order["gift"] ||= {} %>
				<% if !order["gift"]["photo_src"].blank? %>
					<% source = order["gift"]["photo_src"] %>
				<% else %>
					<% case order["gift"]["type"] %>
					<% when 0 %>
						<% source = "../assets/image/quillme/lotteries/cash.jpg" %>
					<% when 1 %>
						<% source = "../assets/image/quillme/lotteries/entity.jpg" %>
					<% when 2 %>
						<% source = "../assets/image/quillme/lotteries/virtual.jpg" %>
					<% when 3 %>
						<% source = "../assets/image/quillme/lotteries/lottery.jpg" %>
					<% end %>
				<% end %>
				<span class="img l ml20 mr20"><a href=<%= source %> ><img src=<%= source %> alt=""></a></span>
				<span class="w320 f14 b g3 l"><a href="javascript:void(0);"><%= order["gift"]["name"] %></a></span>
				<span class="w160 r tr g6"><b class="pinkTxt fg"><%= order["gift"]["point"] %></b>积分</span>
				<span class="w320 g3 b l mt10">订单号：<%= order["_id"] %></span>
				<span class="w160 g9 r tr">剩余<%= order["gift"]["surplus"] %>份</span>
				<span class="w160 pinkTxt b r tr">
					<% case order["status"] %>
					<% when 0 %>
						待审核
					<% when 1 %>
						待配送
					<% when -1 %>
						审核失败
					<% when 2 %>
						配送中
					<% when -2 %>
						已取消
					<% when 3 %>
						配送完成
					<% when -3 %>
						配送失败
					<% end %>
				</span>
				<span class="w320 g9 l tl mt10"><%= order["gift"]["updated_at"]%></span>
				<span class="w320 l mt10">
					<%= link_to '查看', order_path(order["_id"]), {:class => 'css-btn pink'} %>
				</span>
			</li>
			<% end %>
			<% end %>
		</ul>
		<div class="pagination">
			<a href="?page=<%= (@orders ? @orders["current_page"] : 1) - 1 %>" class="prev-gray"></a>
			<span class="current g9 f14"></span>
			<a href="?page=<%= (@orders ? @orders["current_page"] : 1) + 1 %>"  class="next-gray"></a>
		</div>
</div>
<!-- <div class="content-left-box w900 grayBorder">
	<h3 class="content-left-title whiteTxt f14 b grayBg">已完成配送礼品清单</h3>
	<span class="marked gift"></span>
		<ul class="img-list">
			<li>
				<span class="img l ml20 mr20"><a href="javascript:void(0);"><img src="../assets/image/quillme/lotteries/1.jpg" alt=""></a></span>
				<span class="w320 f14 b g3 l"><a href="javascript:void(0);">多彩相机套</a></span>
				<span class="w160 r tr g6"><b class="pinkTxt fg">5000</b>积分</span>

				<span class="w320 g3 b l mt10">订单号：123456</span>
				<span class="w160 g3 r tr">配送日期：2012.10.10</span>
				<span class="w320 g9 l mt10">(2012.6.17))</span>

			</li>
		</ul>
		<div class="pagination">
			<a href="javascript:void(0);" class="prev-gray"></a>
			<span class="current g9 f14">1/3</span>
			<a href="javascript:void(0);"  class="next-gray"></a>
		</div>
</div> -->
<% end %>

<!-- content for right -->
<% content_for :right do %>
<div class="sidebar-box img-pinkBg">
	<h3 class="sidebar-title f14 b g3">礼品如何分类？</h3>
	<ul>
		<li>实物礼品：各类精心挑选的礼物，如装饰品、玩具、首饰、电子产品等。</li>
		<li>现金红包：面值不等的现金大礼包。</li>
		<li>虚拟礼品：如手机充值卡、Q币、游戏点卡、电影票兑换券等。</li>
	</ul>
	<h3 class="sidebar-title f14 b g3 mt10">礼品兑换流程</h3>
	<ul>
		<li>选择礼品，并提交礼品订单，系统会从您的账户中扣除相应积分；</li>
		<li>管理员审核礼品订单；</li>
		<li>如果订单被拒绝，相应积分将退回您的账户，并给出拒绝理由；</li>
		<li>如果订单被通过审核，我们会在第一时间为你配送礼品，虚拟礼品直接发送至您的手机号，实物礼品通过快递的方式配送至您所提供的地址，现金红包将转账至您的个人账户.</li>
	</ul>
	<p></p>
</div>
<% end %>
