<!-- content for head -->
<% content_for :head do %>
	<script type="text/javascript">
		window.order = <%= raw @order.to_json %>;//
		console.log(window.order);//
		window._id = '<%= !@order.blank? ? @order["_id"] : "" %>';
	</script>
	<%= javascript_include_tag "pages/quillme/order-bundle" %>
	<%= stylesheet_link_tag "pages/quillme/gift-bundle", :media => "all" %>		
<% end %>

<!-- content for main -->
<% content_for :left do %>
<% if !@order.blank? %>
<% if @order["is_prize"] 
	link ="/lotteries/draws/" + @order["lottery_code_id"]
else
	link ="/gifts/" +  @order["gift"]["_id"]
end
%>
<% case @order["type"] %>
<% when 2 %> <!-- virtual -->
<div class="content-left-box pinkBorder">
	<h3 class="content-left-title whiteTxt f14 b pinkBg">查看礼品订单</h3>
	<div class='order'>
		<% if !@order["gift"]["photo_src"].blank? %>
		<p><img src=<%= @order["gift"]["photo_src"] %> /></p>
		<% end %>
		<p><em>订单号：</em><%= @order["_id"] %></p>
		<p><em>下单时间：</em><%= Time.iso8601(@order["updated_at"]).localtime.strftime("%Y.%m.%d %H:%M") %></p>
		<p><em>订单状态：</em>
			<% case @order["status"] %>
			<% when 0 %>
				待审核
			<% when 1 %>
				待配送
			<% when -1 %>
				审核失败
			<% when 2 %>
				配送中
			<% when -2 %>
				已取消
			<% when 3 %>
				配送完成
			<% when -3 %>
				配送失败
			<% end %>			
		</p>
		<% if @order['status'] == -1 %>
		<p><em>失败原因：<%= @order['status_desc'] %></em></p>
		<% end %>
		<p><em>订单礼品：</em><a href=<%= link %> ><%= @order["gift"]["name"] %></a></p>
		<p><em>您的姓名：</em><%= @order["full_name"] %></p>
		<p><em>手机号码：</em><%= @order["phone"] %></p>
		<div>
			<a class="css-btn pink r mr10" href='<%= orders_path %>'>返回订单列表</a>
			<% if @order["status"] == 0 %>
			<a class="css-btn pink r mr10" id="order-cancel" href="javascript:void(0);">取消订单</a>
			<% end %>
		</div>
	</div>
</div>
<% when 1 %> <!-- Entity -->
<div class="content-left-box pinkBorder">
	<h3 class="content-left-title whiteTxt f14 b pinkBg">查看礼品订单</h3>
	<div class='order'>
		<% if !@order["gift"]["photo_src"].blank? %>
		<p><img src=<%= @order["gift"]["photo_src"] %> /></p>
		<% end %>
		<p><em>订单号：</em><%= @order["_id"] %></p>
		<p><em>下单时间：</em><%= Time.iso8601(@order["updated_at"]).localtime.strftime("%Y.%m.%d %H:%M") %></p>
		<p><em>订单状态：</em>
			<% case @order["status"] %>
			<% when 0 %>
				待审核
			<% when 1 %>
				待配送
			<% when -1 %>
				审核失败
			<% when 2 %>
				配送中
			<% when -2 %>
				已取消
			<% when 3 %>
				配送完成
			<% when -3 %>
				配送失败
			<% end %>			
		</p>
		<% if @order['status'] == -1 %>
		<p><em>失败原因：<%= @order['status_desc'] %></em></p>
		<% end %>
		<p><em>订单礼品：</em><a href=<%= link %> ><%= @order["gift"]["name"] %></a></p>
		<p><em>您的姓名：</em><%= @order["full_name"] %></p>
		<p><em>手机号码：</em><%= @order["phone"] %></p>
		<p><em>寄送地址：</em><%= @order["address"] %></p>
		<p><em>邮政编码：</em><%= @order["postcode"] %></p>
		<div>
			<a class="css-btn pink r mr10" href='<%= orders_path %>'>返回订单列表</a>
			<% if @order["status"] == 0 %>
			<a class="css-btn pink r mr10" id="order-cancel" href="javascript:void(0);">取消订单</a>
			<% end %>
		</div>
	</div>		
</div>
<% when 0 %> <!-- Cash -->
<div class="content-left-box pinkBorder">
	<h3 class="content-left-title whiteTxt f14 b pinkBg">查看礼品订单</h3>
	<div class='order'>
		<% if !@order["gift"]["photo_src"].blank? %>
		<p><img src=<%= @order["gift"]["photo_src"] %> /></p>
		<% end %>
		<p><em>订单号：</em><%= @order["_id"] %></p>
		<p><em>下单时间：</em><%= Time.iso8601(@order["updated_at"]).localtime.strftime("%Y.%m.%d %H:%M") %></p>
		<p><em>订单状态：</em>
			<% case @order["status"] %>
			<% when 0 %>
				待审核
			<% when 1 %>
				待配送
			<% when -1 %>
				审核失败
			<% when 2 %>
				配送中
			<% when -2 %>
				已取消
			<% when 3 %>
				配送完成
			<% when -3 %>
				配送失败
			<% end %>			
		</p>
		<% if @order['status'] == -1 %>
		<p><em>失败原因：<%= @order['status_desc'] %></em></p>
		<% end %>
		<p><em>订单礼品：</em><a href=<%= link %> ><%= @order["gift"]["name"] %></a></p>
		<p><em>您的姓名：</em><%= @order["full_name"] %></p>
		<p><em>身份证号：</em><%= @order["identity_card"] %></p>
		<p><em>银行卡号：</em><%= @order["bankcard_number"] %></p>
		<p><em>开户银行：</em><%= @order["bank"] %></p>
		<p><em>支付宝账号：</em><%= @order["alipay_account"] %></p>
		<div>
			<a class="css-btn pink r mr10" href='<%= orders_path %>'>返回订单列表</a>
			<% if @order["status"] == 0 %>
			<a class="css-btn pink r mr10" id="order-cancel" href="javascript:void(0);">取消订单</a>
			<% end %>
		</div>
	</div>	
</div>
<% end %>
<% end %>
<% end %>

<!-- content for right -->
<% content_for :right do %>
<div class="sidebar-box img-pinkBg">
	<h3 class="sidebar-title f14 b g3">礼品如何分类？</h3>
	<ul>
		<li>实物礼品：各类精心挑选的礼物，如装饰品、玩具、首饰、电子产品等。</li>
		<li>现金红包：面值不等的现金大礼包。</li>
		<li>虚拟礼品：如手机充值卡、Q币、游戏点卡、电影票兑换券等。</li>
	</ul>
	<h3 class="sidebar-title f14 b g3 mt10">礼品兑换流程</h3>
	<ul>
		<li>选择礼品，并提交礼品订单，系统会从您的账户中扣除相应积分；</li>
		<li>管理员审核礼品订单；</li>
		<li>如果订单被拒绝，相应积分将退回您的账户，并给出拒绝理由；</li>
		<li>如果订单被通过审核，我们会在第一时间为你配送礼品，虚拟礼品直接发送至您的手机号，实物礼品通过快递的方式配送至您所提供的地址，现金红包将转账至您的个人账户.</li>
	</ul>
	<p></p>
</div>
<% end %>