- content_for :head do
  = javascript_include_tag "pages/client/cities-bundle"
  = stylesheet_link_tag "pages/client/cities-bundle", :media => "all"
  :javascript
    // window.locations = "39.947648,116.360106-34.849875,113.749008-28.052591,108.036118"
    window.locations = "#{@location}"

.container
  %h3
    %span= @city.name
    %span= "已回收" + @city.amount.to_s + "份"
    = link_to "返回列表", { controller: "client/cities", action: "index" }
    - if current_client.admin
      = link_to "设置位置", { controller: "client/cities", action: "records", id: @city.id.to_s }
  #map.tab-pane
