= form_for @lottery do |f|
  -if @lottery.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lottery.errors.count, "error")} prohibited this lottery from being saved:"
      %ul
        - @lottery.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :status
    = f.number_field :status
  .field
    = f.label :is_deleted
    = f.check_box :is_deleted
  .field
    = f.label :has_many
    = f.text_field :has_many
  .field
    = f.label :has_many
    = f.text_field :has_many
  .actions
    = f.submit 'Save'
