%h1 Listing lotteries

%table
  %tr
    %th Title
    %th Description
    %th Status
    %th Is deleted
    %th Has many
    %th Has many
    %th
    %th
    %th

  - @lotteries.each do |lottery|
    %tr
      %td= lottery.title
      %td= lottery.description
      %td= lottery.status
      %td= lottery.is_deleted
      %td= lottery.has_many
      %td= lottery.has_many
      %td= link_to 'Show', lottery
      %td= link_to 'Edit', edit_lottery_path(lottery)
      %td= link_to 'Destroy', lottery, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Lottery', new_lottery_path
