%p#notice= notice

%p
  %b Title:
  = @lottery.title
%p
  %b Description:
  = @lottery.description
%p
  %b Status:
  = @lottery.status
%p
  %b Is deleted:
  = @lottery.is_deleted
%p
  %b Has many:
  = @lottery.has_many
%p
  %b Has many:
  = @lottery.has_many

= link_to 'Edit', edit_lottery_path(@lottery)
\|
= link_to 'Back', lotteries_path
