<div id='sf_main'>
	<div class='welcome no_reward'>
		<div class='inner'>
			<h1>{{title}}</h1>
			<div class='msg waiting'>
				<em></em>
				<span>
					<b>Finished! Please wait for our review. {{#if publish_result}}<a href='/surveys/{{survey_id}}/result'>View report</a>{{/if}}</b><br />
          The answer will be reviewed in less then 24 hours. After reviewing, you will get <em>{{reward_point}}</em> points.
					{{#if spreadable}}
					<br /><a id='start_spread' href='javascript:void(0);'>Invite friends</a> to get <em>{{spread_point}}</em> more points.
					{{/if}}
					{{#if show_subscribe}}
					<br />(<a id='subscribe_btn' href='/surveys#subscribe' target='_blank'>Subscribe</a> survey notification)
					{{/if}}
					{{#if signin}}
					{{else}}
					<br />Click the button below to track the answer status.
					{{/if}}
				</span>
			</div>
			<div class='form'>
				{{#if signin}}
				<button id='my_surveys_btn'>View my surveys</button>
				{{else}}
				<button id='signin_btn'>Sign in</button>
				{{/if}}
			</div>
		</div>
	</div>
</div>