
<% qcount = 0 %>
<% @questions['question_content'].each do |question| %>

  <div class="well well-small">
    <p> Q<%= "#{qcount += 1}. <#{question['question_type_label']}> #{"[逻辑控制]" if question['is_logic_control']} #{question['title']}" %> 
    </p>
    <ul>
      <% question["choices"].try('each') do |choice| %>
      <li>
        <%= choice %> 
      </li>
      <% end -%>
      <% if question["rows"].present? %>
        <p>-----------</p>
        <% question["rows"].each_with_index do |row, i| %>
          <li>
            <%= "#{row} : #{question["rows_selected_choices"][i][0]}" %>
          </li>
        <% end %>
      <% else %>
        <% if question["selected_choices"].present? %>
          <p>-----------</p>
        <%- end %>
        <% question["selected_choices"].try('each') do |choice| %>
        <li>
          <%= choice %>
        </li>
        <% end -%>
        <p>
          <%= question["content"] %>
          <%= question["address"] %>
          <%= question["detail"] %>
          <%= question["postcode"] %>
        </p>
      <% end %>
    </ul>
  </div>
<% end -%>
