
<% qcount = 0 %>
<% @questions['question_content'].each do |question| %>

  <div class="well well-small">
    <p> Q<%= "#{qcount += 1}. <#{question['question_type_label']}> #{"[逻辑控制]" if question['is_logic_control']} #{question['title']}" %> 
    </p>
    <ul>
      <% question["choices"].try('each') do |choice| %>
      <li>
        <%= choice %> 
      </li>
      <% end -%>
      <p>-----------</p>
      <% if question["rows"].present? %>
        <% question["rows"].each_with_index do |row, i| %>
          <li>
            <%= "#{row} : #{question["rows_selected_choices"][i][0]}" %>
          </li>
        <% end %>
      <% elsif question["selected_choices"].present? %>
        <% question["selected_choices"].try('each') do |choice| %>
        <li>
          <%= choice %>
        </li>
        <% end -%>
      <% elsif question["selected_labels"].present? %>
				<% question["selected_labels"].try('each_with_index') do |label, index| %>
					<li>
						<%= question["choices"][index] + ": " + label %>
					</li>
				<% end %>
			<% elsif question["question_type"] == QuestionTypeEnum::SORT_QUESTION %>
        <% question["items"].try('each') do |item| %>
          <li>
            <%= item["title"] + ": " + item["content"].to_s %>
          </li>
        <% end %>
				<%#= question["items"].map { |e| e["title"] } .join(', ')  %>
			<% elsif question["question_type"] == QuestionTypeEnum::CONST_SUM_QUESTION %>
				<% question["items"].try('each') do |item| %>
					<li>
						<%= item["title"] + ": " + item["content"].to_s %>
					</li>
				<% end %>
      <% end %>

      <% if question['attachements']%>
        <% if question['attachements']['images'].present?%>
          <% question['attachements']['images'].each_with_index do |img,idx| %>
            <li>
              <a href="/admin/answers/atachement?aid=<%=img%>">下载图片<%= idx + 1 %></a>
            </li>
          <% end %>
        <% end %>
        <% if question['attachements']['audios'].present?%>
          <% question['attachements']['audios'].each_with_index do |audio,idx| %>
            <li>
              <a href="/admin/answers/atachement?aid=<%=audio%>">下载音频<%= idx + 1 %></a>
            </li>
          <% end %>
        <% end %>
        <% if question['attachements']['videos'].present?%>
          <% question['attachements']['videos'].each_with_index do |video,idx| %>
            <li>
              <a href="/admin/answers/atachement?aid=<%=video%>">下载视频<%= idx + 1 %></a>
            </li>
          <% end %>
        <% end %>
      <% end %>

			<p>
				<%= question["content"] %>
				<%= question["address"] %>
				<%= question["detail"] %>
				<%= question["postcode"] %>
			</p>

    </ul>
  </div>
<% end -%>
