<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/answers/review-bundle" %>
  <script>
    window.latitude = <%= @questions.latitude.to_f %>
    window.longitude = <%= @questions.longitude.to_f %>
    window.answer_id = "<%= @questions._id.to_s %>"
  </script>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-list flowy-admin-sidenav">
    <li>
      <a href="/admin/answers/<%= @questions.survey._id %>">
        <i class="icon-chevron-right"></i>
        答案审核列表
      </a>
    </li>
    <li class="active">
      <a href="javascript:void(0);">
        <i class="icon-chevron-right"></i>
        查看答案
      </a>
    </li>  
  </ul>
<% end %>

<legend><%= @survey.title %></legend>
  <div class="well well-small">
    <%- if @questions.interviewer_task.present? %>
      <p> 访问员:<%= @questions.interviewer_task.user.email  %></p>
    <%- end %>
    <p> 开始答题时间:<%= @questions.created_at.strftime('%Y-%m-%d %H:%M:%S')  %></p>
    <p> 答题时长: <%= ((@questions.finished_at - @questions.created_at.to_i) / 60.0 ).ceil if @questions.finished_at.present? %> 分钟</p>
    <p> IP地址: <%= @questions.ip_address %> <%= QuillCommon::AddressUtility.find_province_city_town_by_code(@questions.region) %></p>
    <p class="red"> <%= @questions.audit_message %> </p>
    <%- if @questions.interviewer_task.present? %>
      <span>右键点击地图设置访问点</span>
      <div id="map" style="height:500px;"></div>
    <%- end %>
  </div>
<%= render :partial => "admin/answers/detail" %>
<% if @questions['status'].to_i == 4 %>
  <span class="pull-right">
    <button class="btn" type="button" id="btn_reject" data-answer_id="<%= params[:id] %>">拒绝</button>
    <button class="btn btn-large btn-primary" type="button" id="btn_pass" data-answer_id="<%= params[:id] %>">通过</button> 
  </span>
<% elsif @questions['status'].to_i == 32 %>
  <span class="pull-right">
    <button class="btn btn-danger" type="button" id="btn_reject_whatever" data-answer_id="<%= params[:id] %>">强制拒绝</button>
  </span>
<% end -%>
