<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/answers/review-bundle" %>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-list flowy-admin-sidenav">
    <li>
      <a href="/admin/answers/<%= @questions.survey._id %>">
        <i class="icon-chevron-right"></i>
        答案审核列表
      </a>
    </li>
    <li class="active">
      <a href="javascript:void(0);">
        <i class="icon-chevron-right"></i>
        查看答案
      </a>
    </li>  
  </ul>
<% end %>

<legend><%= @survey.title %></legend>
  <div class="well well-small">
    答题时间: <%= ((@questions.finished_at - @questions.created_at.to_i) / 60.0 ).ceil %> 分钟
  </div>
<%= render :partial => "admin/answers/detail" %>
<% if @questions['status'].to_i == 4 %>
  <span class="pull-right">
    <button class="btn" type="button" id="btn_reject" data-answer_id="<%= params[:id] %>">拒绝</button>
    <button class="btn btn-large btn-primary" type="button" id="btn_pass" data-answer_id="<%= params[:id] %>">通过</button> 
  </span>
<% end -%>