<% content_for :head do %>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-list flowy-admin-sidenav">
    <li>
      <a href="/admin/surveys">
      <i class="icon-chevron-right"></i>
      调研列表
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>">
        <i class="icon-chevron-right"></i>
        问卷查看
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>/reward_schemes">
        <i class="icon-chevron-right"></i>
        奖励方案
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>/promote">
        <i class="icon-chevron-right"></i>
        推送渠道
      </a>
    </li>
    <li class="active">
      <a href="/admin/answes/<%= params[:id]%>">
        <i class="icon-chevron-right"></i>
        答案审核
      </a>
    </li>
  </ul>
<% end %>

<div>
  <span>
    <form class="form-search" style="display:inline">
    <div class="input-append">
      <input class="span6 search-query" name="keyword" id="" type="text" placeholder="创建人邮箱">
      <button class="btn">搜索</button>
    </div>
    </form>
  </span>
  <span class="pull-right">
    <%= paginator_mini @answers %>
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-filter"></i>&nbsp;<span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><a href="?">全部</a></li>
        <li class="divider"></li>
        <li><a href="?status=4">待审核</a></li>
        <li><a href="?status=2">被拒绝</a></li>
        <li><a href="?status=32">审核完毕</a></li>
      </ul>
    </div>
  </span>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="20%">答案创建者</th>
        <th >状态</th>
        <th >创建时间</th>
        <th >操作</th>
      </tr>
    </thead>
    <tfoot>
      <tr>

      </tr>
    </tfoot>
    <tbody>
      <% @answers['data'].each do |answer| %>
      <tr>
        <td><a href="/admin/samples/<%= answer["user_id"] %>"><%= answer["user_email_mobile"] %></a></td>
        <td><%= answer_type_tag answer["status"] %></td>
        <td><%= answer["created_at"].strftime('%F %R') %></td>
        <td>
          <a class="btn handle" href="<%= answer["_id"] %>/review" ><i class="icon-list-alt"></i>查看详细</a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>