<% content_for :head do %>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-list flowy-admin-sidenav">
    <li>
      <a href="/admin/surveys">
      <i class="icon-chevron-right"></i>
      调研列表
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>">
        <i class="icon-chevron-right"></i>
        问卷查看
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>/reward_schemes">
        <i class="icon-chevron-right"></i>
        奖励方案
      </a>
    </li>
    <li>
      <a href="/admin/surveys/<%= params[:id]%>/promote">
        <i class="icon-chevron-right"></i>
        推送渠道
      </a>
    </li>
    <li class="active">
      <a href="/admin/answes/<%= params[:id]%>">
        <i class="icon-chevron-right"></i>
        答案审核
      </a>
    </li>
  </ul>
<% end %>

<div>
  <span>
    <form class="form-search" style="display:inline">
    <div class="input-append">
      <input class="span6 search-query" name="keyword" id="" type="text" placeholder="创建人邮箱,手机或者ID">
      <button class="btn">搜索</button>
    </div>
    </form>
  </span>
  <span class="btn-group">
    <div class="btn-group">
      <a class="btn handle" href="<%= params[:id] %>/to_csv?status=4">导出待审核数据</a>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>    
      <ul class="dropdown-menu">
        <li><a href="<%= params[:id] %>/to_csv">导出全部</a></li>
        <li class="divider"></li>
        <li><a href="<%= params[:id] %>/to_csv" class="querilayer">导当前条件下所有数据</a></li>
        <li><a href="<%= params[:id] %>/to_csv?status=32">导出审核完毕的数据</a></li>
        <li><a href="<%= params[:id] %>/to_csv?status=4&suspected=true">导出疑似作弊的待审核数据</a></li>
        <li><a href="<%= params[:id] %>/to_csv?status=4&suspected=false">导出非疑似作弊的待审核数据</a></li>
        <li><a href="<%= params[:id] %>/to_csv?status=32&suspected=true">导出疑似作弊的通过审核数据</a></li>
      </ul>
    </div>
  </span>
  <span class="pull-right">
    <%= paginator_mini @answers %>
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-filter"></i>&nbsp;<span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><a href="?">全部</a></li>
        <li class="divider"></li>
        <li><a href="?status=1">正在答题</a></li>
        <li><a href="?status=4">待审核</a></li>
        <li><a href="?status=2">被拒绝</a></li>
        <li><a href="?status=32">审核完毕</a></li>
      </ul>
    </div>
  </span>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="20%">答案创建者</th>
        <th >状态</th>
        <th >代理信息</th>
        <th >创建时间</th>
        <th >操作</th>
      </tr>
    </thead>
    <tfoot>
      <tr>

      </tr>
    </tfoot>
    <tbody>
      <% @answers['data'].each do |answer| %>
      <tr>
        <% if answer["user_email_mobile"].present? %>
          <td><a href="/admin/samples/<%= answer["user_id"] %>"><%= answer["user_email_mobile"] %></a></td>
        <% elsif answer.carnival_user.present?  %>
          <td><span><%= answer.carnival_user.mobile %></span></td>
        <% else %>
          <td></td>
        <% end  %>
        <td><%= answer_type_tag answer["status"] %></td>
        <% if answer.agent_task.present? %>
          <td>
            <span><%= answer.agent_task.try(:agent).try(:name) %></span>
            <% if answer.mobile.present? %>
              <span><%= "(#{answer.mobile})" %></span>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= answer["created_at"].strftime('%F %R') %></td>
        <td>
          <a class="btn handle" href="<%= answer["_id"] %>/review" ><i class="icon-list-alt"></i>查看详细</a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
