= form_tag(carnival_agents_path, method: "get", multipart: true) do
  = label_tag :daili, "代理"
  = text_field_tag "daili", "", autofocus: true
  = submit_tag "查询"

%p
  %span= "代理： #{params[:daili]}"

%p
  %span= "参与数量："
  %br
  %span= "#{@sample_num}"
%p
  %span= "wancheng:"
  %br
  %span= "#{@finish_num}"
%p
  %span= "hege:"
  %br
  %span= "#{@finish_mobile}"
%p
  %span= "buhege:"
  %br
  %span= "#{@reject_mobile}"
