= form_tag(carnival_agents_path, method: "get", multipart: true) do
  = label_tag :daili, "代理"
  = text_field_tag "daili", "", autofocus: true
  = submit_tag "查询"

%p
  %span= "代理： #{params[:daili]}"

%p
  %span= "参与数量：（有完成、待审和或者被拒绝问卷的样本数量）"
  %br
  %span= "#{@sample_num}"
%p
  %span= "完成数量：（完成全部问卷的样本数量）"
  %br
  %span= "#{@finish_num}"
%p
  %span= "合格电话号码：（全部问卷通过审核的样本电话号码）"
  %br
  %span= "#{@finish_mobile}"
%p
  %span= "不合格电话号码：（有问卷被拒绝的样本电话号码）"
  %br
  %span= "#{@reject_mobile}"
