<!-- page params -->
<%
s = @spread_survey ? @spread_survey["current_page"] : 1
m = @my_spread_survey ? @my_spread_survey["current_page"] : 1
%>

<!-- content for head -->
<% content_for :head do %>	
	<script type="text/javascript">
		window.spread_total = <%= raw (@spread_surveys ? @spread_surveys["total_page"] : 0) %>;
		window.my_spread_total = <%= raw (@my_spread_surveys ? @my_spread_surveys["total_page"] : 0) %>;
		window.spread_surveys = <%= raw @spread_surveys.to_json %>;
		window.my_spread_surveys = <%= raw @my_spread_surveys.to_json %>;
	</script>
	<%= javascript_include_tag "pages/quillme/spreads-bundle" %>
	<%= stylesheet_link_tag "pages/quillme/surveys-bundle", :media => "all" %>	
<% end %>

<!-- content for main -->
<% content_for :left do %>
<div class="content-left-box blueBorder" id="spread_surveys">
	<h3 class="content-left-title whiteTxt f14 b blueBg ">推广调研专区</h3>
	<% if @spread_surveys.blank? %>
	<p style='margin: 1em; padding: 1em;'>暂时没有可以推广的问卷。</p>
	<% else %>
	<p style='margin: 1em; padding: 1em;'>您可以将下列问卷所对应的链接分享给好友，每成功推荐一位好友答题，您将获得相应积分的奖励。</p>	
	<% index = (@spread_surveys["current_page"]-1) * @spread_surveys['per_page'] %>
	<% @spread_surveys["data"].each do |spread_survey| %>
	<% index = index + 1 %>
	<div class='spread-survey'>
		<h1><em><%= index %>.</em><%= spread_survey["survey"]["title"] %><span>推广奖励<em><%= spread_survey["survey"]["reward_info"].nil? ? '0' : spread_survey["survey"]["reward_info"]['spread_point'] %></em>积分</span></h1>
		<div class='spread-survey-detail'>
			<% if user_signed_in %>
			<input type="text" name="link-address" id="link-address" value='<%= "#{request.protocol}#{request.host_with_port}#{show_s_path(spread_survey["survey"]["_id"])}?i=#{current_user._id.to_s}" %>' />
			<button class="od-button od-button-blue copyLink">复制推广链接</button>
			<ul>
				<li><a href="javascript:void(0);" class="gmail-share" title="GMail"><img src="../assets/social/gmail-01.png" /></a></li>
				<li><a href="javascript:void(0);" class="douban-share" title="豆瓣"><img src="../assets/social/douban-01.png" /></a></li>
				<li><a href="javascript:void(0);" class="renren-share" title="人人"><img src="../assets/social/renren-01.png" /></a></li>
				<li><a href="javascript:void(0);" class="diandian-share" title="点点"><img src="../assets/social/diandian-01.png" /></a></li>
				<li><a href="javascript:void(0);" class="sina-share" title="新浪微博"><img src="../assets/social/sina-01.png" /></a></li>
				<li><a href="javascript:void(0);" class="fetion-share" title="飞信"><img src="../assets/social/fetion-01.png" /></a></li>
				<li><a href="javascript:void(0);" class="kaixin-share" title="开心网"><img src="../assets/social/kaixin-01.png" /></a></li>
				<li><a href="javascript:void(0);" class="qzone-share" title="QQ空间"><img src="../assets/social/qzone-01.png" /></a></li>
				<li><a href="javascript:void(0);" class="tencent-share" title="腾讯微博"><img src="../assets/social/tencent-01.png" /></a></li>
			</ul>
			<% else %>
			<a class="css-btn blue r" href="<%= signin_path %>?ref=<%=spreads_path %>">登录后方能推广</a>
			<% end %>
		</div>
	</div>
	<% end %>
	<% end %>
	<div class="pagination">
		<a href="?s=<%= s - 1 %>&m=<%= m %>" class="prev-gray"></a>
		<span class="current g9 f14"></span>
		<a href="?s=<%= s + 1 %>&m=<%= m %>"  class="next-gray"></a>
	</div>
</div>

<% if user_signed_in %>
<div class="content-left-box grayBorder" id="my_spread_surveys">
	<h3 class="content-left-title blueTxt f14 grayBg">我推广过的调研列表
		<!-- <span class="r mr20 f12 g6">共获得<b class="fg blueTxt">2000</b>积分</span> -->
	</h3>
	<table>
		<tr class="bn">
			<th class="w400 pl20 b">调研标题</th>
			<th class="pr20 b">推广奖励（积分/每份）</th>
			<th class="pr20 b">已推广数量</th>
		</tr>
		<% if !@my_spread_surveys.nil? %>
		<% @my_spread_surveys["data"].each do |my_spread_survey| %>
			<tr class="bn">
				<td class="w400 f14 pl20">
					<a href="javascript:void(0);"><%= my_spread_survey["survey"]["title"] %></a>
				</td>
				<td class="fg blueTxt"><%= my_spread_survey["survey"]["reward_info"].nil? ? '0' : my_spread_survey["survey"]["reward_info"]['spread_point'] %></td>
				<td class="fg blueTxt"><%= my_spread_survey["spread_number"] %></td>
			</tr>
		<% end %>
		<% end %>
	</table>
	<div class="pagination">
		<a href="?s=<%= s %>&m=<%= m - 1 %>" class="prev-gray"></a>
		<span class="current g9 f14"></span>
		<a href="?s=<%= s %>&m=<%= m + 1 %>"  class="next-gray"></a>
	</div>
</div>
<% end %>

<% end %>

<!-- content for right -->
<% content_for :right do %>
<div class="sidebar-box img-blueBg">
	<h3 class="sidebar-title f14 b g3 mb10">推荐好友答题获取积分奖励</h3>
	<p>推荐好友参加问卷调查，您可获得积分奖励。推荐越多，获取奖励越多，赶快行动吧！</p>
</div>
<% end %>
