<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
　<head>
　　<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
　　<title>推荐答题</title>
　　<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<style>
	img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
　　	a img {border:none;}
	
	</style>
　</head>

<body style="margin: 0; padding: 0;">
<div style="background:#ccc;padding:30px;">
<table border="0" cellpadding="40" cellspacing="0" width="100%">
　　<tr> 
　　　<td>
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="660" style="border-collapse: collapse;background:#fff;">
		<tr>
			<td>
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
		　<tr style="border:1px #dbdbdb solid;">
		　　<td colspan="3" height="40" style="font-size:12px;color:#999;text-align:center;">
			<span>为了确保您能够及时收到来自问卷吧的邮件，请将<span style="color:blue;margin-left:3px;margin-right:3px;"><%= @@survey_email_from %></span>添加进您的通讯录</span></td>
		　</tr>
		　<tr height="80">		
		　	<td valign='middle'>
				<a href="javascript:void(0);"><img src="<%= Rails.application.config.quillme_host + "/assets/email/wenjuanba_logo.png" %>"/></a>				
			</td>
			<td>喊你来答题!</td>
		　</tr>
		　<tr height="50" style="background:#F25F5D;">
		　　<td width="500">
				<span style="font-size:16px;margin-left:15px;color:#fff;">本期调研：</span>
				<a href="javascript:void(0);" style="font-size:16px;color:#fff;text-decoration:none;"><%= @survey.title %></a>
			</td>
			<td><a style="font-size:14px;display:block;text-align:center;background:#fff;color:#f25f5d;height:30px;line-height:30px;text-decoration:none;width:90px;" href="<%= Rails.application.config.quillme_host %>/s/<%= @reward_scheme_id %>?auth_key=%recipient.auth_key%">立即参与</a></td>
		　</tr>
		</table>

		
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
		  	<tr>
		  		<td height="20"></td>
		  	</tr> 
		  <tr style="border-top:1px #dbdbdb solid;">
		  	<td colspan="3" height="50" style="font-size:12px;">
		  		<% if !@survey.deadline.nil? %>
		  			本调研将在 <span style="color:#f25d5d;"><%= Time.at(@survey.deadline).strftime("%Y年%m月%d日%H时%M分") %></span>截止。
		  		<% end %>
		  		本调研还需回收<%= @survey.remain_quota_number %> 份答案。
		  		<% if [RewardScheme::MOBILE, RewardScheme::ALIPAY, RewardScheme::JIFENBAO].include?(@reward_type) %>
			  		参与本次调研即可获得 <span style="color:#ff6600;font-size:14px;">￥<%= @amount %></span> 元奖励，支持多种发放形式，快来参与吧！
		  		<% end %>
		  		<% if @reward_type == RewardScheme::POINT %>
			  		参与本次调研即可获得 <span style="color:#ff6600;font-size:14px;"><%= @amount %></span> 积分！
		  		<% end %>

		  		<% if @reward_type == RewardScheme::LOTTERY %>
		  			作为答谢，参与本次调研即有机会获得以下奖品：
		  		<% end %>
		  	</td>
		  </tr>	
		  	<% if [RewardScheme::MOBILE, RewardScheme::ALIPAY, RewardScheme::JIFENBAO].include?(@reward_type) %>
		  	<tr>
				<td width="200" align="left">
					<table width="182" height="60" style="border:1px #dbdbdb solid;">
						<tr>
							<td align="center" rowspan="2" width="50" ><img src="<%= Rails.application.config.quillme_host + "/assets/email/phone.png" %>"/></td>
							<td style="vertical-align: bottom;"><span style="font-size:14px;">手机话费</span></td>
						</tr>
						<tr>
							<td style="vertical-align: top;">
								<span style="width:130px;display:block;font-size:12px;color:#888;">为您的手机充值<strong style="color:#ff6600;margin-left:2px;margin-right:2px;font-size:12px;">1</strong>元</span>
							</td>
						</tr>
					</table>
				</td>
				<td width="200" align="center">
					<table width="182" height="60" style="border:1px #dbdbdb solid;">
						<tr>
							<td align="center" rowspan="2" width="50" ><img src="<%= Rails.application.config.quillme_host + "/assets/email/alipay.png" %>"/></td>
							<td align="left" style="vertical-align: bottom;"><span style="font-size:14px;">支付宝转账</span></td>
						</tr>
						<tr>
							<td style="vertical-align: top;" align="left" >
								<span style="width:130px;display:block;font-size:12px;color:#888;">为您的支付宝付款<strong style="color:#ff6600;margin-left:2px;margin-right:2px;font-size:12px;">1</strong>元</span>
							</td>
						</tr>
					</table>
				</td>
				<!--
				<td width="200" align="right">
					<table width="182" height="60" style="border:1px #dbdbdb solid;">
						<tr>
							<td align="center" rowspan="2" width="50" ><img src="<%= Rails.application.config.quillme_host + "/assets/email/jifenbao.png" %>"/></td>
							<td align="left" style="vertical-align: bottom;"><span style="font-size:14px;">集分宝</span></td>
						</tr>
						<tr>
							<td style="vertical-align: top;" align="left" >
								<span style="width:130px;display:block;font-size:12px;color:#888;">领取<strong style="color:#ff6600;margin-left:2px;margin-right:2px;font-size:12px;">100</strong>集分宝</span>
							</td>
						</tr>
					</table>
				</td>
			-->
			</tr>
			<% end %>
			<tr>
			  	<% if [RewardScheme::POINT, RewardScheme::MOBILE, RewardScheme::ALIPAY, RewardScheme::JIFENBAO].include?(@reward_type) %>
					<td colspan="3" height="50" style="font-size:14px;">热门礼品<!-- 作为答谢，凡参与本次调研的用户均可获得一次抽奖机会！ --></td>
				<% end %>
			</tr>
			<tr>
				<% (@gifts || []).each do |g| %>
					<td width="200" align="left"><a href="<%=g[:url]%>" style="width:180px;height:180px;display:block;border:1px #dbdbdb solid;text-align:center;"><img style="border:none;" width="180" height="180" src="<%= g[:img_url] %>" /></a></td>
				<% end %>
				<% (@prizes || []).each do |p| %>
					<td width="200" align="left"><a href="javascript:void(0);" style="width:180px;height:180px;display:block;border:1px #dbdbdb solid;text-align:center;"><img style="border:none;" width="180" height="180" src="<%= p[:img_url] %>" /></a></td>
				<% end %>
			</tr>
			<tr>
				<% (@gifts || []).each do |g| %>
					<td width="200" height="30" align="left"><a href="<%=g[:url]%>" style="width:180px;display:block;text-align:center;font-size:12px;"><%=g[:title]%></a></td>
				<% end %>
				<% (@prizes || []).each do |p| %>
					<td width="200" height="30" align="left"><a href="javascript:void(0);" style="width:180px;display:block;text-align:center;font-size:12px;"><%=p[:title]%></a></td>
				<% end %>
			</tr>
			<tr style="border-bottom:1px #dbdbdb solid;">
				<td colspan="3" height="20"></td>
			</tr>
		  	<% if @redeem_logs.present? %>
				<tr>
			  		<td colspan="3" height="40" style="font-size:13px;">
			  			最近兑换：
		  			</td>
		  		</tr>
			  	<% @redeem_logs.each do |log| %>
					<tr height="24">
						<td colspan="3" style="font-size:12px;">
							<span style="color:#999;margin-right:5px;"><%=log[:time]%></span><span style="color:#666;margin-right:5px;"><%=log[:nickname]%></span><span style="color:#999;margin-right:5px;">使用<b style="margin-left:2px;margin-right:2px;color:#ff6600;"><%=log[:point]%></b>积分</span><span style="color:#999;margin-right:5px;">兑换了</span><a href="javascript:void(0);"><%=log[:gift_name]%></a>
						</td>
					</tr>
				<% end %>
		  	<% end %>
			<% if @lottery_logs.present? %>
				<tr>
					<td colspan="3" height="50" style="font-size:13px;">
						最近参与
					</td>
				</tr>
				<% @lottery_logs.each do |lottery_log_group| %>
					<tr>
						<% lottery_log_group.each do |lottery_log| %>
							<td width="200" align="left">
								<table width="182" height="50" style="border:1px #dbdbdb solid;">
									<tr>
										<td align="center" rowspan="2" width="50" ><img width="34" height="34" src="<%= lottery_log[:avatar_url] %>"/></td>
										<td style="vertical-align: bottom;"><span style="font-size:12px;"><%=lottery_log[:nickname]%></span></td>
									</tr>
									<tr>
										<td style="vertical-align: top;">
											<span style="font-size:12px;color:#999;"><%=lottery_log[:region]%></span>
										</td>
									</tr>
								</table>
							</td>
						<% end %>
					</tr>
					<tr>
						<td colspan="3" height="10"></td>
					</tr>
				<% end %>
			<% end %>

			<tr style="border-bottom:1px #dbdbdb solid;">
				<td colspan="3" height="20"></td>
			</tr>
			<tr>
				<td colspan="3" align="right" height="40"><span style="font-size:12px;">若不是您订阅的邮件，点击<a href="<%= Rails.application.config.quillme_host %>/surveys/cancel_subscribe?key=%recipient.unsubscribe_key%">退订</a></span></td>
			</tr>
		</table>
		</td>
		</tr>
	</table>
		</td>
　　</tr>
　</table>
</div>
</body>
</html>
