<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<title>邮件</title>
	<style type="text/css">
body{
	margin:0;
	padding:20px;
	background: #e7e9ea;
	font: 13px '微软雅黑', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
p,a,span,div,strong{margin:0;padding:0;}
.l{float: left}
.r{float: right}
.fix{*zoom:1;}
.fix:after{
	display:block; 
	content:"clear"; 
	height:0; 
	clear:both; 
	overflow:hidden; 
	visibility:hidden;
}
.mail{
	width: 600px;
	margin: 20px auto;
}
.logo{
	background: #212121;
	padding:12px 20px;
	border-radius: 6px 6px 0 0;
}
.content{
	padding:15px;
	border-radius:0 0 6px 6px;
	border:1px #cccdd0 solid;
	border-top:none;
	background: #fff;
	line-height: 2em;
	word-wrap: break-word;/*自动换行*/
	word-break:break-all;/*强制英文单词断行*/
}
/*.content img{
	margin-left:15px;
}*/
.content a{color: #407abd;}
.content a:hover{}
.content .activate-link{
	color: #407abd;
	font-weight: bold;
}
.content .username{
	margin:0 5px;
}
.content .explain{
	font-size: 12px;
	color: #999;
	line-height: 2em;
}
.divide{
	width:100%;
	margin:35px 0 15px 0;
	border-top:1px #dbdbdb solid;
	display: inline-block;	
}
.team{
	text-align: right;
	padding: 10px;
}
.team-a{
	font-size: 12px;
	color: #999;
}
.answer-link{
	float: right;
}
.login{
	margin-left:205px;
}
.od-button{
	width:140px;
}
a.od-button {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
.od-button {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 7px 10px 7px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #ffc000;
  background-image: -moz-linear-gradient(top, #f2cd49, #f3c30b);
  background-image: -ms-linear-gradient(top, #f2cd49, #f3c30b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2cd49), to(#f3c30b));
  background-image: -webkit-linear-gradient(top, #f2cd49, #f3c30b);
  background-image: -o-linear-gradient(top, #f2cd49, #f3c30b);
  background-image: linear-gradient(top, #f2cd49, #f3c30b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2cd49', endColorstr='#f3c30b', GradientType=0);
  border-color: #ffc000 #ffc000 #ffc000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #f1ae00;
  border-radius:3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.od-button:hover,
.od-button:active,
.od-button.active,
.od-button.disabled,
.od-button[disabled] {
  background-color: #f1ae00;
}
.od-button:active,
.od-button.active {
  background-color: #f1ae00 \9;
}
.od-button:first-child {
  *margin-left: 0;
}
.od-button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #ffc000;
  background-position: 0 -30px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.od-button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.od-button.active,
.od-button:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #ffc000;
  background-color: #ffc000 \9;
  outline: 0;
}
.od-button.disabled,
.od-button[disabled] {
  border:1px #ccc solid;
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color:#999;
}
.reason {
	border: 1px dotted #999;
	border-left: none;
	border-right: none;
	padding: 15px 0;
	font-weight: bold;
	font-size: 15px;
	margin-top: 10px;
}
.surveys {
	border: 1px dotted #999;
	border-left: none;
	border-right: none;
	padding: 15px 0;
	margin-top: 10px;
}
.survey {
	color: #666;
}
.s-link {
	color: #407abd;
	font-weight: bold;
}
.reward {
	font-weight: bold;
	margin: 0 5px;
	color: #000;
}
.presents {
}
.present {
	float: left;
	margin: 10px;
	width: 150px;
	padding: 5px;
	border: 1px solid #ccc;
	color: #407abd;
	text-decoration: none;
	cursor: pointer;
}
.present-img {
	display: block;
	width: 150px;
	border: none;
	margin: 0px;
	padding: 0;
}
.present-title {
	display: block;
	text-align: center;
	padding: 5px 0 0 0;
	width: 150px;
	overflow: hidden;
}
	</style>
</head>
<body>
	<div class="mail fix">
		<div class="logo">
			<img src="<%= Rails.application.config.quill_host %>/assets/email/logo.png" alt="优数调研">
		</div>
		<div class="content">
			<p>尊敬的用户您好!</p>
			<br />
			<p>邀请您填写下列问卷：</p>
			<div class='surveys'>
				<% @surveys.each do |s| %>
				<div class='survey'>
					<a href="<%= Rails.application.config.quillme_host %>/s/<%= s._id %>" target="_blank" class='s-link'><%= s.title %></a>
					<% if s.reward == 1 %>
						<span>（可参加抽奖：<a class='reward' href='javascript:void(0);' target="_blank"><%= s.lottery.try(:title) %></a>）</span>
					<% elsif s.reward == 2 %>
						<span>（可获得<b class='reward'><%= s.point %></b>积分）</span>
					<% end %>
				</div>
				<% end %>
			</div>
			<br />
			<p>优数调研提供了丰富的礼品供您兑换，还有各种大奖等你来抽，快快参加调研吧！</p>
			<div class='presents'>
				<% @presents.each do |p| %>
				<a class='present' target="_blank">
					<img src="<%=p[:img_url]  %>" class='present-img' />
					<span href="<%=p[:url]  %>" class='present-title'><%= p[:title] %></span>
				</a>
				<% end %>
			</div>
			<i class="divide"></i>
			<div class="explain">
				<p>如果错误地接受到了这条信息，且没有注册优数调研账户，请直接忽略本邮件。</p>
			</div>
		</div>
		<div class='team'>
			<a class='team-a' href="<%= Rails.application.config.quill_host %>">优数调研</a>
		</div>
	</div>
</body>
</html>
