<!-- content for head -->
<% content_for :head do %>
  <%= javascript_include_tag "pages/account/profile_quill-bundle" %>
  <%= stylesheet_link_tag "pages/account/profile_quill-bundle", :media => "all" %>
<% end %>

<!-- content for left menus -->
<% content_for :left_menus do %>
	<%= render :partial => "partials/left_menus_account", :locals => { :left_active => 0 } %>
<% end %>

<!-- put html code below -->

<div class="page profile">  
    <div class="seperator top gray"></div>  
    
    <div class="q-render gray">
      <h2 class="logic-title">账户设置</h2>
    <div class="seperator gray-white"></div> <!-- 白-灰分界线 -->
        
    </div>
    <div class="q-render white">  
      <form>
        <fieldset>

          <legend>个人信息管理</legend>

          <p class="email">
            <label for="mail">邮箱</label>
            <input type="text" id="mail" disabled='disabled' value="<%= @common_user.email %>"/>
          </p>

          <p class="username">
            <label for="username">用户名</label>
            <input type="text" id="username" value="<%= @common_user.username %>"/>
          </p>

          <p class="name">
            <label for="name">姓名</label>
            <input type="text" id="name" value="<%=  %>"/>
          </p>

          <p class="card">
            <label for="card">证件号</label>
            <input type="text" id="card" value="<%=  %>"/>
          </p>

          <p class="company">
            <label for="company">公司</label>
            <input type="text" id="company" value="<%=  %>"/>
          </p>

          <p class="phone">
            <label for="phone">手机号码</label>
            <input type="text" id="phone" value="<%= @common_user.mobile %>"/>
          </p>

          <p class="address">
            <label for="address" style="vertical-align:top;margin-top:0;">地址</label>
            <textarea id="address" ><%=  %></textarea>
          </p>

          <button class="od-button btnOK">确  定</button>

        </fieldset>

        <fieldset style="border:none">

          <legend>密码修改</legend>

          <p class="oldPass">
            <label for="oldPass">旧密码</label>
            <input type="password" id="oldPass" value="<%=  %>"/>
          </p>

          <p class="newPass">
            <label for="newPass">新密码</label>
            <input type="password" id="newPass" value="<%=  %>"/>
          </p>

          <p class="againPass">
            <label for="againPass">确认密码</label>
            <input type="password" id="againPass" value="<%=  %>"/>
          </p>

          <button class='od-button btnOKPass'>确  定</button>

        </fieldset>

      </form>
    </div>
    <div class="seperator bottom gray"></div> <!-- 下方圆角，白色 -->
  </div>