<!-- content for head -->
<% content_for :head do %>
	<%= javascript_include_tag "pages/account/profile_quillme-bundle" %>
	<%= stylesheet_link_tag "pages/account/profile_quillme-bundle", :media => "all" %>
<% end %>

<% content_for :left do %>
<div class="content-account-box redBorder">
	<h3 class="content-left-title whiteTxt f14 b redBg">账户设置</h3>
	<div class="w896 fix">
		<form action="javascript:void(0);">
			<fieldset>
				<legend class="redTxt b f14">个人信息管理</legend>
				<p>
					<span class="input-title tr f14 mr20">邮箱</span>
					<input type="text" name="mail" id="mail" class="w500" disabled="disabled"  value="<%= @common_user.value['email'] %>" />
				</p>
				<p class="dn">
					<span class="input-title tr f14 mr20">用户名</span>
					<input type="text" name="user_name" class="w200" id="user_name" value="<%= @common_user.value['username'] %>" />
				</p>
				<p>
					<span class="input-title tr f14 mr20">姓名</span>
					<input type="text" name="name" class="w200" id="name"  value="<%= @common_user.value['full_name'] %>"/>
				</p>	
				<p>
					<span class="input-title tr f14 mr20">证件号</span>
					<input type="text" name="idNmber" class="w300" id="idNmber" value="<%= @common_user.value['identity_card'] %>"/>
				</p>
				<p>
					<span class="input-title tr f14 mr20">手机号码</span>
					<input type="text" name="phoneNumber" class="w300" id="phoneNumber" value="<%= @common_user.value['phone'] %>"/>
				</p>
				<p>
					<span class="input-title tr f14 mr20">地址</span>
					<input type="text" name="address" class="w500" id="address"  value="<%= @common_user.value['address'] %>"/>
				</p>
				<a href="javascript:void(0);" class="css-btn red r" id="save-info">保存修改</a>
			</fieldset>

			<fieldset>
				<legend class="redTxt b f14">密码修改</legend>
				<p>
					<span class="input-title tr f14 mr20">旧密码</span>
					<input type="password" name="oldPassword" class="w200" id="oldPassword"/>
				</p>
				<p>
					<span class="input-title tr f14 mr20">新密码</span>
					<input type="password" name="newPassword" class="w200" id="newPassword"/>
				</p>
				<p>
					<span class="input-title tr f14 mr20">重新输入</span>
					<input type="password" name="againPassword" class="w200" id="againPassword" />
				</p>
				<a href="javascript:void(0);" class="css-btn red r" id="save-password">保存修改</a>
			</fieldset>

			<label for="inform-mail" class="inform-mail" style='display:none; margin-left: 40px;margin-bottom: 20px;'>
				<input type="checkbox" name="inform" id="inform-mail" class="inform l">
				<span class="redTxt b l mt5 f14" >订阅问卷的通知邮件</span>
			</label>
			
		</form>
	</div>
	
</div>
<% end %>
