<div class='survey-editor'>
  <!-- 问卷标题 -->
  <div class="ex-title">
    <!-- 主标题 -->
      <input type="text" name="survey-title" class="survey-title" value='{{title}}'>
     <!-- 副标题  -->
      <input type="text" name="survey-subtitle" class="survey-subtitle" value='{{subtitle}}'>
      <!-- 调查背景 -->
      <textarea name="survey-description" class="survey-description" cols="30" rows="10">{{description}}</textarea>
      <button class="submit-edit"><strong>确定</strong><span>并开始编辑问题</span></button>
  </div>
  <div class="ex-title-finished">
    <button>编辑</button>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <div class="survey-description-finished"></div>
  </div>
	<div class='s-no-question'>
		<h1>您尚未添加任何题目，请点击左侧或下方按钮添加问题。</h1>
		<p>
			<button t='Choice' class='od-button'>添加一道选择题</button>
		</p>
	</div>
	<div class='s-pages'>
	</div>
</div>