
<!-- content for head -->
<% content_for :head do %>
  <%= stylesheet_link_tag "pages/admin/announcements-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/admin/announcements/form-bundle" %>
<% end %>

<form action="<%= admin_announcements_path + (@announcement["created_at"].nil? ? '' : "/#{@announcement["_id"]}") %>"
      name="announcement"
      enctype="multipart/form-data"
      method="post"
      id="announcement_form"
      class="form-horizontal"
>
  <input value="<%= @announcement["created_at"].present? ? 'put' : 'post' %>" type='hidden' name="_method">
  <p class="text-center">
    <img src="<%= @announcement['photo_url'] %>" alt="" id="announcement_photo_src" class="img-circle" style="width: 260px; height: 260px;">
  </p>

  <legend></legend>

  <div class="control-group">
    <label class="control-label" >公告标题:</label>
    <div class="controls">
      <div class="input-append">
      <input class="input-medium" type="text" name="announcement[title]" placeholder="奖品名称" <%= "value=#{@announcement["title"]}" if @announcement["title"] %>>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            选择类型
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropselect" id="type_select">
            <li><a href="#type-2">QuillMe公告</a></li>
            <li><a href="#type-1">Quill公告</a></li>
          </ul>
        </div>
      </div>
  </div>
  </div>

  <input type="hidden" name="announcement[type]" id="announcement_type" value="<%= @announcement["type"] || 1 %>">

  <div class="control-group" id="amount_ctrl">
    <label class="control-label">发送对象:</label>
    <div class="controls">
      <div class="input-prepend" id="amount_select">
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            类型选择
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropselect">
            <li><a href="#amount-10">所有用户</a></li>
            <li><a href="#amount-20">指定用户</a></li>
          </ul>
        </div>
        <input class="input-medium" type="text" name="announcement[amount]" id="announcement_amount" placeholder="用户邮箱" value="<%= @announcement["amount"] %>">
      </div>

    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" >公告正文:</label>
    <div class="controls">
      <textarea name="announcement[content]" id="content_body" cols="7" placeholder="请输入公告正文"><%= @announcement["content"] %></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">上传图片:</label>
    <div class="controls">
    <% if @announcement['created_at'] %>
      <input type="file" name="announcement[attachment]" id="announcement_photo"/>
    <% else %>
      <input type="file" name="announcement[attachment]" id="announcement_photo" />
    <% end %>
    </div>
  </div>


  <div class="pull-right">
  <%= link_to "<<返回列表", admin_announcements_path %>
  <button type="submit" class="btn btn-primary">确认无误</button>

  </div>
</form>
