<!-- content for head -->
<% content_for :head do %>
  <script type="text/javascript">
    jQuery(function($) {
      $('#nav').remove();
      $('#new_survey_btn').click(function() {
        location.href = '<%= new_express_questionaire_path %>'
      });
      $('#banner .list-survey').addClass('active');
      window.page = <%= raw (params[:page] || 1).to_json %>;
      window.per_page = <%= raw (params[:per_page] || 10).to_json %>;
    });
  </script>
  <%= javascript_include_tag "pages/express/questionaires-bundle" %>
  <%= stylesheet_link_tag "pages/express/questionaires-bundle", :media => "all" %>
<% end %>



<div class="survey-list">
    <h2>我的问卷</h2>
    <a href="javascript:;" class="creat-survey">创建问卷</a>
    <ul>
      <li><a href="javascript:;">全部</a></li>
      <li><a href="javascript:;">星标</a></li>
      <li><a href="javascript:;">已删除</a></li>
    </ul>
</div>