<form action="<%= admin_lotteries_path + (@lottery["created_at"].nil? ? '' : "/#{@lottery["_id"]}") %>" name="lottery" enctype="multipart/form-data" method="post" id="lottery_form" class="mainForm">
  <!-- Input text fields -->
  <fieldset>
    <div class="widget first">
      <div class="head"><h5 class="iList"><%= @lottery["created_at"] ? "编辑" : "新建" %>抽奖活动</h5></div>

      <input name="_method" type="hidden" value="<%= @lottery["created_at"] ? "put" : "post" %>" />
      <input name="lottery[prize_ids]" id = "prize_ids" type="hidden" value="<%= @lottery["prize_ids"].join(',') unless @lottery["prize_ids"].blank? %>"/>
      <div class="rowElem">
        <label>活动名称:</label>
        <div class="formRight">
          <input type="text" name="lottery[title]" class="validate[required]" <%= "value=#{@lottery["title"]}" if @lottery["title"] %> id="lottery_title"/>
        </div>
        <div class="fix"></div>
      </div>

      <div class="rowElem">
        <label>是否可用积分兑换:</label>
        <div class="formRight">
          <input type="checkbox" name="lottery[exchangeable]" <%= "checked" if @lottery["exchangeable"] %>/>
        <div class="fix"></div>
      </div>

      <div class="rowElem onlyNums">
        <label>所需积分:</label>
        <div class="formRight">
          <input type="text" class="" <%= "value=#{@lottery["point"]}" if @lottery["point"] %> name="lottery[point]" />
        </div>
        <div class="fix"></div>
      </div>

      <div class="rowElem">
        <label>上传图片:</label>
        <div class="formRight">
          <img src="<%= @lottery["photo_src"] %>" alt="" id="lottery_photo_src">
          <br />
          <input type="file" name="lottery[photo]" id="lottery_photo"/>
        </div>
        <div class="fix"></div>
      </div>

      <div class="rowElem">
        <div class="floatleft">
          <div class="pics">
              <ul id="prize_icons">
                <% @lottery["prizes"].each_with_index do |prize, index| %>
                <li id="prize_icon_<%= index %>">
                  <a href="#<%= index %>" title="<%= prize['name']%>" class="btn-prize_icon">
                    <img src="<%= prize['photo_src'] || '/assets/images/img.png' %>" alt="" id="prize_icon_src_<%= index%>" width="100%" /></a>
                  <div class="actions">
                    <a href="#<%= index %>" title="" class="btn-edit-prize"><img src="/assets/images/edit.png" alt="" /></a>
                    <a href="#<%= index %>" title="" class="btn-delete-prize"><img src="/assets/images/delete.png" alt="" /></a>
                  </div>
                </li>
                <% end unless @lottery["prize_ids"].nil?-%>
              </ul>
          </div>
        </div>
        <div class="fix"></div>
      </div>

      <div id="prize_form" style="display: none">
        <%= render "admin/lotteries/prizes/form" %>
      </div>

      <div class="rowElem">
        <div class="aligncenter">
          <a href="#" title="点击添加" class="btn55 mr10" id="btn_prize_form">
            <img src="<%= assets_icon "fullscreen", "middlenav" %>" alt="">
            <span>添加奖品</span>
          </a>
        </div>
        <div class="fix"></div>
      </div>

      <div class="rowElem">
        <label>活动描述:</label>
        <div class="formRight">
          <textarea rows="8" cols="" name="lottery[description]"><%= @lottery["description"] %></textarea>
        </div>
        <div class="fix"></div>
      </div>

      <div class="rowElem">
        <div class="formRight">
          <input type="button" value="取消" class="greyishBtn" id="cancel_lottery">
          <input type="button" value="提交" class="greyishBtn submitForm" id="submit_lottery">
        </div>
      </div>
      <!-- <input type="submit" value="提交" class="greyishBtn submitForm" id="submit_lottery"/> -->
      <div class="fix"></div>
    </div>
  </fieldset>
</form>
