<% content_for :foot do %>
	<%= javascript_include_tag "pages/admin/lottery_index-bundle" %>
<% end %>
<script type="text/javascript">
window.lottery = <%= raw @lottery.to_json %>;
console.log(window.lottery);
</script>
<div class="title">
	<h5><a href="/admin/lotteries/<%= @lottery["_id"]%>">&lg;&lg;返回</a>&nbsp;奖品分配</h5>
</div>
<div class="widget first">
	<div class="head">
		<h5 class="iFrames"><%= @lottery["title"] %></h5>
	</div>
	<%= render 'user_list' %>
	<div class="aligncenter">
    <a href="<%= admin_lottery_path %>" title="返回详细" id="" class="btn55 mr10">
      <img src="<%= assets_icon "pencil", "middlenav" %>" alt="返回详细" >
      <span>返回详细</span>
    </a>
    <a href="<%= reward_records_admin_lottery_path %>" title="中奖纪录" class="btn55 mr10">
      <img src="<%= assets_icon "pencil", "middlenav" %>" alt="中奖纪录" >
      <span>查看中奖纪录</span>
    </a>
    <a href="<%= @lottery["_id"] %>" title="自动抽奖" id="btn-auto_draw" class="btn55 mr10">
      <img src="<%= assets_icon "pencil", "middlenav" %>" alt="自动抽奖" >
      <span>自动抽奖</span>
    </a>
	</div>
</div>
