<% content_for :foot do %>
	<%= javascript_include_tag "pages/admin/lottery_index-bundle" %>
<% end %>
<script type="text/javascript">
window.lottery = <%= raw @lottery.to_json %>;
console.log(window.lottery);
</script>
<div class="title"><h5>抽奖流程控制</h5></div>
<div class="widget first">
	<div class="head">
		<h5 class="iFrames"><%= @lottery["title"] %></h5>
	</div>
	<table id="<%= @lottery["_id"] %>" cellpadding="0" cellspacing="0" width="100%" class="table-prizes tableStatic lottery-ctrl">
		<thead>
			<tr>
				<td width="15%">奖品</td>
				<td width="15%">使用量</td>				
				<td width="30%">有效期</td>			
				<td width="10%">已抽出</td>
				<td width="10">中奖率</td>
				<td width="10%">状态</td>
			</tr>
		</thead>
		<tbody>
			<% @lottery["prizes"].each do |h| %>
			<tr id='<%= h["_id"] %>'>
				<td><%= h["name"] %><br/>(库存<%= h["quantity"] %>)</td>
				<td><%= text_field_tag('ctrl_surplus' + h["_id"], h["ctrl_surplus"], :maxlength => 6, :size => 3) %></td>
				<td><%= Time.iso8601(h["ctrl_start_time"]).localtime.strftime("%Y年%m月%d日") %>起<%= text_field_tag('ctrl_time' + h["_id"], h["ctrl_time"], :maxlength => 6, :size => 3) %>天内</td>
				<td><%= h["ctrl_quantity"].to_i - h["ctrl_surplus"].to_i %></td>
				<td>1/<%= text_field_tag('weight' + h["_id"], h["weight"], :maxlength => 6, :size => 3) %></td>
				<td><input type="button" value="更新" class="button-update" /></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>