<% content_for :foot do %>
	<%= javascript_include_tag "pages/admin/lottery_index-bundle" %>
<% end %>
<script type="text/javascript">
window.lottery = <%= raw @lottery.to_json %>;
console.log(window.lottery);
</script>
<div class="title"><h5>中奖记录</h5></div>
<div class="widget first">
	<div class="head">
		<h5 class="iFrames"><%= @lottery["title"] %></h5>
	</div>
	<%= render 'lottery_codes' %>
	<div class="aligncenter">
    <a href="<%= admin_lottery_path %>" title="返回详细" id="" class="btn55 mr10">
      <img src="<%= assets_icon "pencil", "middlenav" %>" alt="返回详细" >
      <span>返回详细</span>
    </a>
	</div>
</div>
