<% content_for :head do %>
  <%= stylesheet_link_tag "pages/admin/lotteries-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/admin/lottery_index-bundle" %>
  <script type="text/javascript">
    window.lottery = <%= raw @lottery.to_json %>;
    console.log(window.lottery);
  </script>
<% end %>
<div class="title"><h5>查看抽奖活动</h5></div>
<div class="widget first">
  <div class="head"><h5 class="iCreate"><%= @lottery["title"] %></h5></div>
  <div class="body">
    <%= lottery_img @lottery %>
    <p>活动状态: <em><%= lottery_status @lottery["status"] %></em></p>
    <p><%= @lottery["description"] %></p>
    <hr />
    <br />

    <table id="<%= @lottery["_id"] %>" cellpadding="0" cellspacing="0" width="100%" class="table-prizes tableStatic lottery-ctrl">
      <thead>
        <tr>
          <td width="25%">奖品</td>
          <td width="15%">待抽出数量</td>
          <td width="20%">有效期</td>
          <td width="10%">已抽出</td>
          <td width="20%">中奖率</td>
          <td width="10%">更新</td>
        </tr>
      </thead>
      <tbody>
        <% @lottery["prizes"].each do |h| %>
        <tr id='<%= h["_id"] %>'>
          <td><%= link_to h["name"], h["_id"], :class => "prize_name" -%><br/>(库存<%= h["surplus"] %>)</td>
          <td><%= text_field_tag('ctrl_surplus' + h["_id"], h["ctrl_surplus"], :maxlength => 6, :size => 3) %></td>
          <td><%= text_field_tag('ctrl_time' + h["_id"], h["ctrl_time"], :maxlength => 6, :size => 3) %>天内</td>
          <td><%= h["quantity"].to_i - h["surplus"].to_i %></td>
          <td>1 / <%= text_field_tag('weight' + h["_id"], h["weight"], :maxlength => 6, :size => 3) %></td>
          <td><input type="button" value="更新" class="button-update" /></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <hr />
    <br />
    <div class="aligncenter">
      <a href="<%= edit_admin_lottery_path %>" title="编辑" class="btn55 mr10">
        <img src="<%= assets_icon "pencil", "middlenav" %>" alt="编辑" >
        <span>编辑抽奖活动</span>
      </a>
      <a href="<%= @lottery["_id"] %>" title="删除" id="btn-lottery_delete" class="btn55 mr10">
        <img src="<%= assets_icon "pencil", "middlenav" %>" alt="删除" >
        <span>删除抽奖活动</span>
      </a>
<!--       <a href="<%= ctrl_admin_lottery_path %>?only_active=true" title="抽奖流程控制" class="btn55 mr10">
        <img src="<%= assets_icon "pencil", "middlenav" %>" alt="抽奖流程控制" >
        <span>抽奖流程控制</span>
      </a> -->
<!--       <a href="<%= @lottery["_id"] %>" title="自动抽奖" id="btn-auto_draw" class="btn55 mr10">
        <img src="<%= assets_icon "pencil", "middlenav" %>" alt="自动抽奖" >
        <span>自动抽奖</span>
      </a> -->
      <a href="<%= assign_prize_admin_lottery_path %>"  title="分配奖品" class="btn55 mr10">
        <img src="<%= assets_icon "pencil", "middlenav" %>" alt="分配奖品" >
        <span>分配奖品</span>
      </a>
      <a href="<%= reward_records_admin_lottery_path %>" title="中奖纪录" class="btn55 mr10">
        <img src="<%= assets_icon "pencil", "middlenav" %>" alt="中奖纪录" >
        <span>查看中奖纪录</span>
      </a>
      <a href="<%= lottery_codes_admin_lottery_path %>" title="中奖纪录" class="btn55 mr10">
        <img src="<%= assets_icon "pencil", "middlenav" %>" alt="中奖纪录" >
        <span>抽奖号列表</span>
      </a>
    </div>

  </div>
</div>
<div id="show_prize" class="widget">

</div>
