<% content_for :head do %>
  <%= stylesheet_link_tag "pages/admin/sample_attributes-bundle", :meida => 'all' %>
  <%= javascript_include_tag "jquery-interdependencies" %>
  <%= javascript_include_tag "pages/admin/sample_attributes_bind-bundle" %>
  <%= javascript_tag do  %>
    // only show in this page, will not pollute others.
    var question = <%= raw JSON.dump @question %>;
    var attrs = <%= raw JSON.dump @attrs %>;
    var addr_precision = <%= raw @addr_precision %>;
  <% end %>
<% end %>
<div class="sample_properties">
  <div class="title">
    <h5>绑定样本属性</h5>
  </div>
  <%= form_tag("", method: 'put', name: 'attribute_bind_form') do %>
    <p>
    <label class="child-title f14 pl2">问题标题</label>
    <%= @question['content']['text'] %>
    </p>
    <p>
    <label class="child-title f14 pl2">选择绑定属性</label>
    <select name="type" class="validate[required]">
      <option value=""></option>
      <% @attrs.each do |attr| %>
        <option data-id="<%= attr['type'] %>" value="<%= attr['_id'] %>"><%= attr['name'] %></option>
      <% end %>
    </select>
    </p>
    <div class="panel-wrapper"><!-- extra view for bind attr -->
    </div>
    <p>
    <input class="blueBtn btn-new-ok" id="submit_bind" type="submit" value="确 定">
    <%= link_to "删除属性绑定", admin_sample_attribute_bind_path(@question['_id']), method: :delete, confirm: "确定要删除吗", class: "submitForm greyishBtn button"   %>
    </p>
  <% end %>
</div>
