<% content_for :head do %>
  <%= javascript_include_tag "pages/sample/gifts-bundle" %>
  <%= stylesheet_link_tag "pages/sample/gift-bundle", :media => "all" %>
  <script type="text/javascript">
  <% if user_signed_in %>
    window.username    = "<%=  current_user.nickname  if @data[:receiver_info] %>"
    window.total_point = "<%=  current_user.point if @data[:receiver_info]  %>"
    window.sample_receiver = "<%= @data[:receiver_info]['receiver']  if @data[:receiver_info] %>"
    window.sample_mobile   = "<%= @data[:receiver_info]['mobile']  if @data[:receiver_info] %>"
    window.sample_postcode = "<%= @data[:receiver_info]['postcode'] if @data[:receiver_info]  %>"
    window.sample_address  = "<%= @data[:receiver_info]['address'] if @data[:receiver_info] %>"
    window.sample_street_info = "<%= @data[:receiver_info]['street_info'] if @data[:receiver_info] %>"
  <% end %>
    window.point_value = "<%= @data[:gift].point %>"
    window.gift_id    = "<%= @data[:gift].id %>"
    window.gift_name  = "<%= @data[:gift].title %>"
  </script>
<% end %>


<div class="site_nav">
  <span class="biao"></span><a href="<%= home_path %>"><span>首页</span></a>
  <span>></span><a href="<%= gifts_path %>"><span>礼品列表</span></a>>
  <span class="curr">礼品详情</span>
</div>

<div class="inner-page">
  <div class="research-list dashed-box l">
    <div class="dashed-box-inner">
      <div class="gift_info">
        <div class="gift_img">
          <img src="<%= show_image(@data[:gift].photo_src,'gifts') %>" alt="<%= @data[:gift].title %> "width="260" height="260" />
        </div>
        <div class="gift_sub_info">
          <div class="gift_name"><%= @data[:gift].title%></div>
          <div class="gift_detail">
            <div><span>需要 :</span><span><b class="s-font"><%= @data[:gift].point %></b>积分</span></div>
            <div><span>价值 :</span><span>￥<%=@data[:gift].price %>元</span></div>
            <div>
              <span>已兑 :</span><span class="gift_num"><%= @data[:gift].exchange_count %>件</span><span>(库存: <%= @data[:gift].quantity %>件)</span>
            </div>
            <% if user_signed_in %>
              <% if @gift.status == Gift::ON_THE_SHELF %>
                <button class="reedm_right_now">立即兑换</button>
              <% else %>
                <button>已经下架</button>
              <% end %>
            <% else %>
              <% if @gift.status == Gift::ON_THE_SHELF %>
                <button class="reedm_right_now not_login">立即兑换</button>
              <% else %>
                <button>已经下架</button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="gift_desc">
        <h3>奖品介绍</h3>
        <div class="gift_intro">
          <%= @data[:gift].description %>
        </div>
      </div>
    </div>
  </div>

  <% if @data[:gift_rank].present? %>
  <div class="guess dashed-box l">
    <div class="dashed-box-inner">
      <div class="dashed-box-inner-top">
        <h3 class="box-title icon-like">猜你喜欢</h3>
      </div>
      <ul>
        <% @data[:gift_rank].each_with_index do |g,index| %>
        <li>
          <span class="gift-title"><a href="<%= gift_path(g.id)%>"><%= g.title %></a></span>
          <span class="integral"><%= g.point %>积分</span>
        </li>
        <% end %>
      </ul>      
    </div>    
  </div>  
  <div style="clear:both;"></div>
  <% end %>
</div>

<% if @data[:gift_rank].present? %>
<div class="inner-page  other_like">
  <div class="hot-gift dashed-box l">
    <div class="dashed-box-inner">
      <div class="dashed-box-inner-top">
        <h3 class="box-title icon-gift">热门兑换</h3>
      </div>
      <ul>
        <% @data[:gift_rank].each_with_index do |g,index|%>
          <% if index < 4%>
            <li <%= index == 3 ? 'style=margin-right:0px' : '' %>>
              <a href="<%= gift_path(g.id)%>">
                <span class="gift-img">
                  <img src="<%= show_image(g.photo_src,'gifts') %>" alt="<%= g.title %>"  width=" 140" height="140">
                </span>
                <span class="gift-title"><%= truncate("#{g.title}", :length => 25) %></span>
                <span class="integral"><%= g.point %>积分</span>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>

    </div>
  </div>
  <div style="clear:both;"></div>
</div>
<% end %>

<%= render :partial => "popup" %>