<%
  @page_title = '错误 - 问卷已经关闭' if @survey_closed
%>

<% content_for :head do %>
  <%= javascript_include_tag "pages/filler/survey-bundle" %>
  <%= stylesheet_link_tag    "pages/filler/survey-bundle" %>

  <script type="text/javascript">
  jQuery(function($) {
    // referer and channel
    window.rsi = '<%=params[:id]  %>';
    window.referer = "<%= raw escape_javascript(@referer_host) %>";
    window.channel = <%= @channel %>;

    // set start button text
    <% if @percentage > 0 %>
      <% if @survey[:lang] == 'en' %>
        $('#start_btn').text('Continue ( ' + Math.round(<%= @percentage * 100 %>) + '% finished )');
      <% else %>
        $('#start_btn').text('继续答题（已完成' + Math.round(<%= @percentage * 100 %>) + '%）');
      <% end %>
    <% else %>
      <% if !["533bc7c6eb0e5badf200001d", "53191980eb0e5b99ea000020", "52a156f0eb0e5b697800000b", "52a59fc6eb0e5bb2c5000007",
      "544a0602eb0e5b829e000016", "544a0ab5eb0e5bfab700019d", "54365c14eb0e5bba58000204", 
      "544b6d8eeb0e5bef46000006","547fb68beb0e5b4cc4000016"].include?(@survey['_id'].to_s) %>
        <% if @survey[:lang] == 'en' %>
          $('#start_btn').text('Start Survey');
        <% elsif @survey['_id'].to_s == '53faa7ddeb0e5b58bc000039' %>
          <% unless params[:ati].present? %>
            $('#start_btn').text('开始答题（耗时10-15分钟）');
          <% end %>
        <% else %>
          <% unless params[:ati].present? %>
            var left_time = <%=@survey.estimate_answer_time %>;
            $('#start_btn').text('开始答题' + (left_time > 0 ? '（耗时' + $.util.printTimeFriendly(left_time) + '）' : ''));
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  });
  </script>
<% end %>

<div id='sf_main'>
  <div class='welcome <% if @reward_scheme_type == 0 %>no_reward<% end %>' >
    <div class='inner'>

      <% if @survey_closed %>

      <h1 id='survey_title'><%= @survey['title'] %></h1>
      <div class='msg purple'>
        <em></em>
        <span>
          <% if @survey[:lang] == 'en' %>
          <b>Survey closed.</b>
          <% else %>
          <b>该问卷已经关闭！</b><br />
          该问卷已经达到回收数量并关闭，下次记得早点来哦~
          <% end %>
        </span>
      </div>
      <div class='follow-con'>  
        <% if @survey[:lang] == 'en' %>
        <h3>You can get survey notification by:</h3>
        <% else %>
        <h3>您可以通过以下方式及时获得调查通知：</h3>
        <% end %>
        <ul>
          <li>
            <a href="/surveys">
              <em class='wenjuanba'></em>
              <% if @survey[:lang] == 'en' %>
              <span>Wenjuanba.com</span>
              <% else %>
              <span>问卷吧官网</span>
              <% end %>
            </a>
          </li>
          <li>
            <a href="http://weibo.com/u/3676626710">
              <em class='weibo'></em>
              <% if @survey[:lang] == 'en' %>
              <span>Weibo</span>
              <% else %>
              <span>新浪微博</span>
              <% end %>
            </a>
          </li>
          <li>
            <a href="http://t.qq.com/wenjuanba">
              <em class='tencent'></em>
              <% if @survey[:lang] == 'en' %>
              <span>Tencent Weibo</span>
              <% else %>
              <span>腾讯微博</span>
              <% end %>
            </a>
          </li>
        </ul>
        <ul>
          <!-- <li>
            <a href="/surveys#subscribe">
              <em class='browser'></em>
              <span>浏览器插件</span>
            </a>
          </li> -->
          <li>
            <a href="/surveys#subscribe"> <!-- TODO: subscribe plugin -->
              <em class='email'></em>
              <% if @survey[:lang] == 'en' %>
              <span>Email</span>
              <% else %>
              <span>邮件订阅</span>
              <% end %>
            </a>
          </li>
          <li>
            <a href="/surveys#subscribe"> <!-- TODO: subscribe plugin -->
              <em class='sms'></em>
              <% if @survey[:lang] == 'en' %>
              <span>SMS</span>
              <% else %>
              <span>短信订阅</span>
              <% end %>
            </a>
          </li>
        </ul>
      </div>

      <% elsif @reward_scheme_type > 0 && @survey.quillme_hot && user_signed_in && (current_user.answers.not_preview.length > 0) %>

      <!-- signed in user is not allowed -->
      <h1 id='survey_title'><%= @survey['title'] %></h1>
      <div class='msg purple'>
        <em></em>
        <% if @survey[:lang] == 'en' %>
        <span>
          Sorry, your are not in the survey candidates.
        </span>
        <% else %>
        <span>
          <b>本问卷只面向未参加过<%= corp_name %>调研的用户</b><br />
          <% if @survey['spread_point'] > 0 %>
          <%= corp_name %>会员每成功邀请一位好友答题可获<em id='spread_point'><%= @survey['spread_point'] %></em>积分。<a id='start_invite' href='javascript:void(0);'>开始邀请</a>
          <% else %>
          您已经参加过<%= corp_name %>其他调研，不能参加本次调研。
          <% end %>
        </span>
        <% end %>
      </div>

      <% else %>

      <h1 id='survey_title'><%= @survey['title'] %></h1>
      <h2><%= @survey['subtitle'] %></h2>
      <div class='desc'><%= raw @survey['welcome'] %></div>
      <% if @survey['quillme_hot'] && @reward_scheme_type > 0 %>
        <% if @survey[:lang] == 'en' %>
        <% else %>
      <div class='quillme_hot_note'>注意：本问卷仅面向未参加过<%= corp_name %>调研的用户，已参加过其他调研的用户将无法提交奖励申请。</div>
        <% end %>
      <% end %>
      <div class='form'>
        <% if @percentage < 0 %>
        <% password_type = @survey['access_control_setting']['password_control']['password_type'] %>
        <% if password_type == 2 %>
          <% if @survey[:lang] == 'en' %>
          <input id='username_ipt' type="text" class='username' placeholder="Input username" autofocus />
          <% else %>
          <input id='username_ipt' type="text" class='username' placeholder="输入答题用户名" autofocus />
          <% end %>
        <% end %>
        <% if password_type >= 0 %>
          <% if @survey[:lang] == 'en' %>
          <input id='password_ipt' type="password" placeholder="Input password" autofocus />
          <% else %>
          <input id='password_ipt' type="password" placeholder="输入答题密码" autofocus />
          <% end %>
        <% end %>
        <% end %>
        <% if @forbidden_ip %>
          <% if @survey[:lang] == 'en' %>
        <button disabled>Your IP address exceeds answer count limitation.</button>
          <% else %>
        <button disabled>您所在的IP地址答题次数超过限制</button>
          <% end %>
        <% else %>
          <% if @survey[:lang] == 'en' %>
        <button id='start_btn' >Start Survey</button>
          <% else %>
        <button id='start_btn' >开始答题</button>
          <% end %>
        <% end %>
        <% if @survey['publish_result'] %>
          <% if @survey[:lang] == 'en' %>
        <div class='view-result-text'>(You can view the survey report after submit your answer)</div>
          <% else %>
        <div class='view-result-text'>（完成答题后可查看问卷结果报告）</div>
          <% end %>
        <% end %>
      </div>
      
      <% end %>

    </div>
    <% if @reward_scheme_type > 0 %>
    <div class='reward'>
      <% if @reward_scheme_type == 1 %>
      <h1>答题奖励<em>￥<%= @reward_money %></em>元</h1>
      <h2>奖励兑换方式：</h2>
      <div class='awards'>
        <em class='chongzhi' data-content='向您的手机号充值￥<%= @reward_money %>元' data-trigger='hover' data-placement='bottom'></em>
        <em class='zhifubao' data-content='向您的支付宝账号转账￥<%= @reward_money %>元' data-trigger='hover' data-placement='bottom'></em>
        <!-- <em class='jifenbao' data-content='向您的集分宝转账<%= @reward_money * 100 %>积分' data-trigger='hover' data-placement='bottom'></em> -->
      </div>
      <% elsif @reward_scheme_type == 2 %>
      <h1>答题奖励<em><%= @reward_point %></em>积分</h1>
      <% if !@hot_gift.nil? %>
      <h2>热门兑换礼品：</h2>
      <a class='gifts-preview' href='<%= gift_path(@hot_gift.first['_id']) %>' target='_blank'>
        <img src='<%= @hot_gift.first.photo_src %>' />
        <h3><%= @hot_gift.first['title'] %></h3>
      </a>
      <div class='gifts-info'>
        <span class='l'><%= @hot_gift.first['point'] %>积分</span>
        <span class='r'><%= @hot_gift.first['exchange_count'] %>人兑换</span>
      </div>
      <% end %>
      <% elsif @reward_scheme_type == 3 %>
      <h1>答题<em>参与抽奖</em></h1>
      <h2><%= @prizes.length > 1 ? '奖品列表：' : '奖品：' %></h2>
      <% @prizes.each do |p| %>
      <div class='gifts-preview' title='<%= p[:title] %>'>
        <img src='<%=p[:photo_url]%>' />
        <h3>（数量<%= p[:amount] %>）<%= p[:title] %></h3>
      </div>
      <% end %>
      <% if @prizes.length > 1 %>
      <div class='gifts-list'>
      <% @prizes.each do |p| %>
        <img src="<%=p[:photo_url]%>" title='<%= p[:title] %>' />
      <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
