
<%
	if @page_title.blank?
		if @survey.status != Survey::PUBLISHED
			@page_title = '错误 - 问卷已经关闭'
		else
			@page_title = "#{@is_preview ? '答题预览 - ' : ''}#{@survey.title}"
		end
	end
%>

<% content_for :head do %>
	<% if !@survey.nil? %>
		<%= javascript_include_tag "pages/filler/survey-mobile" %>
		<%= stylesheet_link_tag    "pages/filler/survey-mobile" %>

		<script type="text/javascript">
			jQuery(function($) {
				window.rsi = '<%=params[:id]  %>';
				// referer
				window.referer = "<%= raw escape_javascript(@referer_host) %>";
				window.channel = <%= @channel %>;

				// set welcome message
				var left_time = <%= @survey.estimate_answer_time %>;
				if(left_time > 0) {
					$('#left_time').append($.util.printTimeFriendly(left_time));
				};

				var reward_type = <%= @reward_scheme_type %>;
				if(reward_type > 0) {
					switch(parseInt(reward_type)) {
						case 1: 
							$('#reward_info').append('￥' + "<%=  @reward_money %>");
							$('.rtype').append('支持以下领取方式:');
							break;
						case 2:
							$('#reward_info').append("<%= @reward_point %>" + '积分'); 
							$('.rtype').append('热门兑换:');
							break;
						case 3:
							$('#reward_info').append('抽奖机会');
							$('.rtype').append('参与调研有机会获得:');
					}
				}else{
					$('#reward_info').parent().html('免费调研');
				}
			});	
		</script>
	<% end %>
<% end %>


<div id='sf_main'>
<% if @survey_closed %>
	<div class='error-con'>对不起，您所访问的问卷达到回收要求已经关闭，感谢您的关注，欢迎参加其他调研。</div>
<% elsif !@survey.nil? %>
	<h2 class="title"><%= @survey.title %></h2>
	<div class="page">
		<% if @survey.welcome.present? %>
			<div class="describe"><%= raw @survey.welcome %></div>
		<% end %>
		<div class="login-panel">
			<% password_type = @survey['access_control_setting']['password_control']['password_type'] %>
			<% if password_type == 2 %>
				<p>
					<input id='username_ipt' type="text" class='username' placeholder="答题用户名" autofocus />
				</p>
			<% end %>
			<% if password_type >= 0 %>
				<p><input id='password_ipt' type="password" placeholder="答题密码" autofocus /></p>
			<% end %>

			<p><a href="javascript:void(0);" id='start_btn' class='btn'>开始答题</a></p>
			<p class="tip">
				<span class='fl'>耗时<span id="left_time"></span></span>
				<span class="fr">奖励<span id="reward_info"></span></span>
			</p>

			<div class="reward_show">
				<div class="rtype"></div>
				<div class="type_info">

          <% if @reward_scheme_type == 1 %>
            <div class="r_cash">
              <img src="/assets/filler/zhifubao.png" />
              <p>支付宝转账<%= @reward_money %>元</p>
            </div>
            <div class="r_cash">
              <img src="/assets/filler/chongzhi.png" />
              <p>话费充值<%= @reward_money %>元</p>    
            </div>                   
          <% elsif @reward_scheme_type == 2 %>
            <% @hot_gift.each do |gift| %>
              <div class="r_poit">
                <img src="<%= gift.photo_src %>" />
                <p><%= gift.title %><span><%= gift.point %>积分</span></p>
              </div>            
            <% end %>             
          <% elsif @reward_scheme_type == 3 %>
						<div id="slideBox" class="slideBox">
							<div class="bd">
								<ul>
									<% @prizes.each do |prize|%>
										<li><img src="<%= prize[:photo_url]%>" /></li>
									<% end %>
								</ul>
							</div>
							<a class="prev" href="javascript:void(0)"></a>
							<a class="next" href="javascript:void(0)"></a>
						</div>            
          <% end %>
				</div>
			</div>


			<p class="error" id="error_msg" style="display:none;">调查问卷尚未发布，请等待问卷发布之后再进行填写。<	/p>
		</div>
		<!-- <div class="copyright">OopsData Consultant Co.,Ltd</div> -->
	</div>
<% end %>
</div>
