<% content_for :head do %>
<%= javascript_include_tag "pages/quill/docs-bundle" %>
<%= stylesheet_link_tag "pages/quill/docs-bundle", :media => "all" %>
<% end %>
<ul class="menu">
	<li><a class="active" href="<%= design_doc_path %>">设计问卷</a></li>
	<li><a href="<%= share_doc_path %>">美化和发布问卷</a></li>
	<li><a href="<%= result_doc_path %>">结果分析</a></li>
</ul>
<div class="menu-content">
	<ul class="menu-link">
		<li><a href="#new_survey">新建问卷</a></li>
		<li><a href="#survey_pages">分页编辑</a></li>
		<li><a href="#questions">添加题目</a></li>
		<li><a href="#survey_setting">问卷设置</a></li>
	</ul>
</div>
<div class="page">
		<img class="r" src="../assets/doc/new.png" alt="创建问卷">
		<h3 id='new_survey' class='blueTxt'>创建问卷</h3>
		<p>创建问卷的两种方式：新建问卷、复制已有问卷。</p>
		<p class="blueTxt">1.新建问卷</p>
		<p>点击“新建”按钮，新建问卷。进入问卷试题编辑页面。</p>
		<p class="blueTxt">2.复制问卷</p>
		<p>您可以通过复制某份问卷创建新问卷，复制问卷只复制问卷的内容（内容、质量控制、配额等），不复制问卷的答案。具体操作如下：</p>
		<p>（1）点击“调研列表”按钮，找到要复制的问卷。</p>
		<p>（2）点击“问卷标题”或点击标题下方的“编辑”按钮，进入该问卷的编辑页面。</p>
		<p>（3）点击“复制问卷”按钮，复制当前问卷。</p>
		<h3 id='survey_pages' class='blueTxt'>修改/编辑问卷</h3>
		<p>如果您需要修改或进一步编辑问卷， 点击问卷标题或标题下方的编辑按钮，进入该问卷的编辑页面，对问卷进行编辑操作即可。
注：增、删、改问卷内的问题，可能对您之前的回收数据造成影响，请慎重！</p>

		<h3 id='survey_pages' class='blueTxt'>分页编辑</h3>
		<p>问卷由分页组成，问卷页由文本段和问题组成。文本段用于向样本阐述信息，如章节的划分、必要的背景资料说明等。问题用于收集样本的观点。可在任意问题处添加新页，取消页。具体操作如下：</p>
		<p>1.添加新页：将鼠标置于该问题处，显示“从此处添加新页”按钮，点击按钮，将从该题处开始新页；</p>
		<p>2.取消分页：双击分页处的页码，将取消该分页；</p>
		<p>3.可拖动问卷内问题，将其移动至任意页；</p>
		
		<i class="divide"></i>
		<div id='questions' class='l'>	
			<h3>添加问题</h3>
			<p>研系统提供13种类型的问题，通过问卷编辑页面左侧的“编辑问卷”面板添加所需题型的问题。该面板默认显示6种题型，点击面板下方的小三角可以显示所有题型。点击面板内问题按钮，即可添加相应问题。问题右侧是问题设置面板，点击面板下方小三角可显示所有设置项。以下对问卷的问题进行详细说明：</p>
			<p>1.所有类型题目的“公共属性”包括：</p>
			<p>（1）题干：即题目标题，用于提出问题；</p>
			<p>（2）是否必答：用于标示此题是否必答；</p>
			<p>（3）答题说明：用于指导样本答题，可不填。</p>
			<p>2.问卷中所有可填写的文字（问卷标题、问题标题、选项等）均可以通过标签可设置“字体格式”，具体如下：</p>
			<p>（1）设置换行：优数调研，“优数调研”几个字显示到下一行，实现换行效果；</p>
			<p>（2）设置字体居中：优数调研，“优数调研”几个字居中显示，实现居中效果；</p>
			<p>（3）设置字体加粗：优数调研，“优数调研”几个字变为粗体，实现文字加粗效果；</p>
			<p>（4）设置字体为斜体：优数调研，“优数调研”几个字变为斜体，实现斜体效果</p>
			<p>（5）设置红色字体：优数调研，“优数调研”几个字变为红色，实现红色文字效果；</p>
			<p>（6）设置下划线：优数调研，“优数调研”几个字带下划线，实现下划线效果；</p>
			<p>（7）设置大号字体：优数调研 ，“优数调研”几个字变为大号字体，实现字体加大效果；</p>
			<p>（8）设置更大号字体：优数调研 ，“优数调研”几个字变为更大号字体，实现字体再加大效果；</p>
			<p>（9）设置最大号字体：优数调研，“优数调研”几个字变为最大号字体，实现字体最大效果；</p>
			<p>请注意下面例子的符号位置</p>
			<p>例：在文本框里输入文字描述，文字描述四个字将变为居中的大个红色字体。居中必须在最外层才能实现效果。</p>
			<p>3. 问题的输入方式：可视化编辑和代码编辑。具体解释如下：</p>
			<p>（1）可视化编辑方式：点击“可视化编辑模式”按钮，进入可视化编辑模式。通过操作界面按钮和输入框的方式进行问卷编辑，操作方式简单易懂。该方式是系统默认的操作方式。可视化编辑方式，可插入图片、视频、音频。</p>
			<div class="img-box">
				<img class="db" src="../assets/doc/keshi.png" alt="可视化">
			</div>	
			<p>（2）代码编辑方式：点击“输入代码编辑模式”按钮，进入代码编辑模式。将问题标题和选项依次逐行输入到代码文本框，有利于快速设计。如您需要将一份已经在word里编辑好的问卷录入系统时，采用代码编辑直接进行复制并适当修改更快捷。</p>
			<div class="img-box">
				<img class="db" src="../assets/doc/wenbenduan.png" alt="文本段">
			</div>

			<p>4. 下面将按照问题面板自上而下对每种题型的编辑进行详细说明：</p>
			<h3 id='survey_pages' class='blueTxt'>文字描述</h3>
			<p>文本描述用于向样本阐述信息，如章节的划分、必要的背景资料说明等。您在编辑问题描述题时可通过文字格式代码设置字体格式。</p>
			<div class="img-box">
				<img class="db" src="../assets/doc/wenbenyulan.png" alt="">
			</div>

		</div>

		<i class="divide"></i>

		<div class="r tc" >
				<img class="db" src="../assets/doc/keshi.png" alt="">
				<br/>
				<img class="db" src="../assets/doc/xuanze_daima.png" alt="">
		</div>

		<div class="min-width">	
			<h3>选择题</h3>
			<p>选择题含有多个选项，编辑选择题时可在问题右侧设置面板对选项进行设置，具体操作如下：</p>
			<p>（1）设置单选/多选：在“可选个数”下拉框中，可设置单选题或者多选题，如果为多选题，可选数量范围</p>
			<p>（2）设置选项显示样式：在“可选个数”下拉框中，可设置选择题显示样式为选项还是下拉框；</p>
			<p>（3）设置选项分栏显示：选项默认为一列显示，可设置选项分多列显示；</p>
			<p>（4）设置选项乱序：可设置自动打乱选项显示顺序，防止选项位置造成的回答误差；</p>
			<p>（5）设置排他项：选项可设置为排他项，样本选择排他选项后，其他选项的选择自动被取消，例如：选择了“全部都不是”的选项后，其他选项都变成未选中状态</p>
			<p>（6）设置其他项：点击“带其他项”按钮，选项加入可编辑的其他项。</p>
			<div style="width:430px;margin-top:30px">
				<img class="db" src="../assets/doc/qita.png" alt="">
			</div>	
		</div>	
		<i class="divide"></i>

		<h3 class="blueTxt">矩阵选择题</h3>
		<p>矩阵选择题为多道选项相同的选择题的合并体，以表格显示出现，左侧行名为各个子选择题的题干，上方列名为选择题选项。编辑矩阵选择题时可在问题右侧选项面板对选项和标签进行设置，具体操作如下：</p>
		<div class="img-box">
			<img class="db" src="../assets/doc/juzhen2.png" alt="">
		</div>
		<div class="r">
			<img class="db" src="../assets/doc/juzhen3.png" alt="">
			<img class="db mt20" src="../assets/doc/juzhen5.png" alt="">
		</div>
		<p>3.“矩阵选择题”编辑说明：
			<ul class="min-width">
				<li>（1）设置子问题对齐方式：在“子问题设置”里可设置子问题对齐方式，包括左对齐、居中、右对齐；</li>
				<li>（2）设置子问题分组显示：为了方便样本填写，可将子问题分组显示；</li>
				<li>设置子问题乱序：点击“选项乱序”可设置自动打乱子问题显示顺序，防止子问题位置造成的回答误差；</li>
				<li>设置选项单选/多选：通过“选项设置”下拉列表，可设置单选题或者多选题，如果为多选题，可选数量范围；</li>
				<li>（5）设置排他项：选项可设置为排他项，样本选择排他选项后，其他选项的选择自动被取消，例如：选择了“全部都不是”的选项后，其他选项都变成未选中状态；。</li>
				<li>（6）设置选项乱序：可设置自动打乱选项显示顺序，防止选项位置造成的回答误差。</li>
			</ul>
		<i class="divide"></i>
		<h3 class="blueTxt">量表题</h3>
		<p>量表题即对问题的多个选项进行评价，通过分数统计评价结果。左侧行名为选项，上方列名为标签，每个标签对应相应的分数，样本通过选择标签进行评分实现对选项的评价。编辑量表题时可在问题右侧设置面板对选项和标签进行设置，具体操作如下：</p>
		<p>量表题</p>
		<div class="r"><img class="db" src="../assets/doc/liangbiao3.png" alt=""></div>
		<ul class="min-width">
			<li>（1）设置选项显示方式：通过“选项对齐”的下拉列表，可选择左对齐、居中、右对齐的显示方式；</li>
			<li>（2）设置标签数量：“标签数量”下拉框可设置标签个数为2-7个；</li>
			<li>（3） 设置不清楚项：当样本对于选项不了解时，可不选择标签进行评分，而选择不清楚项，不清楚项不计分， 点击“显示不清楚项”按钮即可设置该不清楚项；/li>
			<li>（4）设置选项分组显示：如果选项数量或分类过多，可根据需要设置选项分组显示，默认不分组；</li>
			<li>（5） 设置选项乱序：可设置自动打乱选项显示顺序，防止选项位置造成的回答误差。</li>
		</ul>
		<i class="divide"></i>
		<div class="r" style="margin:70px 0">
			<img class="db mt20" src="../assets/doc/tianchong3.png" alt="">
		</div>
		<h3 class="blueTxt">填充题</h3>
		<p>文本填充题含有一个输入框，供样本输入纯文本。编辑问题时通过问题右侧设置面板可对字数和输入框进行设置，具体操作如下：</p>
		<ul class="min-width">
			<li>（1）设置字数限制：点击右侧 “字数限制”下拉框，可设置字数限制；</li>
			<li>（2）设置输入框单行/多行显示：点击右侧输入框尺寸下的行设置下拉框，选择显示方式；</li>
			<li>（3）设置输入框长短：点击右侧输入框尺寸下的大小设置下拉框，选择显示方式。</li>
		</ul>	
		<i class="divide"></i>
		<div class="r" style="margin:70px 0">
			<img class="db" src="../assets/doc/paixu2.png" alt="">
		</div>
		<h3 class="blueTxt">排序题</h3>
		<p>排序题的形式为：题干+多个选项，可让样本对选项进行排序。编辑问题时通过问题右侧设置面板可设置排序数量等，具体操作如下</p>
		<ul class="min-width">
			<li>（1）设置排序数量：点击问题右侧“排序数量”下拉框，设置排序数量。可设上限、下限、定值。</li>
			<li>（2）设置其他项：点击“带其他项”按钮，选项加入可编辑的其他项；</li>
			<li>（3）设置选项乱序：可设置自动打乱选项显示顺序，防止选项位置造成的回答误差。</li>
		</ul>	
		<i class="divide"></i>
		<div class="r" style="margin:70px 0">
			<img class="db" src="../assets/doc/shuzhi2.png" alt="">
			<img class="db mt20" src="../assets/doc/shuzhi3.png" alt="">
		</div>
		<h3 class="blueTxt">数值填充题</h3>
		<p>数值填充题含有一个输入框，供样本输入数值。编辑问题时通过问题右侧设置面板可对数值精度、数值范围、单位进行设计，具体操作如下：</p>
		<ul class="min-width">
			<li>（1）设置数值精度：点击问题右侧“数值精度”下拉框，选择要设置的数值精度；</li>
			<li>（2）设置数值范围：点击问题右侧“数值范围”下拉框，选择要设置的数值范围；</li>
			<li>（3）设置数值单位：点击问题右侧“设置单位”下拉框，选择要设置的数值单位，并输入单  位名称。</li>
		</ul>

		<i class="divide"></i>
		<div class="r" style="margin:70px 0">
			<img class="db" src="../assets/doc/phone2.png" alt="">
			<img class="db mt20" src="../assets/doc/phone.png" alt="">
		</div>
		<h3 class="blueTxt">电话题</h3>
		<p>电话题包含一个输入框，供样本输入手机或固定电话，点击问题右侧“电话类型”下拉框，可设置电话类型。</p>
		<i class="divide"></i>
		<div class="r" style="margin:70px 0">
			<img class="db" src="../assets/doc/time.png" alt="">
			<img class="db mt20" src="../assets/doc/time2.png" alt="">
		</div>
		<h3 class="blueTxt">时间题</h3>
		<p>日期/时间题含有多个下拉框，供样本选择时间。编辑问题时通过问题右侧设置面板可设置时间格式和时间范围，具体操作如下：</p>
		<ul class="min-width">
			<li>（1）设置时间格式：点击问题右侧“时间格式”下拉框，有7种时间格式可供选择；</li>
			<li>（2）设置可选时间范围：点击问题右侧“可选时间范围”下拉框，可选择起始、截止、自定义时间等。</li>
		</ul>
			<i class="divide"></i>
			<div class="r" style="margin:70px 0">
				<img class="db" src="../assets/doc/address2.png" alt="">
				<img class="db" style="margin:20px 0 0 80px" src="../assets/doc/address.png" alt="">
			</div>

			<h3 class="blueTxt">地址题</h3>
			<p>地址题由多个下拉框组成，供样本选择地址。编辑问题时通过问题右侧设置面板可设置地址精确范围和邮编。具体操作如下：</p>
　　			<p>（1）设置地址精确范围：点击问题右侧“地址精确到”下拉框，选择要设置的地址范围；</p>
　　			<p>（2）设置邮编：点击“设置邮编”，将显示邮编，否则不显示。</p>
			<i class="divide"></i>
			<div class="r" style="margin:70px 0">
				<img class="db" src="../assets/doc/mail.png" alt="">
			</div>
			<h3 class="blueTxt">邮箱题</h3>
			<p>邮箱题包含一个输入框，供样本输入邮箱。</p>
			<i class="divide"></i>
			<div class="img-box r" style="margin:70px 0">
				<img class="db" src="../assets/doc/link.png" alt="">
			</div>
			<h3 class="blueTxt">网址链接题</h3>
			<p>网址链接题包含一个输入框，供样本输入网址信息。</p>
			<i class="divide"></i>
			<div class="img-box r" style="margin:70px 0">
				<img class="db" src="../assets/doc/bizhong.png" alt="">
				<img class="db mt10" src="../assets/doc/bizhong2.png" alt="">
			</div>
			<h3 class="blueTxt">比重题</h3>
			<p>题包含多个选项，要求样本对每个选项输入数值，所有选项数值总和为一个常量。
编辑问题时通过问题右侧设置面板可设置排序数量等，具体操作如下</p>
			<ul class="min-width">
				<li>（1）设置比重总和：点击比重总和下拉框，设置比重总和；</li>
				<li>（2）设置其他项：点击“带其他项”按钮，选项加入可编辑的其他项；</li>
				<li>（3）设置选项乱序：可设置自动打乱选项显示顺序，防止选项位置造成的回答误差。</li>
			</ul>
			<i class="divide"></i>
			<div class="img-box r" style="margin:70px 0">
				<img class="db" src="../assets/doc/shezhi.png" alt="">
			</div>
			<h3 class="blueTxt" id="survey_setting">问卷设置</h3>
			<p class="blueTxt">问卷左侧的“问卷设置”面板，可以对问卷基本属性、逻辑控制、访问权限、质量控制、其他设置等进行设置。也可选择主题对问卷进行美化。具体说明如下：</p>
			<i class="divide"></i>
			<h3 class="blueTxt">基本属性</h3>
			<p>问卷基本属性包括：主标题、副标题、欢迎语、页眉、页脚。点击问卷设置面板内的“基本属性”按钮，可设置标题、欢迎语等。</p>
			<br/>
			<div class="img-box fix">
				<img class="l" width="400" src="../assets/doc/shezhi3.png" alt="">
				<img class="l ml10" width="400" src="../assets/doc/shezhi4.png" alt="">
			</div>
			<br/>
			<p>2.基本设置如右图：设置主标题、副标题、欢迎语、页眉页脚。</p>
			<br/>
			<img src="../assets/doc/shezhi2.png" alt="">
			<i class="divide"></i>

			<h3>设置“逻辑控制”</h3>
			<p>逻辑控制指样本答题过程中，当答案符合一定的“触发条件”时，系统会做出什么反应。包括停止答题、显示问题、隐藏问题、显示选项、隐藏选项。分别对出发条件、出发题、触发后的反应、设置逻辑控制进行说明。</p>
			<br/>
			<br/>
			<div class="img-box r">
			<img class="db" src="../assets/doc/luoji.png" alt="">
			</div>
			<p>触发条件：样本对某一道或某几道选择题的答题情况。</p>
			<p>触发题：</p>
			<p>1）触发题只能为选择题。</p>
			<p>2）如果触发题为“单选题”，选择某个选项，表示样本答题时需要和调查者所设置的答案一致，才符合触发条件。选择多个选项，并勾选“模糊匹配”，表示只要样本答题时选中了其中一个选项，就符合触发条件。</p>
			<p>3）如果触发题是“多选题”，选择某几个，表示样本答题时需要和调查者所设置的答案一致，才符合触发条件。您也可在设置完答案后再勾选“模糊匹配”，表示只要样本的答案里包含了调查者所设置的选项，变符合触发条件。   
			<p>触发结果：</p>
			<p>1）停止答题</p>
			<p>此类逻辑控制主要用于问卷开始时对样本的筛选。当样本符合触发条件时，终止样本的答题。 </p>
			<p>2）问题显示</p>
			<p>此类逻辑控制主要用于题目之间的跳转，根据样本的答题情况要求样本回答额外的问题。此类逻辑控制规定了当样本的答题符合触发条件时，将自动显示某些额外问题（即这些问题对样本可见），样本需要对这些问题进行回答，否则这些问题对样本不可见，样本无需回答这些题目。</p>
			<p>3）问题隐藏</p>
			<p>此类逻辑控制主要用于题目之间的跳转，根据样本的答题情况跳过一些不必回答的问题。此类逻辑控制规定了当样本的答题符合触发条件时，将自动隐藏某些问题（即这些问题对样本不可见），样本无须回答这些题目，否则这些问题对样本可见，样本需要回答这些题目。</p>
			<p>4）选项显示</p>
			<p>此类逻辑控制主要用于根据样本的答题情况选择性地显示后续问题的某些选项。此类逻辑控制规定了当样本的答题符合触发条件时，后续某个问题的某些选项才显示出来，否则这些选项默认对样本不可见。</p>
			<p>5）选项隐藏</p>
			<p>此类逻辑控制主要用于根据样本的答题情况选择性地隐藏后续问题的某些选项。此类逻辑控制规定了当样本的答题符合触发条件时，后续某个问题的某些选项将自动隐藏，样本回答此问题时不会看到这些被隐藏的选项。</p>
			设置逻辑控制：</p>
			<p>1）点击问卷设置面板内的“逻辑控制”按钮，进入逻辑控制设置页面；</p>
			<p>2）点击“添加新约束”按钮，选择触发题，选择该题的触发条件，设置触发结果。</p>
			<i class="divide"></i>

			<h3>访问权限</h3>
			<p>通过设置访问权限，可以对样本对问卷的访问进行限制。通过设置密码的方式，控制访问权限。</p>
			<p>密码设置有3种方式：单个密码、多个密码、用户名密码；</p>
			<p>单个密码：通过设置填写密码，样本填写问卷前须输入正确密码，才能进行填写；</p>
			<p>多个密码：可设置一系列填写密码，每行为一个密码，样本填写前须其中一个正确密码，才能进行填写；</p>
			<p>用户名密码：每行为一组用户名及密码，用户名和密码之间以逗号隔开；样本填写前须其中一个正确密码，才能进行填写。</p>
			<p>设置访问权限的具体操作如下：</p>
			<p>1） 点击问卷设置面板内的“访问权限”按钮，进入密码设置页面；</p>
			<p>2） 勾选“设置密码”项，选择约束类型，输入密码。</p>
			<div class="img-box">
				<img class="db" src="../assets/doc/luoji3.png" alt="">
			</div>
			<i class="divide"></i>

			<h3>质量控制</h3>
			<p>问卷的质量控制用于检验样本答题时是否认真，防止胡乱答题。调查者可通过设置质量控制题的方式进行质量控制。</p>
			<p>“质量控制题”是指一些特殊的题目，系统已经预先知道样本需要填写什么答案才能符合要求，当样本的回答不符合要求时，系统会清空样本整套问卷答案并提示样本重新认真填写一遍，样本只有一次重填机会。</p>
			<p>质量控制题共有两种添加方式：</p>
			<p>1）随机生成质量控制题嵌入问卷：样本答题时，系统自动随机生成某类质量控制题嵌入问卷，此类方法的优点是调查者操作简单，并且每个样本回答的质量控制题目可能不一样，可以很好的防止样本之间通过交流问卷内容进行作弊。</p>
			2）从题库里选择质量控制题：调查者从系统的质量控制题目里选择需要的质量控制题，此类方法的优点是操作简单。</p>
			<p>质量控制题共有两种类型：</p>
			<p>1）标准答案题：标准答案题是一道具有标准答案的选择题，样本的答题必须符合</p>
			<p>标准答案要求，标准答案类似逻辑控制的触发条件。</p>
			<p>2）答案一致题：答案一致题是一组（两道或多道）选择题，题目内容或形式不一样，但题目之间的答案具有关联性，样本对组内所有题目的回答必须符合关联性，才算通过了质量控制。</p>
			<p>添加质量控制题，具体操作如下：</p>
			<p>1）点击问卷设置面板内的“质量控制”按钮，进入添加质控题页面；</p>
			<p>2）勾选“开启质量控制”项，选择添加方式；选择随机生成质控题，则随机添加成功，选择从题库添加，则需继续选择约束类型，选择相应的质控题即可。</p>
			<div class="img-box">
				<img class="db" src="../assets/doc/luoji4.png" alt="">
			</div>

			<i class="divide"></i>

			<h3>其他设置</h3>
			<div class="img-box r">
				<img class="db" src="../assets/doc/qita2.png" alt="">	
			</div>
			<p>通过问卷设置面板的“其他设置”，可对问卷进行如下设置：</p>
			<p>是否显示进度条，默认显示；</p>
			<p>是否强制每题作为一页单独呈现，默认否；</p>
			<p>是否显示问题自动编号，默认显示；</p>
			<p>是否允许向前翻页，默认不准许，选择该项逻辑将失效；</p>
			<p>是否带广告，默认带广告，广告不会影响答题结果，支持我们请不要取消；</p>
			<p>是否带 Oops!Data 链接，默认带链接；</p>
			<p>定义答题完成后的跳转链接；</p>
	
			<i class="divide"></i>
			<h3>美化问卷</h3>
			<div class="img-box r">
				<img class="db" src="../assets/doc/meihua.png" alt="">	
				<span class="grayTxt ml10 mt10">▲切换按钮</span>
				<img style="margin-top:15px;" class="db" src="../assets/doc/meihua2.jpg" alt="问卷设置">	
			</div>
			<p>　　我们的调研系统提供多种主题，点击“美化问卷”按钮，进入美化问卷页面，选择主题，即设置成功设置主题。</p>
			<h3>问卷预览</h3>
			<p>点击“问卷预览”按钮，可预览问卷并进行答题测试。</p>
			<i class="divide"></i>
			<div class="img-box r ml20" style="margin-top:-105px">
				<img class="db" src="../assets/doc/fabu.png" alt="">	
			</div>
			<h3>设置问卷回收配额</h3>
			<p class="blueTxt min-width">※   注：回收配额可根据需求设置约束问题的回收数量（只限选择题）和总回收数量（即不选择任何约束问题）。</p>
			<ul class="min-width">
				<li>1）	点击“添加配额”按钮，添加新的配额。</li>
				<li>2）	点击“选择配额约束问题”按钮，选择配额约束问题。</li>
				<li>3）	勾选问题答案，点击完成编辑按钮，配额设置完成。<b class="g9">注：单选题配额设置选择多个选项，需答案符合勾选选项其中之一即可；多选题若选择“包含勾选项”方式，需答案包含全部勾选选项）</b></li>
				<li>4）	将鼠标放在配额上，显示配额的编辑和删除配额按钮，可对该配额进行编辑和删除操作。</li>
				<li>5）	可查看个配额的回收进度条。</li>
			</ul>
			<i class="divide"></i>
			<h3>设置问卷截止日期</h3>
			<div class="img-box" style="margin:15px 0">
				<img class="db" src="../assets/doc/shijian.png" alt="">	
			</div>
			<p>点击文本框，设置截止日期。</p>
			<i class="divide"></i>
			<h3>发布问卷</h3>
			<p>问卷发布前，可根据需要先对配额进行设置。配额设置完成后将问卷提交审核（问卷创建者为管理员则无需提交审核）。审核通过后，设置问卷关闭时间，进行问卷分享。下面进行详细说明：</p>
			<p>“问卷配额”: 通过对问卷配额，调查者可以对符合某些特征的样本的答卷数量 进行限制，例如：对性别进行配额，回收女性样本答卷100 份，男性200 份。如果问卷未添加任何配额规则，表示不对回收数量进行限制，所有样本均可填写问卷。</p>
			<p>1）添加配额：点击添加配额按钮，输入需要回收数量，选择配额约束问题，勾选约束答案，完成配额编辑；</p>
			<p>2）编辑配额：点击编辑配额按钮，编辑配额。</p>
			<p>3）删除配额：点击删除配额按钮，删除配额。</p>

			<p>提交审核：普通用户点击“发布问卷”按钮，会提示“提交审核”，点击提交审核按钮，等待管理员审核问卷，管理员建立的问卷不许提交审核即直接发布；</p>
			<p>管理员审核通过，表示问卷发布成功。可在消息中心查看审核结果；
分享问卷：可通过点击社交网站按钮，将问卷分享至社交网站，也可通过地址链接方式分享问卷；</p>
<p>设置问卷关闭时间：点击时间设置按钮，可设置关闭时间。</p>
<p>关闭问卷：点击“关闭问卷”按钮，将关闭问卷。</p>
<p class="blueTxt">注：发布后的问卷可以更改问卷标题，无法增删或修改问题内容，需要先关闭发布再进行编辑，编辑完成之后，再次提交问卷至管理员审核发布。</p>
			<br/>
			<img class="db" width="647" src="../assets/doc/sina1.png" alt="">
			<br/>
			<img class="db" src="../assets/doc/sina2.png" alt="">	
			<i class="divide"></i>

			<h3>关闭问卷</h3>
			<p>问卷发布后，点击“<img style="position:relative;top:10px;" src="../assets/doc/guanbi.png" alt="问卷设置">	”按钮，问卷处于关闭状态。关闭之后被访者不能答题。</p>
			<h3>开放问卷</h3>
			<div class="img-box r ml20">
				<img class="db" src="../assets/doc/kaifang.png" alt="">	
			</div>
			<p class="min-width">点击“开放问卷”按钮，问卷恢复开放状态，被访者可继续答题。</p>

			<i class="divide"></i>

			<h3>结果分析与导出</h3>
			<ul>
				<li>1．调查者可利用结果分析功能对问卷的回收结果进行数据分析和报告生成。</li>
				<li>2．回收问卷渠道：在线调研（优数调研网站）、线下调研。如果问卷有线下调研渠道，需先导入线下调研数据。</li>
				<li>3．通过设置和应用筛选器，调查者可以筛选出部分答卷进行分析，默认为所有答卷。</li>
				<li>4．如果在编辑问卷的时设置了控制条件或发布问卷时设置了配额条件，均可在筛选器里设置相应的筛选条件，筛选出符合条件的答卷进行结果分析。</li>
				<li>5．结果分析包括样本分析、数据列表、调研报告、答案分析。
			（具体操作见下）</li>
			</ul>

			<i class="divide"></i>

				<h3>分析页面</h3>
				<div class="img-box ml20">
					<img class="db" src="../assets/doc/jieguo.png" alt="">	
				</div>
				<p class="min-width">点击“查看结果”按钮，进入结果分析页面。</p>
			<i class="divide"></i>	

				<h3>导入数据</h3>
				<div class="r ml20">
					<img class="db" src="../assets/doc/daoru.png" alt="">	
				</div>
				<p class="blueTxt">※导入线下调研的数据</p>
				<ul class="min-width">
					<li>1.点击“导入数据”按钮，在弹出的对话框里下载Excel模版文件，下载本问卷的录入模板。</li>
					<li>2.按照规定格式向excel录入模板文件里录入答卷数据据。</li>
					<li>3.点击“上传”按钮，将录入好的excel 文件上传至系统。</li>
					<li>4.没有线下调研的问卷不需要导入数据。</li>
				</ul>
		
				<i class="divide"></i>	

				<h3>筛选器设置</h3>
				<div class="img-box r ml20">
					<img class="db" src="../assets/doc/shaixuan.png" alt="">	
				</div>
				<p class="blueTxt">※设置筛选器，显示出符合筛选条件的答卷的分析结果</p>
				<ul>
					<li>1.点击“设置筛选器”按钮。</li>
					<li>2.进入筛选器编辑页面,点击“添加筛选器”。
						<img class="db" src="../assets/doc/shaixuan2.png" alt="">	
					</li>
					<li>3.选择需要设置的题目并设置正确答案和筛选器名，筛选器设置完成。</li>
					<li>4.筛选器设置完成后，点击“结果分析”按钮，回到结果分析界面。</li>
					<li>5.选择筛选器，结果分析页面会显示出符合筛选条件的答卷的分析结果。</li>
				</ul>
				
				<i class="divide"></i>
				<h3>样本分析</h3>
				<p class="blueTxt">※   样本分析包括回收数量统计、时间分析、地区分析。</p>
				<ul>
					<li>1.回收数量统计：以数字和图标的形式显示符合条件的答卷、被甄别掉的答卷、含甄别掉的问卷的分析结果。</li>
					<li>2.时间分析：以图表的形式统计样本开始答题的时间。</li>
					<li>3.地区分析：以地图的形式统计各个地区的样本数量。</li>
				</ul>
				
				<i class="divide"></i>
				<h3>数据列表</h3>
				<div class="img-box r ml20">
					<img class="db" src="../assets/doc/dc.png" alt="">	
				</div>
				<p class="blueTxt">※   数据别表显示样本编号、姓名、邮箱、所在地、开始填写时间、填写时长。
				</p>
				<p>点击导出按钮，可导出到excel 和spss 两种不同格式的文件。</p>

				<i class="divide"></i>

				<h3>调研报告</h3>
				<p class="blueTxt">※   可在线创建调研报告</p>
				<ul>
					<li>1.调研报告提供word、ppt、pdf共三种导出形式。</li>
					<li>2.调研报告生成方式：一键导出报告、自定义调研报告。</li>
					<li>3.一键导出报告：导出报告前选择所用筛选器、报告的风格，选择“默认报告”，再选择导出形式。
				（默认报告对问卷所有题目进行单题分析。）</li>
				<div class="img-box">
					<img class="db" src="../assets/doc/baogao.png" alt="">	
				</div>
					<li>4.自定义调研报告
						<ul class="g9">
							<li>a）点击“添加调研报告”按钮，添加自定义报告。</li>
							<div class="img-box">
								<img class="db" src="../assets/doc/add4.png" alt="">	
								<img style="margin-top:15px;" class="db" src="../assets/doc/add3.png" alt="问卷设置">	
							</div>
							<li>b）自定义报告的标题、作者、页眉、页脚；</li>
							<li>c）报告分为单题分析和交叉分析；</li>
							<li>d）在单题分析和交叉分析的过程中，如果涉及的题目为选择题，可进行合并选项分析。合并选项分析指可以为选择题的各个选项分组，例如选择题有ABCD 四个选项，调查者可以将AC 和BD分别归为一个组，然后再将组当成选项进行分析。</li>
							<li>e）单题分析
				点击单题分析按钮，添加单题分析问题，选择分析类型图，设置选项合并选项。选择该自定义报告导出。</li>
						</ul>
					</li>
				<li>5.交叉分析
					<ul class="g9">
						<li>a）可从问卷题目列表里选择两道题目进行交叉分析，两道题分别称为筛选题和目标题，筛选题用于筛选样本，使用筛选出来的样本对目标题进行分析。筛选题必须为选择题，目标题可以为任意题型。    </li>
						<li>b）点击“交叉分析”按钮，选择筛选题和目标题，选择分析类型图，设置选项合并。</li>
						<li>c）选择该自定义报告导出。</li>
					</ul>
					<div class="img-box">
						<img class="db" src="../assets/doc/jiaocha.png" alt="">
						<br/>
						<br/>
						<img class="db" src="../assets/doc/jiaocha2.png" alt="">	
						<br/>
					</div>
				</li>

				</ul>
				<i class="divide"></i>
				<h3>答案分析</h3>
				<p>以图表和表格的形式对问卷每道题进行答案进行分析</p>
	</div>
</div>


