<tr {{#if alter}}class="interval"{{/if}}>
	<td>{{index}}</td>
	<td class="name">{{name}}</td>
	<td class="mail">{{email}}</td>
	<td class="city">{{region_name}}</td>
	<td class="start-time">{{answer_time}}</td>
	<td class="time">{{duration}}</td>
	<!-- <td class="view"><a href="javascript:void(0);" class="viewbtn"></a></td> -->
</tr>