<!-- content for head -->
<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/newsletters/index-bundle" %>
<% end %>

<% content_for :sidenav do %>
  <li class="active">
    <a href="/admin/newsletters">
    <i class="icon-chevron-right"></i>
    礼品列表
    </a>
  </li>
  <li>
    <a href="/admin/newsletters/new">
      <i class="icon-chevron-right"></i>
      新建礼品
    </a>
  </li>
<% end %>

<div>
  <span>
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">⃞&nbsp;<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="?" class="select-all-btn"><input type="checkbox" value="">&nbsp;全部</a></li>
        <li class="divider"></li>

        <li><a href="?type=4" class="select-suc-btn"><input type="checkbox" value="">&nbsp;话费充值</a></li>
        <li><a href="?type=8" class="select-suc-btn"><input type="checkbox" value="">&nbsp;支付宝转账</a></li>
        <li><a href="?type=16" class="select-suc-btn"><input type="checkbox" value="">&nbsp;集分宝兑换</a></li>
        <li><a href="?type=32" class="select-suc-btn"><input type="checkbox" value="">&nbsp;Q币充值</a></li>
        <li class="divider"></li>
        <li><a href="?type=2" class="select-failed-btn"><input type="checkbox" value="">&nbsp;实物礼品</a></li>
        <li><a href="?type=1" class="select-failed-btn"><input type="checkbox" value="">&nbsp;其他虚拟礼品</a></li>
      </ul>
    </div>
    <form class="form-search" style="display:inline">
      <div class="input-append">
        <input type="text" name="title" class="span6 search-query" required>
        <button type="submit" class="btn">Search</button>
      </div>
    </form>
  </span>
  <span class="pull-right">
    <%= paginator_mini @newsletters %>
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-filter"></i>&nbsp;<span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><a href="?status=1">已上架</a></li>
        <li><a href="?status=2">已下架</a></li>
        <li class="divider"></li>
        <li><a href="?">全部</a></li>
      </ul>
    </div>
  </span>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="30%">标题</th>
        <th >状态</th>
        <th >创建时间</th>
        <th >操作</th>
      </tr>
    </thead>
    <tbody>
      <% @newsletters["data"].each do |newsletter| %>
      <tr>
        <td><%= newsletter.title %></td>
        <td><%= newsletter_status(newsletter) %></td>
        <td><%= newsletter.created_at.strftime("%F %T") %></td>
        <td>
          <div class="btn-group">
            <a class="btn" href="newsletters/<%= newsletter._id %>/edit" target="_blank"><i class="icon-edit"></i>编辑</a>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="od-delete" href="<%= newsletter._id %>" title="Delete"><i class="icon-remove"></i>删除</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
