<!-- content for head -->
<% content_for :head do %>
<%= stylesheet_link_tag "pages/admin/orders-bundle", :media => "all" %>
<%= javascript_include_tag "pages/admin/orders-bundle" %>
<% end %>

<!-- put html code below -->
<%if @point_logs.success %>
<div class="title">
  <h5>订单管理</h5>
  <h5 style="color: white; float: right; display: block;" ><a style="color: white; float: right; display: block;"  href="/admin/users/<%=params[:id]%>">返回个人用户管理</a><h5>
</div>
<div class="widget">
  <div class="head">
    <h5 class="iFrames">订单</h5>
  </div>

  <div class="tab_container">
    <div class="tab_content nopadding" id="all">
      <table cellpadding="0" cellspacing="0" width="723" class="tableStatic">
        <thead>
          <tr>
            <td width="25%">日期</td>
            <td width="15%">积分</td>
            <td width="15%">原因</td>
            <td width="45%">备注</td>
          </tr>
        </thead>
        <tbody>
          <% @point_logs.value["data"].to_a.each_with_index do |point_log, i| %>
            <tr id="<%= point_log["_id"] %>">
              <td><%= time_tag(Time.parse(point_log["created_at"])) %></td>
              <td><%= point_log['point']%></td>
              <td>
                <%= point_log_status point_log['cause'] %>
              </td>
              <td><%= point_log['cause_desc'] %></td>
            </tr>
          <% end unless @point_logs.nil? -%>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4"><%= paginator_tag @point_logs.value %></td>
          </tr>
          <tr>
            <td colspan="4">&nbsp;</td>
          </tr>
        </tfoot>
      </table>

    </div> <!--#tab1 结束 -->
  </div>
  <div class="fix"></div>

</div>
<%else%>
<div class="nNote nFailure hideit">
  <p><strong>错误: </strong>Oops! 数据加载错误!</p>
  <p><strong>代号: </strong><%= @point_logs.value %></p>
</div>
<%end%>
