- content_for :head do
  = javascript_include_tag "pages/client/surveys-bundle"
  = stylesheet_link_tag "pages/client/surveys-bundle", :media => "all"

.container
  %table.table.table-striped
    %tr
      %th 问卷名称
      %th 创建时间
      %th 已回收数量
      %th
    - @surveys.each do |s|
      %tr
        %td
          = link_to s.title, { controller: "client/surveys", action: "show", id: s.id.to_s }
        %td= s.created_at.strftime("%Y年%m月%d日")
        %td= s.quota["finished_count"]
