- content_for :head do
  = javascript_include_tag "pages/client/surveys-bundle"
  = stylesheet_link_tag "pages/client/surveys-bundle", :media => "all"
  :javascript
    window.locations = "39.947648,116.360106-34.849875,113.749008-28.052591,108.036118"

.container
  %h3
    %span= @survey.title
    = link_to "返回列表", { controller: "client/surveys", action: "index" }
  / Nav tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#list"} 列表
    %li
      %a{"data-toggle" => "tab", href: "#map"} 地图
  / Tab panes
  .tab-content
    #list.tab-pane.active
      - if @interviewer_tasks.blank?
        %p 未给访问员分配任务
      - else
        %table.table.table-striped
          %tr
            %th 访问员
            %th 已完成数量
            %th
          - @interviewer_tasks.each do |i|
            %tr
              %td= i.user.email
              %td= i.quota["finished_count"]
    #map.tab-pane

