<!-- content for head -->
<% content_for :head do %>
	<script type="text/javascript">
		window.status = <%= raw @status.to_json if @status %>;
		console.log(window.status);//
		window.lottery_status = <%= raw @lottery_code["lottery_status"].to_json if @lottery_code %>;
		console.log(window.lottery_status);		//	
		window.lottery_code = <%= raw @lottery_code.to_json %>;//
		console.log(window.lottery_code);//
		window._id = <%= raw params[:id].to_json %>;
		console.log(window._id);
		if(window.status == 2 && window.lottery_code != null && window.lottery_code.prize != null)
			window.prize_id = window.lottery_code.prize._id;
	</script>
	<%= javascript_include_tag "pages/quillme/draw-bundle" %>	
	<%= stylesheet_link_tag "pages/quillme/lotteries-bundle", :media => "all" %>	
<% end %>

<% content_for :subnav do %>
<ul class="subnav">
	<li class="f14"><a href="javascript:void(0);">我的调研</a><span> >> </span></li>
	<li class="f14"><a href="javascript:void(0);" class="blueTxt b">参与抽奖</a></li>
</ul>
<% end %>

<!-- content for main -->
<% content_for :left do %>
<% if @status != -1 %>
	<% if @status == 0 && @lottery_code["lottery_status"] > 1 %>
	<div class="slot-container mb20">
		<div id="od_pb"></div>
		<div class="background0"></div>
		<div class="background1"></div>
		<div class="background2"></div>
		<div class="slot-machine">
			<div class="machine-head">
				<div class="neon0"></div>
				<div class="neon1"></div>
				<div class="neon2"></div>
				<div class="welcome0"></div>
				<div class="welcome1"></div>		
			</div>
			<div class="machine-body">
				<div class="icons0"><div class="icons-rotate0"></div></div>
				<div class="icons1"><div class="icons-rotate1"></div></div>
				<div class="icons2"><div class="icons-rotate2"></div></div>
			</div>
			<div class="machine-button">
				<div class="button0"></div>
				<div class="button1"></div>
				<div class="buttonpress"></div>
				<div class="machine-start"></div>
			</div>
		</div>
		<div class="fireworks">
			<div class="fly1"></div>
			<div class="fly2"></div>
			<div class="fly3"></div>
			<div class="fly4"></div>
			<div class="fly5"></div>
			<div class="fly6"></div>
			<div class="fly7"></div>
			<div class="fly8"></div>
			<div class="fly9"></div>
			<div class="fly10"></div>
			<div class="fly11"></div>
			<div class="fly12"></div>
			<div class="fly13"></div>
			<div class="fly14"></div>
			<div class="fly15"></div>
			<div class="fly16"></div>
			<div class="fly17"></div>
			<div class="fly18"></div>
			<div class="fly19"></div>
		</div>
		<div class="win">
			<p>恭喜您！抽到了一朵云彩！</p>
			<button>查看</button>
		</div>
		<div class="lose">
			<p>很抱歉！您这次没有中奖...不要气馁，再接再厉！</p>
			<button>返回</button>
		</div>
	</div>
	<% elsif @status == 0 && @lottery_code["lottery_status"] < 2 %>
	<div>该抽奖目前未发布，暂时不能抽奖。</div>	
	<% elsif (@status == 2 || 4) && @lottery_code != nil && @lottery_code["prize"] != nil %>
	<div class="content-left-box orangeBorder">
		<h3 class="content-left-title whiteTxt f14 b orangeBg">获奖信息</h3>
		<span class="marked integral"></span>
		<ul class="img-list">
			<li>
				<span class="img l ml20 mr20"><a href=<%= @lottery_code["prize"]["photo_src"] || "/assets/image/quillme/lotteries/prize.png" %> ><img src=<%= @lottery_code["prize"]["photo_src"] || "/assets/image/quillme/lotteries/prize.png" %> alt=""></a></span>
				<span class="w320 f14 b g3 l"><a href="javascript:void(0);"><%= @lottery_code["prize"]["name"] %></a></span>
				<span class="w160 orangeTxt b r tr">中奖号码</span>
				<span class="txt w320 g9 l mt10"><%= @lottery_code["prize"]["description"] %></span>
				<span class="w160 g9 r tr"><%= @lottery_code["_id"] %></span>
				<!-- <span class="w160 g3 r tr">截止日期：2012.10.10</span> -->
				<!-- <span class="w160 orangeTxt r tr b">信息填写中</span> -->
			</li>
		</ul>
		<% if @status == 2 %>
		<div class="information">
			<% case @lottery_code["prize"]["type"] %>
			<% when 1 %>
			<form>
				<p>
					<label class="f14 b mr10" for="yourName">您的姓名:</label>
					<input type="text" name="yourName" id="yourName" value='<%= (@user_info != nil && @user_info["full_name"] != nil) ? @user_info["full_name"] : "" %>' /><span class="not-null" id="name-star">*</span>
				</p>
				<p>	
					<label class="f14 b mr10" for="PhoneNumber">手机号码:</label>
					<input type="text" name="PhoneNumber" id="PhoneNumber" value='<%= (@user_info != nil && @user_info["phone"] != nil) ? @user_info["phone"] : "" %>' /><span class="not-null" id="phone-star">*</span>
				</p>
				<p>
					<label class="f14 b mr10" style="vertical-align:top" for="address">寄送地址:</label>
					<textarea id="Address"><%= (@user_info != nil && @user_info["address"] != nil) ? @user_info["address"] : "" %></textarea><span style="vertical-align:top" class="not-null" id="address-star">*</span>
				</p>
				<p>
					<label class="f14 b mr10" for="postalCode">邮政编码:</label>
					<input type="text" name="postalCode" id="postalCode" value='<%= (@user_info != nil && @user_info["postcode"] != nil) ? @user_info["postcode"] : "" %>' /><span class="not-null" id="code-star">*</span>
				</p>
				<p>
					<input type="checkbox" id="is-update-user" checked />
					<strong class="f14 b g3">将配送信息更新至我的个人信息</strong>
					<br/>
					<span class="g9 ml60">（下次兑换时无需再次输入配送信息。）</span>
				</p>
				<div class="explain g9 tl">
					说明：<br/>手机号码请尽量填写手机，这样您兑换现金的时候可以接到短信通知
				</div>
				<a class="css-btn orange r mr10" href="javascript:void(0);" id="order-entity">兑换</a>
			</form>
			<% when 2 %>
			<form>
				<p>
					<label class="f14 b mr10" for="yourName">您的姓名:</label>
					<input type="text" name="yourName" id="yourName" value='<%= (@user_info != nil && @user_info["full_name"] != nil) ? @user_info["full_name"] : "" %>' /><span class="not-null" id="name-star">*</span>
				</p>
				<p>	
					<label class="f14 b mr10" for="PhoneNumber">手机号码:</label>
					<input type="text" name="PhoneNumber" id="PhoneNumber" value='<%= (@user_info != nil && @user_info["phone"] != nil) ? @user_info["phone"] : "" %>' /><span class="not-null" id="phone-star">*</span>
				</p>
				<p>
					<input type="checkbox" id="is-update-user" checked />
					<strong class="f14 b g3">将配送信息更新至我的个人信息</strong>
					<br/>
					<span class="g9 ml60">（下次兑换时无需再次输入配送信息。）</span>
				</p>
				<div class="explain g9 tl">
					说明：<br/>手机号码请尽量填写手机，这样您兑换现金的时候可以接到短信通知
				</div>
				<a class="css-btn orange r mr10" href="javascript:void(0);" id="order-virtual">兑换</a>
			</form>
			<% when 0 %>
			<form>
				<p>
					<label class="f14 b mr10" for="yourName">您的姓名:</label>
					<input type="text" name="yourName" id="yourName" value='<%= (@user_info != nil && @user_info["full_name"] != nil) ? @user_info["full_name"] : "" %>' /><span class="not-null" id="name-star">*</span>
				</p>
				<p>	
					<label class="f14 b mr10" for="PhoneNumber">手机号码:</label>
					<input type="text" name="PhoneNumber" id="PhoneNumber" value='<%= (@user_info != nil && @user_info["phone"] != nil) ? @user_info["phone"] : "" %>' /><span class="not-null" id="phone-star">*</span>
				</p>
				<p>	
					<label class="f14 b mr10" for="PID">身份证号:</label>
					<input type="text" name="PID" id="PID" value='<%= (@user_info != nil && @user_info["identity_card"] != nil) ? @user_info["identity_card"] : "" %>' /><span class="not-null" id="id-star">*</span>
				</p>
				<p>	
					<label class="f14 b mr10" for="bankcard-number">银行卡号:</label>
					<input type="text" name="bankcard-number" id="bankcard-number" value='<%= (@user_info != nil && @user_info["bankcard_number"] != nil) ? @user_info["bankcard_number"] : "" %>' /><span class="not-null" id="card-star">*</span>
				</p>
				<p>	
					<label class="f14 b mr10" for="bank-name">开户银行:</label>
					<input type="text" name="bank-name" id="bank-name" value='<%= (@user_info != nil && @user_info["bank"] != nil) ? @user_info["bank"] : "" %>' /><span class="not-null" id="bank-star">*</span>
				</p>
				<p>	
					<label class="f14 b mr10" for="alipay">支付宝账号:</label>
					<input type="text" name="alipay" id="alipay" value='<%= (@user_info != nil && @user_info["alipay_account"] != nil) ? @user_info["alipay_account"] : "" %>' /><span class="not-null" id="alipay-star">*</span>
				</p>
				<p>
					<input type="checkbox" id="is-update-user" checked />
					<strong class="f14 b g3">将配送信息更新至我的个人信息</strong>
					<br/>
					<span class="g9 ml70">（下次兑换时无需再次输入配送信息。）</span>
				</p>					
				<div class="explain g9 tl">
					说明：<br/>手机号码请尽量填写手机，这样您兑换现金的时候可以接到短信通知
				</div>
				<a class="css-btn orange r mr10" href="javascript:void(0);" id="order-cash">兑换</a>
			</form>
			<% end %>
		</div>
		<% end %>
	</div>	
	<% else %>
	<div>该抽奖号已经抽过，但没有中奖。</div>
	<% end %>
<% else %>
<div>
错误的id
</div>
<% end %>
<% end %>

<!-- content for right -->
<% if @status != 0 || @lottery_code["lottery_status"] < 2 %>
<% content_for :right do %>
<div class="sidebar-box img-orangeBg">
	<h3 class="sidebar-title f14 b g3">抽奖规则</h3>
	<ul>
		<li>每个抽奖活动有固定的开奖时间，开奖期间您可以使用抽奖号进行抽奖</li>
		<li>一个抽奖号为一次抽奖机会</li>
		<li>中奖的用户请在中奖后提交您的配送信息，以便我们配送奖品</li>
	</ul>
	<h3 class="sidebar-title f14 b g3 mt10">抽奖流程</h3>
	<ul>
		<li>参加问卷调查或者通过积分兑换抽奖号</li>
		<li>等待抽奖活动开奖</li>
		<li>开奖期间，点击抽奖号进行抽奖</li>
		<li>中奖之后填写配送信息</li>
		<li>管理员审核通过后，配送礼品</li>
	</ul>
</div>
<% end %>
<% end %>
