
<div id="being-hit" class="vote inner-page">
  <div class="dashed-box">
    <div class="dashed-box-inner">
      <div class="dashed-box-inner-top">
        <h3 class="box-title">正在热播</h3>
      </div>
      <ul>
        <% @playing_movies.each do |movie|%>
          <li>
            <span class="movie-img"><img src="<%=movie.poster %>" alt="<%= movie.title%>" /></span>
            <span class="button-list">

              <a href="javascript:;" data-t=0 data-id="<%=movie.id.to_s%>" class="btn want-to-see">想看</a>
              <a href="javascript:;" data-t=2 data-id="<%=movie.id.to_s%>" class="btn have-read">看过</a>
              <a href="javascript:;" data-t=1 data-id="<%=movie.id.to_s%>" class="btn dont-want-to-see">不想看</a>              

            </span>
            <span class="shadow"></span>
            <span class="shadow-txt" style="top:-230px;"></span>
            <span class="content" style="top:-230px;">
              <span class="time">上映日期: <%= Time.at(movie.info_show_at).strftime('%F') %></span>
              <span class="actor">主演:<%=movie.info_actors%></span>
            </span>
            <span class="movie-name"><%=movie.title%></span>
          </li>
        <% end %>
     
      </ul>
    </div>
  </div>
</div> 

<div id="upcoming" class="vote inner-page">
  <div class="dashed-box">
    <div class="dashed-box-inner">
      <div class="dashed-box-inner-top">
        <h3 class="box-title">即将上映</h3>
      </div>
      <ul>
      <% @later_movies.each do |movie|%>
        <li>
          <span class="movie-img"><img src="<%=movie.poster %>" alt="<%= movie.title%>" /></span>
          <span class="button-list">
            <a href="javascript:;" data-id="<%=movie.id.to_s%>" class="btn want-to-see">想看</a>
            <a href="javascript:;" data-id="<%=movie.id.to_s%>" class="btn dont-want-to-see">不想看</a>
          </span>
          <span class="shadow"></span>
          <span class="shadow-txt" style="top:-230px;"></span>
          <span class="content" style="top:-230px;">
            <span class="time">上映日期: <%= Time.at(movie.info_show_at).strftime('%F') %></span>
            <span class="actor">主演:<%=movie.info_actors%></span>
          </span>
          <span class="movie-name"><%=movie.title%></span>
        </li>
        <%end %>      
      </ul>
    </div>
  </div>  


<% content_for :head do %>
  <%= stylesheet_link_tag "pages/vote/index-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/vote/index-bundle", :media => "all" %>
  <script type="text/javascript">
  </script>
<% end %>

