
<div id="being-hit" class="vote inner-page">
  <div class="dashed-box">
    <div class="dashed-box-inner">
      <div class="dashed-box-inner-top">
        <h3 class="box-title">正在热播</h3>
      </div>
      <ul>
        <% @playing_movies.each do |movie|%>
          <li>
            <span class="movie-img"><img src="<%=movie.poster %>" alt="<%= movie.title%>" /></span>
            <span class="button-list">
              <a href="javascript:;" class="btn want-to-see">想看</a>
              <a href="javascript:;" class="btn have-read">看过</a>
              <a href="javascript:;" class="btn dont-want-to-see">不想看</a>              
            </span>
            <span class="shadow"></span>
            <span class="shadow-txt" style="top:-230px;"></span>
            <span class="content" style="top:-230px;">
              <span class="time">上映日期: <%= Time.at(movie.info_show_at).strftime('%F') %></span>
              <span class="actor">主演:<%=movie.info_actors%></span>
            </span>
            <span class="movie-name"><%=movie.title%></span>
          </li>
        <% end %>
     
      </ul>
    </div>
  </div>
</div> 

<div id="upcoming" class="vote inner-page">
  <div class="dashed-box">
    <div class="dashed-box-inner">
      <div class="dashed-box-inner-top">
        <h3 class="box-title">即将上映</h3>
      </div>
      <ul>
      <% @later_movies.each do |movie|%>
        <li>
          <span class="movie-img"><img src="<%=movie.poster %>" alt="<%= movie.title%>" /></span>
          <span class="button-list">
            <a href="javascript:;" class="btn want-to-see">想看</a>
            <a href="javascript:;" class="btn dont-want-to-see">不想看</a>
          </span>
          <span class="shadow"></span>
          <span class="shadow-txt" style="top:-230px;"></span>
          <span class="content" style="top:-230px;">
            <span class="time">上映日期: <%= Time.at(movie.info_show_at).strftime('%F') %></span>
            <span class="actor">主演:<%=movie.info_actors%></span>
          </span>
          <span class="movie-name"><%=movie.title%></span>
        </li>
        <%end %>      
      </ul>
    </div>
  </div>  
<!-- <div id="being-hit" class="vote inner-page">
  <div class="dashed-box">
      <div class="dashed-box-inner">
        <div class="dashed-box-inner-top">
          <h3 class="box-title">正在热播</h3>
        </div>
        <ul>
          <li>
            <span class="movie-img"><%#=image_tag "movies-img/3.jpg", :alt => "大头儿子和小头爸爸之秘密计划(2014)" %></span>
            <span class="button-list">
              <a href="javascript:;" class="btn want-to-see">想看</a>
              <a href="javascript:;" class="btn have-read">看过</a>
              <a href="javascript:;" class="btn dont-want-to-see">不想看</a>
            </span>
            <span class="shadow"></span>
            <span class="shadow-txt" style="top:-230px;"></span>
            <span class="content" style="top:-230px;">
              <span class="time">上映日期: 2014-10-1</span>
              <span class="actor">主演:刘纯燕/董浩/鞠萍/耿晨晨/陈苏/霍小雷</span>
            </span>
            <span class="movie-name">大头儿子和小头爸爸之秘密计划(2014)</span>
          </li>
          <li>
            <span class="movie-img"><%#=image_tag "movies-img/3.jpg", :alt => "大头儿子和小头爸爸之秘密计划(2014)" %></span>
            <span class="button-list">
              <a href="javascript:;" class="btn want-to-see">想看</a>
              <a href="javascript:;" class="btn have-read">看过</a>
              <a href="javascript:;" class="btn dont-want-to-see">不想看</a>
            </span>
            <span class="shadow"></span>
            <span class="shadow-txt"></span>
            <span class="content">
              <span class="time">上映日期: 2014-10-1</span>
              <span class="actor">主演:刘纯燕/董浩/鞠萍/耿晨晨/陈苏/霍小雷</span>
            </span>
            <span class="movie-name">大头儿子和小头爸爸之秘密计划(2014)</span>
          </li>
          <li>
            <span class="movie-img"><%#=image_tag "movies-img/3.jpg", :alt => "大头儿子和小头爸爸之秘密计划(2014)" %></span>
            <span class="button-list">

            </span>
            <span class="shadow"></span>
            <span class="shadow-txt"></span>
            <span class="content">
              <div class="loading">
                <%#=image_tag "loadingb.gif" %>
              </div>
            </span>
            <span class="movie-name">大头儿子和小头爸爸之秘密计划(2014)</span>
          </li>
          <li>
            <span class="movie-img"><%#=image_tag "movies-img/3.jpg", :alt => "大头儿子和小头爸爸之秘密计划(2014)" %></span>
            <span class="button-list">

            </span>
            <span class="shadow"></span>
            <span class="shadow-txt"></span>
            <span class="content">
              <h2>投票结果:</h2>
              <p>已有9990人投票</p>
              <ul id="progress-bar-content">
                <li class="progress-xk"><b>想看:999人</b><span class="progress-bar"><span class="progress" style="width:70%;"></span></span>
                  <span class="num">70%</span></li>
                <li class="progress-kg"><b>看过:99人</b><span class="progress-bar"><span class="progress" style="width:20%;"></span></span><span class="num">20%</span></li>
                <li class="progress-bxk"><b>不想看:9人</b><span class="progress-bar"><span class="progress" style="width:10%;"></span></span><span class="num">10%</span></li>
              </ul>
            </span>
            <span class="movie-name">大头儿子和小头爸爸之秘密计划(2014)</span>
          </li>
        </ul>
      </div>
  </div>
</div>

<div id="upcoming" class="vote inner-page">
  <div class="dashed-box">
      <div class="dashed-box-inner">
        <div class="dashed-box-inner-top">
          <h3 class="box-title">即将上映</h3>
        </div>
        <ul>
          <li>
            <span class="movie-img"><%#=image_tag "movies-img/3.jpg", :alt => "大头儿子和小头爸爸之秘密计划(2014)" %></span>
            <span class="button-list">
              <a href="javascript:;" class="btn want-to-see">想看</a>
              <a href="javascript:;" class="btn dont-want-to-see">不想看</a>
            </span>
            <span class="shadow"></span>
            <span class="shadow-txt" style="top:-230px;"></span>
            <span class="content" style="top:-230px;">
              <span class="time">上映日期: 2014-10-1</span>
              <span class="actor">主演:刘纯燕/董浩/鞠萍/耿晨晨/陈苏/霍小雷</span>
            </span>
            <span class="movie-name">大头儿子和小头爸爸之秘密计划(2014)</span>
          </li>
          <li>
            <span class="movie-img"><%#=image_tag "movies-img/3.jpg", :alt => "大头儿子和小头爸爸之秘密计划(2014)" %></span>
            <span class="button-list">
              <a href="javascript:;" class="btn want-to-see">想看</a>
              <a href="javascript:;" class="btn dont-want-to-see">不想看</a>
            </span>
            <span class="shadow"></span>
            <span class="shadow-txt"></span>
            <span class="content">
              <span class="time">上映日期: 2014-10-1</span>
              <span class="actor">主演:刘纯燕/董浩/鞠萍/耿晨晨/陈苏/霍小雷</span>
            </span>
            <span class="movie-name">大头儿子和小头爸爸之秘密计划(2014)</span>
          </li>
          <li>
            <span class="movie-img"><%#=image_tag "movies-img/3.jpg", :alt => "大头儿子和小头爸爸之秘密计划(2014)" %></span>
            <span class="button-list">

            </span>
            <span class="shadow"></span>
            <span class="shadow-txt"></span>
            <span class="content">
              <div class="loading">
                <%#=image_tag "loadingb.gif" %>
              </div>
            </span>
            <span class="movie-name">大头儿子和小头爸爸之秘密计划(2014)</span>
          </li>

          <li>
            <span class="movie-img"><%#=image_tag "movies-img/3.jpg", :alt => "大头儿子和小头爸爸之秘密计划(2014)" %></span>
            <span class="button-list">

            </span>
            <span class="shadow"></span>
            <span class="shadow-txt"></span>
            <span class="content">
              <h2>投票结果:</h2>
              <p>已有9990人投票</p>
              <ul id="progress-bar-content">
                <li class="progress-xk"><b>想看:999人</b><span class="progress-bar"><span class="progress" style="width:70%;"></span></span>
                  <span class="num">70%</span></li>
                <li class="progress-bxk"><b>不想看:9人</b><span class="progress-bar"><span class="progress" style="width:10%;"></span></span><span class="num">10%</span></li>
              </ul>
            </span>
            <span class="movie-name">大头儿子和小头爸爸之秘密计划(2014)</span>
          </li>
        </ul>
      </div>
  </div>
</div> -->

<% content_for :head do %>
  <%= stylesheet_link_tag "pages/vote/index-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/vote/index-bundle", :media => "all" %>
  <script type="text/javascript">
  </script>
<% end %>

