<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title or "#{corp_name_short}" %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="<%= corp_name %>网络调研/网络调查平台是专业从事网络数据产品和市场调研的第三方服务商，为您提供优质、科学、严谨的数字化调研和研究咨询服务。" />
	<meta name="Keywords" content="<%= corp_name_short %>,<%= corp_name %>,网络调查,网络调研,数字化调研,优数调研,市场调研,研究咨询,连续性调研,问卷调查" />

  <%= stylesheet_link_tag    "layouts/app-layout" %>
  <%= javascript_include_tag "layouts/app-layout" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/od-quillme/favicon.ico">
	<%= yield :app_head %>

	<script type="text/javascript">
	jQuery(function($) {
		// init form inputs' values from url params
		$('input[param], textarea[param], a[param]').odParam();
	});
	</script>

</head>
<body>

<%= content_for?(:app_content) ? yield(:app_content) : yield %>

<% if Rails.env.production? %>
<div style='display:none;'>
	<!-- Baidu statistic -->
	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fbd6514854e0a82f4cf35b8a23b78ee51' type='text/javascript'%3E%3C/script%3E"));
	</script>
</div>
<% end %>
</body>
</html>
