%html
	%head
		%title Oops! Data
		= #stylesheet_link_tag 'application'
		= #javascript_include_tag 'application'
		= stylesheet_link_tag 'invalid', 'style', 'reset'
		= javascript_include_tag 'facebox', 'jquery', 'jquery.date', 'jquery.datePicker', 'jquery.wysiwyg', 'simpla.jquery.configuration'
		= csrf_meta_tags 
	%body
		#header
			- if flash[:notice] != nil
				= flash[:notice]
			- if flash[:error] != nil
				= flash[:error]
		#main
			=yield
