<% content_for :app_head do %>
  <%= stylesheet_link_tag    "layouts/carnival-layout" %>
  <%= javascript_include_tag "layouts/carnival-layout" %>
	<style>
/*		.section.a {filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(100%);}*/
	</style>
  <script type="text/javascript">
  FAYE_SERVER_URL = "<%= Setting.faye_server %>";

  jQuery(function($) {

  });
  </script>

  <%= yield :head %>

<% end %>

<% content_for :app_content do %>
  <div class="header">
    <div class="page">
      <div class="header-box">
        <div class="bulletin">
          <ul>
            <li><span>5分钟之前</span>  <span>XXX</span> <span>获得了</span> <span>门票一张<1> </1></span></li>
            <li><span>5分钟之前</span>  <span>XXX</span> <span>获得了</span> <span>门票一张<2> </2></span></li>
            <li><span>5分钟之前</span>  <span>XXX</span> <span>获得了</span> <span>门票一张<3> </3></span></li>
          </ul>
        </div>

         <div class="questions">
          <a class="link" href="javascript:void(0);">FAQ<b></b></a>
          <ul>
            <li><span class="title">如何参与活动?</span><span class="text">滚动至页面最下方，抢得嘉年华门票即可开始闯关。</span></li>
            <li><span class="title">3个关卡必须都完成吗？</span><span class="text">3个关卡顺序开通，每个关卡均设置奖品，通关后还可参与抽取小米大奖。</span></li>
            <li><span class="title">都有哪些奖品？</span><span class="text">第一关为10元充值卡（100%中奖），第二、三关为神秘礼品，完成第三关还可参加小米note（2台）、小米盒子增强版（5个）、小米电源（20个）抽奖哦。</span></li>
            <li><span class="title">如何领奖？</span><span class="text">问卷吧统一在活动结束后公布大奖获奖名单，并电话联系中奖者寄出奖品。</span></li>
          </ul>
        </div>


				<div class="share">
          <a class="link" href="javascript:void(0);">分享拿大奖<b></b></a>
          <div class="share-box">
          	<p>
							成功邀请1次可抽奖1次
						</p>
          	<ul class="share">
        			<li><a class="sina" href="javascript:void(0);"></a></li>
		           <li><a class="tencent" href="javascript:void(0);"></a></li>
		           <!-- <li><a class="weixin" href="javascript:void(0);"><i></i>微信朋友圈</a></li> -->
		           <li><a class="qq" href="javascript:void(0);"></a></li>
		           <li><a class="qzone" href="javascript:void(0);"></a></li>
		           <li><a class="renren" href="javascript:void(0);"></a></li>
		           <li><a class="douban" href="javascript:void(0);"></a></li>
        		</ul>
        		<div style="clear:both;"></div>
        		<div class="share-lottery">
        			
							<a class="disabled" href="javascript:void(0);">抽奖（通关后开启）</a>
							<p>
								已获得 <b>100</b> 次抽大奖机会
							</p>
        		</div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <%= yield %>
  <div class="footer">
    <div class="page">
      <div class="footer-box">
       <span class="copy">本次活动最终解释权归 <a href="/">问卷吧</a> 所有</span>
       <!-- 在线交流 -->
       <span class="contact">
          <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2523562014&site=qq&menu=yes">客服QQ: 2523562014</a>
          <!-- <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2523562014&site=qq&menu=yes">百度网桥</a> -->
          <span>电话: 400-650-7905 转838</span>
       </span>
      </div>
    </div>
  </div>
  <div style='display:none;'><script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb54732309180d2feab954364fdebf7f2' type='text/javascript'%3E%3C/script%3E")) </script>
  </div>
<% end %>

<%= parent_layout 'app' %>