<!DOCTYPE html>
<html>
<head>
  <title>问卷吧嘉年华</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="<%= corp_name %>网络调研/网络调查平台是专业从事网络数据产品和市场调研的第三方服务商，为您提供优质、科学、严谨的数字化调研和研究咨询服务。" />
  <meta name="Keywords" content="<%= corp_name_short %>,<%= corp_name %>,网络调查,网络调研,数字化调研,优数调研,市场调研,研究咨询,连续性调研,问卷调查" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

  <%= stylesheet_link_tag    "layouts/carnival-layout" %>
  <%= javascript_include_tag "layouts/app-layout" %>
  <%= javascript_include_tag "layouts/carnival-layout" %>

  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/od-quillme/favicon.ico">

  <%= yield :head %>

</head>
<body>

  <div class="header">
  </div>
  <%= yield %>
<!--   <div class="footer">
    <div class="page">
      <div class="footer-box">
       <span class="copy">本次活动最终解释权归 <a href="/">问卷吧</a> 所有</span>
       <span class="contact">
          <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2523562014&site=qq&menu=yes">客服QQ: 2523562014</a>
          <span>电话: 400-650-7905 转838</span>
       </span>
      </div>
    </div>
  </div> -->
</body>
</html>
