<% content_for :app_head do %>
	<%= javascript_include_tag "layouts/filler-mobile" %>
	<%= stylesheet_link_tag    "layouts/filler-mobile" %>


	<script type="text/javascript">
		window.survey_id = '<%= @survey["_id"] %>';
		window.is_preview = <%= @is_preview.blank? ? false : @is_preview %>;
		window.spread_url = <%= raw @spread_url.to_json %>;
		window.current_user_id = <%=  raw (current_user.nil? ? nil.to_json : current_user._id.to_s.to_json) %>;
	</script>

	<%= yield :head %>

<% end %>

<% content_for :app_content do %>

<%= yield %>
	<div class="spread">
		<div class="s_icon">
			<div class="share_top">
<!-- 				<h1>将问卷分享到:</h1> -->
				<ul>
					<li class='l'>
						<a href='javascript:void(0);' class='share-icon icon-SinaWeibo' title='分享至 新浪微博'>
							<%= image_tag('od-mobile/sina.png')%>
						</a>
					</li>
					<li class='c'>
						<a href='javascript:void(0);' class='share-icon icon-TencentWeibo' title='分享至 腾讯微博'>
							<%= image_tag('od-mobile/tqq.png')%>
						</a>
					</li>
					<li class='r'>
						<a href='javascript:void(0);' class='share-icon icon-QQSpace' title='分享至 QQ 空间'>
							<%= image_tag('od-mobile/qq.png')%>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<% if @survey && @survey.spread_point.to_i > 0 %>
			<div class="describe-txt">
				<div class="describe_inner">
					每成功邀请一位好友答题可获<em><%= @survey.spread_point %></em>积分,邀请越多积分越多!
				</div>
			</div>
		<% end %>		
	</div>



<% end %>

<%= render :template => 'layouts/app' %>
