<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=7"/>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
  <%= csrf_meta_tags %>
  <title>电子杂志</title>
  <%= stylesheet_link_tag "pages/admin/newsletter_edit-bundle", :media => "all" %>
  <%= stylesheet_link_tag "pages/admin/newsletters-bundle", :media => "all" %>
  <%= javascript_include_tag "pages/admin/newsletters/newsletter-class-bundle" %>
  <%= yield :head %>
</head>
<body>
<div class="zine fix">
  <div class="zine-logo">
    <img src="/assets/logo-cn.png" alt="优数调研">
    <a href="http://oopsdata.com/contact" class="phone-number r">
      <span class="ico-phone"></span>
      <span class="number">联系我们</span>
    </a>
  </div>
  <%= yield %>


  <div class="footer fix">
    <a href="http://oopsdata.com/contact" class="phone-number l">
      <span class="number" style="margin-top:-5px;">联系我们</span>
      <span class="ico-phone" style="bottom: -8px;left: 15px;"></span>
    </a>
    <span>了解更多请访问 <a href="http://oopsdata.com/">www.oopsdata.com</a></span>
  </div>
  <div class='team'>
    如果您错误的接收到了电子杂志，或者不想接受我们的电子杂志，请
    <a href="javascript:void(0);">取消订阅</a>
  </div>
</div>
<div id="edit-pad">
  <button class="od-button" id="newsletter-return-btn">返回列表</button>
  <button id="newsletter-edit-btn" class="od-button">杂志信息</button>
  <%= yield :button %>
  <button id="column-new-btn" class="od-button">新建栏目</button>

  <div id="newsletter-edit-dlg" title="杂志信息">
    <label for="newsletter-title-edit">标题</label>
    <input type="text" id="newsletter-title-edit" name="newsletter_title">
    <button id="newsletter-update-btn" class="btn submit" >提交</button>
  </div>

  <div id="column-create-dlg" title="新栏目">
    <label for="column_title">标题</label>
    <input type="text" id="column-title-new" name="column_title">
    <button id="column-create-btn">提交</button>
  </div>

  <div id="column-edit-dlg" title="编辑栏目">
    <form>
    <p id="column-edit-pad">
      <input type="hidden" id="column-id" name="column_id"/>
      <label for="column-title-edit">栏目标题：</label>
      <input id="column-title-edit" type="text" autofocus placeholder="请输入栏目标题">
      <a href="javascript:void(0);" id="column-update-btn">保存</a>
      <a href="javascript:void(0);" id="column-delete-btn">删除</a>
    </p>
    <p>
      <label for="article-list">选择文章：</label>
      <select id="article-list" >
      </select>
      <a href="javascript:void(0);" id="article-edit-btn">编辑</a>
      <a href="javascript:void(0);" id="article-delete-btn">删除</a>
      <a href="javascript:void(0);" id="article-new-btn">新增</a>
    </p>
    <div id="article-edit-div" style="display:none">
    <input type="hidden" id="article-id" name="article_id"/>
    <p>
      <label for="article-caption">文章标题：</label>
      <input id="article-caption" type="text" autofocus placeholder="请输入文章标题">
    </p>
    <p>
      <label for="article-url">标题链接：</label>
      <input id="article-url" type="text" autofocus placeholder="请输入标题链接">
    </p>
    <p>
      <label for="article-time">发布时间：</label>
      <input id="article-time" type="text" autofocus placeholder="请输入发布时间">
    </p>
    <p id="image-edit-pad">
      <label for="article-image_url">文章配图：</label>
      <input id="article-image_url" type="text" autofocus placeholder="请输入图片地址">
      <span class="right">
        <input type="checkbox" id="article-right">
        <label style="display:inline-block;" for="article-right">图片居右</label>
      </span>
    </p>
    <p>
      <label for="article-abstract">文章摘要：</label>
      <textarea name="article_abstract" id="article-abstract" cols="30" rows="10"></textarea>
    </p>
    <button class="btn submit" id="article-create-btn">提交保存</button>
    <button class="btn submit" id="article-update-btn">提交保存</button>
    </div>
  </form>

  </div>
</div>

</body>
  <%= javascript_include_tag "pages/admin/newsletters/newsletter-bundle" %>

</html>