<% content_for :app_head do %>
	<%= stylesheet_link_tag    "layouts/sign-layout" %>
	<%= javascript_include_tag "layouts/sign-layout" %>
	<%= yield :head %>
<% end %>

<% content_for :app_content do %>
<a href="<%=@signin_btn ? signin_path : signup_path  %>" class="btn reg r" param='e tpui i'><em><%=@signin_btn ? '登 录' : '注 册'  %></em></a>
<div class="main">
	<a class="logo" href="/"><img src="../../assets/login/logo.png" alt="<%= corp_name %>"></a>
<%= yield %>
</div>
<div class='footer'><%= icp_info %> <%= raw copyright_html %></div>
<span id='error_prompt' class="error-prompt">
	<span class="error-prompt-l"></span><!--  
--><span class="error-prompt-txt"></span><!--  
--><a href="javascript:void(0);" class="close-error"></a><!--  
--><span class="error-prompt-r"></span>
</span>
<% end %>

<%= render :template => 'layouts/app' %>