<% content_for :head do %>
<% end %>

<% content_for :sidenav do %>

  <li>
    <a href="/admin/samples/<%= params["id"] %>/edit">
    <i class="icon-chevron-right"></i>
    基本属性
    </a>
  </li>
  <li>
    <a href="/admin/samples/<%= params["id"] %>/answer_log">
    <i class="icon-chevron-right"></i>
    礼品兑换记录
    </a>
  </li>
  <li>
    <a href="/admin/samples/<%= params["id"] %>/point_log">
      <i class="icon-chevron-right"></i>
      积分变化记录
    </a>
  </li>
  <li>
    <a href="/admin/samples/<%= params["id"] %>/lottery_log">
      <i class="icon-chevron-right"></i>
      抽奖记录
    </a>
  </li>
  <li class="active">
    <a href="/admin/samples/<%= params["id"] %>/answer_log">
      <i class="icon-chevron-right"></i>
      回答历史记录
    </a>
  </li>
  <li>
    <a href="/admin/samples/<%= params["id"] %>/spread_log">
      <i class="icon-chevron-right"></i>
      问卷推广记录
    </a>
  </li>
<% end %>
<div>
  <span>
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">⃞&nbsp;<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="?" class="select-all-btn"><input type="checkbox" value="">&nbsp;全部</a></li>
        <li class="divider"></li>
      </ul>
    </div>
    <form class="form-search" style="display:inline">
      <div class="input-append">
        <input type="text" name="title" class="span6 search-query">
        <button type="submit" class="btn">Search</button>
      </div>
    </form>
  </span>
  <span class="pull-right">
    <%= paginator_mini @answers %>
  </span>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>问卷标题</th>
        <th>时间</th>
        <th>状态</th>
        <th>获得奖励</th>
      </tr>
    </thead>
    <tbody>
      <% @answers["data"].each_with_index do |a, i| %>
      <tr>
        <td><%= a["survey_title"] %></td>
        <td><%= int_time_to_date(a["created_at"].to_i) %></td>
        <td><%= sanitize(answered?(a["answer_status"], a["answer_reject_type"], a["free_reward"])) %>
        </td>
        <td><%= sanitize a["select_reward"] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
