<% content_for :head do %>
<% end %>

<% content_for :sidenav do %>

  <li>
    <a href="/admin/samples/<%= params["id"] %>">
    <i class="icon-chevron-right"></i>
    基本属性
    </a>
  </li>
  <li class="active">
    <a href="/admin/samples/<%= params["id"] %>/redeem_log">
    <i class="icon-chevron-right"></i>
    礼品兑换记录
    </a>
  </li>
  <li>
    <a href="/admin/samples/<%= params["id"] %>/point_log">
      <i class="icon-chevron-right"></i>
      积分变化记录
    </a>
  </li>
  <li>
    <a href="/admin/samples/<%= params["id"] %>/lottery_log">
      <i class="icon-chevron-right"></i>
      抽奖记录
    </a>
  </li>
  <li>
    <a href="/admin/samples/<%= params["id"] %>/answer_log">
      <i class="icon-chevron-right"></i>
      回答历史记录
    </a>
  </li>
  <li>
    <a href="/admin/samples/<%= params["id"] %>/spread_log">
      <i class="icon-chevron-right"></i>
      问卷推广记录
    </a>
  </li>
<% end %>
<div>
  <span>
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">⃞&nbsp;<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="?" class="select-all-btn"><input type="checkbox" value="">&nbsp;全部</a></li>
        <li class="divider"></li>
      </ul>
    </div>
    <form class="form-search" style="display:inline">
      <div class="input-append">
        <input type="text" name="title" class="span6 search-query">
        <button type="submit" class="btn">Search</button>
      </div>
    </form>
  </span>
  <span class="pull-right">
    <%= paginator_mini @redeem_log %>
  </span>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>奖品名称</th>
        <th>兑换时间</th>
        <th>花费</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @redeem_log["data"].each_with_index do |log_item, i| %>
      <tr>
        <td><a href=""><%= log_item["gift_name"] %></a></td>
        <td><%= log_item["created_at"] %></td>
        <td>
          <%= log_item['amount'] %>
        </td>
        <td>
          <%= log_item['result'] ? link_to("查看订单", admin_order_path(log_item["order_id"]) ) : '' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>