<% content_for :head do %>
  <%= javascript_include_tag "pages/admin/samples/status-bundle" %>
<% end %>
<% content_for :sidenav do %>

  <li>
    <a href="/admin">
    <i class="icon-chevron-right"></i>
    样本列表
    </a>
  </li>
  <li>
    <a href="/admin/samples/attributes">
    <i class="icon-chevron-right"></i>
    样本属性
    </a>
  </li>
  <li class="active">
    <a href="/admin/sample/stats">
      <i class="icon-chevron-right"></i>
      样本数据统计
    </a>
  </li>
<% end %>
<div class="bs-docs-example">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#sample_tab" data-toggle="tab">样本数据</a></li>
    <li><a href="#active_tab" data-toggle="tab">活跃样本数据</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="sample_tab">
      <div class="well">
        <ul>
          <li><a href="#" class="count grey" title=""><%= @sample_count['normal_sample_number'] %></a><span>个样本</span></li>
          <li><a href="#" class="count grey" title=""><%= @sample_count['block_sample_number'] %></a><span>个被列入黑名单</span></li>
          <li><a href="#" class="count grey" title=""><%= @new_user_by_day %></a><span>个日新增样本</span></li>
          <li><a href="#" class="count grey" title=""><%= @new_user_by_week %></a><span>个周新增样本</span></li>
        </ul>
      </div>
      <div id="sample_stats_charts"></div>

      <div class="widget first" id="sample_stats_panel">
        <div class="head">
          <h5 class="iGraph">样本数据</h5>
        </div>
        <div class="body">
          <div class="action-bar">
            <label>按照</label>
            <select id="" name="period">
              <option value="year">年</option>
              <option value="week">周</option>
              <option value="day">日</option>
            </select>
            向后
            <select name="time_length">
              <% (1..30).each do |n| %>
                <option value="<%= n %>"><%= n %></option>
              <% end %>
            </select>
            个周期
            <select name="type">
              <option value="unit">查看单位周期结果</option>
              <option value="cumulation">查看累计周期结果</option>
            </select>
            <button class="btn btn-primary">ok</button>
          </div>
        </div>
      </div>      
    </div>
    <div class="tab-pane fade" id="active_tab">
      <div class="well">
        <ul>
          <li><a href="#" title=""><%= @active_user_by_day %></a><span>日活跃用户</span></li>
          <li><a href="#" title=""><%= @active_user_by_week %></a><span>周活跃用户</span></li>
        </ul>
      </div>
      <div id="active_sample_stats_charts"></div>

      <div class="well well-small" id="active_sample_stats_panel">
        <select id="" name="period">
          <option value="year">年</option>
          <option value="week">周</option>
          <option value="day">日</option>
        </select>
        <select name="time_length">
          <% (1..30).each do |n| %>
            <option value="<%= n %>"><%= n %></option>
          <% end %>
        </select>
        <input type="hidden" name="type" value="unit" />
        <button class="btn btn-primary">ok</button>      

      </div>
    </div>
  </div>
</div>





